<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css" rel="stylesheet" type="text/css" />
<link href="../../css/triage.css" rel="stylesheet" type="text/css" />
<link href="../../css/boxy/css/boxy.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.boxy.js"></script>
<title>支付初次咨询费</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="main-header">  
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>
</header>

<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
  <div class="nav-app">
      <a href="#"><div class="nav-pic"></div>
      <span>下载应用</span></a>
  </div>
    <ul  style="display:none;">
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>



 <section class="triage-tips clearfix">
 <div class="triage-con">

 <img src="../../images/kfdh.jpg" alt="" title="400-0571-574" class="kf-img" />
  <div class="tri-payoff">
  <p class="pay-tip2">√ 您已成功付款 20.00元，请前往填写您的咨询信息或联系人工电话客服，并保持您填写的手机48小时内畅通，以便专家进一步联系您详询病情</p>
   <p class="tri-pay-sec"><span>6</span> 秒后自动跳转至信息填写页</p>

   <p  class="pay-sub"><a href="triageinfo.html"><input name=" " type="button" class="tri-submit" value="前往填写信息"/></a>
   </div>
   
</div>
 </section> 


 <footer class="clearfix">
      <div class="footer footer980">

          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>
   <div class="tri-docdetail clearfix" id="tri-docdetail" style="display:none" >
   <img src="../../images/themes/pho2.png" alt="" class="doc-img" />
   <div class="tri-des">
    <p class="doc-name"><em>姓名：</em>医生姓名</p>
    <p class="doc-ks"><em>科室：</em>心内科</p>
    <p class="doc-zc"><em>头衔职称：</em>主任医师，教授</p>
    <p class="doc-spec"><em>医疗专长：</em></p>
    <p class="doc-time"><em>门诊时间：</em> 周二下午、周三上午、周五全天</p>
    <p class="doc-time">硕士学位，副主任医师；毕业于第四军医大学研究生院。 从事心血管内科及干部保健工作近三十年。熟练掌握心血管内科常见病和多发病的诊断和处理，能独立处理心血管内科急诊和疑难危重病例，擅长冠心病、高血压、心律失常等心内科疾病的综合诊断治疗。</p>
    </div>
   </div>

<div id="tri-provision" style="display:none">  
        <div class="sendbox">
         <div class="fltk">
           <p>法律条款111111111</p>
         </div>
           <span><input id="submitBtn" type="button" value="同意" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        </div>
</div>
   <script>
$(function(){
    $(".tri-detail").boxy({title: "医生详情",modal:true});
     $(".tri-prov").boxy({title: "法律条款",modal:true});
  })
</script>
</body>
</html>
