<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css" rel="stylesheet" type="text/css" />
<link href="../../css/triage.css" rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../js/jquery.poshytip.min.js" type="text/javascript"></script>

<title>填写个人信息</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="main-header">  
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>
</header>

<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
  <div class="nav-app">
      <a href="#"><div class="nav-pic"></div>
      <span>下载应用</span></a>
  </div>
    <ul  style="display:none;">
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>




 <section class="tri-infomain clearfix">
   <p class="add-tit width980">请详细填写必要的信息，以便医生分诊</p>

   <div class="add-input">
    <ul class="addul">
     <li>
     <div class="tri-label">患者姓名：</div>
     <div class="tri-intext"><input type="text" name="name" id="name"  class="form-input inactive box-input" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/> <input type="button" name="myself" class="myself" value="本人"></div>
     <div class="add-field" id="textname" style="display:none">需要就诊的患者姓名。点击本人自动填写基本信息</div>
     </li>
     <li>
     <div class="tri-label">性别：</div>
     <div class="tri-intext"><input type="text" name="textfield" id="secret"  class="form-input inactive box-input" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/></div>
     </li>
     <li>
     <div class="tri-label">患者年龄：</div>
     <div class="tri-intext"><input type="text" name="textfield" id="secretb" class="form-input inactive box-input" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'" /></div>
     </li>
      <li>
     <div class="tri-label">身份证号：</div>
     <div class="tri-intext">
       <input type="text" name="idnum" id="idnum" class="form-input inactive box-input" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'" />
     </div>
     </li>
     <li>
     <div class="tri-label">患者手机：</div>
     <div class="tri-intext">
       <input type="text" name="tel" id="tel"  class="form-input inactive box-input" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
     </div>

     </li>
      <li>
     <div class="tri-label">过往诊史：</div>
     <div class="tri-intext">
       <textarea name="" class="form-input inactive" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"></textarea>
     </div>
     <div class="add-field" id="textname" style="display:none" >详细描述您的过往就诊史，包括就医医院、科室、医生处方等</div>
     </li>
      <li>
     <div class="tri-label">病情描述：</div>
     <div class="tri-intext">
       <textarea name="" class="form-input inactive" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"></textarea>
     </div>
    <div class="add-field" id="textdescribe" style="display:none">详细描述病情起因、开始时间、症状、用药情况等</div>
     </li>
     <li>
     <div class="tri-label">影像资料：</div>
     <div class="tri-intext">
        <a class="tri-a" href="">点击上传压缩包</a>
        <a class="tri-a" href="">从云影像获取并推送</a>
     </div>
     </li>
    </ul>
   </div>
   <div class="tri-info-sub">

   <p><a href="triagerecord-patient.html"><input name=" " type="submit" class="tri-submit" id="submit" value="提 交"/>
   </p>
   </section>




  <footer class="clearfix">
      <div class="footer footer980">

          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>
<script>
$(function(){

	$('.add-input .box-input').each(function(){
     var html = $(this).parent().next('.add-field').html();
		$(this).poshytip({
			content:html,
			className:'tip-yellowsimple',
			showOn:'focus',
			alignTo: 'target',
			alignX: 'right',
			alignY: 'center',
			offsetX: 65,	
			showTimeout: 100
		});
	});
  $('.tri-intext textarea').each(function(){
         var html = $(this).parent().next('.add-field').html();
    $(this).poshytip({
      content:html,
      className:'tip-yellowsimple',
      showOn:'focus',
      alignTo: 'target',
      alignX: 'right',
      alignY: 'center',
      offsetX: 5,  
      showTimeout: 100
  });
});
});
</script>
</body>
</html>
