<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css" rel="stylesheet" type="text/css" />
<link href="../../css/triage.css" rel="stylesheet" type="text/css" />
<link href="../../css/boxy/css/boxy.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.boxy.js"></script>
<script src="../../js/jquery.slides.min.js"></script>
<title>全球影像用户界面用户注册</title>
  <script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="main-header">  
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>
</header>

<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
  <div class="nav-app">
      <a href="#"><div class="nav-pic"></div>
      <span>下载应用</span></a>
  </div>
    <ul  style="display:none;">
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>

<section class="triage-con">
<div class="tri-hosname">上海交通大学医学院附属仁济医院 <span class="tri-class">三甲医院</span></div>
 <div class="tri-intro clearfix">
 <img  border="0" hspace="0" alt="" src="http://www.renji.com/Forms/Root/Blob/20143289114313620.jpg"/>
  <p>仁济医院建于1844年，是上海开埠后第一所西医医院。医院目前由东西南北四个院区和上海市肿瘤研究所组成，是一个学科门类齐全，集医疗、教学、科研于一体的综合性三级甲等医院：东院位于浦东陆家嘴金融贸易区内，于1999年10月建成投入使用，占地86875m2，建筑面积206859 m2；西院位于黄浦区中央商务区内，毗邻外滩，占地7811 m2，建筑面积31959 m2；南院位于闵行区浦江镇，紧邻世博家园，于2012年12月建成投入使用，占地68497 m2，建筑面积82590 m2；北院位于巨野路灵山路，占地6667 m2，建筑面积17350 m2，于2013年7月全面启用；肿瘤所位于斜土路，总建筑面积7523 m2，由癌基因与相关基因国家重点实验室、肿瘤流行病学研究室、十三个相关的研究课题组、辅助部门公共服务平台与《肿瘤》杂志编辑部组成，于2010年10月与仁济医院正式“院所合一”。</p>

  <p>医院东、西、北三个院区目前总核定床位1400张，南院核定床位600张。截止2013年底，医院共有在编职工2511人（不含南院），其中正、副高级职称专家328名；博导57名、硕导148名。医院设有50个临床医技科室：消化科、心内科、血液科、风湿病科、老年病科、呼吸科、肾脏科、神经内科、内分泌科、肿瘤科、肿瘤介入科、康复科、急诊科、核医学科、放射诊疗科、泌尿科、胃肠外科、胆胰外科、乳腺外科、骨科、心血管外科、胸外科、血管外科、神经外科、功能神经科、肝脏外科、整形外科、麻醉科、中医科、儿科、眼科、妇产科、妇科肿瘤科、生殖医学科、五官科、头颈外科、皮肤科、感染科、口腔科、营养科、放射科、超声医学科、病理科、检验科、药剂科、输血科、内科门诊、健康保健中心、变态反应科、重症医学科。</p>

  <p>近年来，医院申请到的科研项目及专利逐年递增，包括国家级的973计划、863计划、国家自然基金（重大、重点）项目等，其中2013年科研经费达1.48亿元。医院还获得多项国家科技进步奖、中华医学科技奖、高等学校科技进步奖等；先后共有几百人次入围各级人才培养计划，包括973首席科学家、长江特聘教授、卫生部有突出贡献中青年专家、国家杰出青年、上海市领军人才等。医院与美国、加拿大、法国、比利时、德国等近十个国家的二十多所医学院校建立了学术交流和友好合作关系。</p>


   <ul class="tri-depart">
     <h2>推荐科室</h2>
     <li><a href="">风湿免疫科</a></li>
     <li><a href="">消化科</a></li>
     <li><a href="">肝脏外科</a></li>
     <li><a href="">胆囊外科</a></li>
     <li><a href="">不孕不育（生殖医学科）</a></li>
     <li><a href="">心内科</a></li>
     <li><a href="">心外科</a></li>
   </ul>
</div>

</section>


  <footer class="clearfix">
      <div class="footer footer980">

          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>


   <div class="tri-docdetail  clearfix" id="tri-docdetail" style="display:none" >
   <img src="../../images/themes/pho2.png" alt="" class="doc-img" />
   <div class="tri-des">
    <p class="doc-name"><em>姓名：</em>医生姓名</p>
    <p class="doc-ks"><em>科室：</em>心内科</p>
    <p class="doc-zc"><em>头衔职称：</em>主任医师，教授</p>
    <p class="doc-spec"><em>医疗专长：</em></p>
    <p class="doc-time"><em>门诊时间：</em> 周二下午、周三上午、周五全天</p>
    <p class="doc-time">硕士学位，副主任医师；毕业于第四军医大学研究生院。 从事心血管内科及干部保健工作近三十年。熟练掌握心血管内科常见病和多发病的诊断和处理，能独立处理心血管内科急诊和疑难危重病例，擅长冠心病、高血压、心律失常等心内科疾病的综合诊断治疗。</p>
    </div>
   </div>
<script>
$(function(){
    $(".tri-detail").boxy({title:"医生介绍",modal:true});
  })
</script>
</body>
</html>
