/**
*@Description: public payment css  
*@Author:      xuy  
*@Update:      xuy(2016-7-18 16:30)  
**/
/***------------payment management--------------****/
.agency-payment{display: none;}
.agency-table-tab ul{position: relative;border-bottom: 1px solid #2aacc6; bottom: -1px; width:193px; border-bottom: 0; line-height:30px;margin-top:40px;overflow:hidden;}
.agency-table-tab li{line-height:40px;padding:0 20px;float:left;color:#898989; font-size: 14px; cursor: pointer;  border-radius:4px 4px 0 0;}
.agency-table-tab .current{ border-top-right:4px;background:#2aacc6; font-weight: bold; color:#fff;}
.new-coo{ width: 100%;}
.coo-config-tit{margin:30px 0; width: 100%; text-align:left;}
.coo-config-tit h4{float: left; width: 200px; text-indent: 30px; font:bold 14px/30px Mircrosoft Yahei,sans-serif;}
.coo-config-tit h3{float: left; width: 300px; line-height: 30px; text-align: center;}
.coo-config-tit h3 em{color: #ff8f2c; font-weight: bold;}
.coo-config-tit input{float:left; padding: 5px 10px;}
.coo-step{position: relative;margin-bottom: 20px;padding-bottom: 10px; width:99%; min-height: 150px;background: #fff;box-shadow: 0 2px 4px #ccc; }
.coo-step h3{width: 260px; font: bold 15px/35px Microsoft Yahei,sans-serif; text-indent: 20px;}
.coo-step .form-checkbox ul li{float: left;}
.coo-step .title-coo-step-check{display:block; font-weight: bold; color: #285181; margin-left: 25px;}

.config-searchbar{position: relative;width: 220px;  height: 32px; clear:both; line-height: 32px;margin:10px 0 0 20px;cursor: pointer;}
.config-searchbar .magnifier{position: absolute; width: 30px; height: 30px;top:0;right:5px;cursor: pointer; text-indent: -999px;font-size:0px; vertical-align: middle;background: url(../images/imgs.png) no-repeat 5px -102px;}
.config-searchbar input.text{ width:220px; }
.config-search-resault{position: relative;margin-top: 20px; padding:20px;border-top: 1px dotted #ddd; max-height: 100px;overflow-y:auto; font-size: 14px;}
.config-search-resault li{float: left; padding:5px 10px; margin-right: 10px; color:#666;cursor: pointer;}
.config-search-resault li input{display: none;}
.config-search-resault li.checked{background: #2aabc5; color: #fff; border-radius: 4px;}
.coo-config-work ul{margin-left: 30px;}
.coo-config-work ul li{margin:10px 0; line-height: 30px;}
.coo-config-work li label{display:block; font-weight: bold; color: #285181; margin-right: 10px;}
.coo-config-work li span{display: inline-block; margin-right: 20px; font-size: 14px; }
.config-price{margin:10px 20px 10px 30px; height: 60px; font-size: 13px;}
.config-price label{display: block;float: left; font-weight: bold; color:#285181;line-height: 30px; }
.config-price select{display: block;float: left;  width: 100px;height: 30px; line-height: 30px; border:0; background-color:#eee; }
.price-del,.price-add{display:block; float: left; margin:5px 5px 5px 20px; width: 24px; height:24px;  text-indent: -9999px;background:url(../images/imgs.png) no-repeat;cursor: pointer;}
.price-add{background-position: -260px -75px;}
.price-del{background-position: -260px -100px;}
.price-setting{margin: 0 auto 30px; width: 98%; text-align: center;font-size:13px; line-height: 24px;}
.price-setting thead{background:#dcebee; line-height: 30px;font-size: 13px; border-right: 1px solid #eee;}
.price-setting td{border:1px solid #ddd;}
.price-setting td a{ margin:0 5px; color: #2aacc6;font-weight: bold;}
.price-special{padding:10px; width: 360px;}
.price-default{padding:10px; width: 800px;}
.price-ass,.price-defa-ass{width: 400px; padding: 20px;}
.price-ass td input,.price-defa-ass td input{margin: 0 auto; width:60px; font: 14px Microsoft Yahei,sans-serif;line-height: 24px;text-align: center;}

.price-set-detail,.price-reply{padding: 10px; width: 460px;}
.price-detial-block{margin-bottom: 20px; border-bottom: 1px solid #000;}
.price-detial-block h4,.price-reply h4{margin-bottom: 20px; color: #2aacc6; font-size: 15px;}
.price-info,.price-toolbar{margin:0 0 20px; height:30px; font-size: 13px;}
.price-info li{float: left; width: 40%; margin-right: 20px;,margin-bottom: 20px;}
.price-info label{color: #898989;}
.price-info li span{font-size: 14px; font-weight: bold;}
.price-toolbar input{float: right;}
.wait-del{background: #ccc;}
.confirm-btn{display: block; margin: 20px auto; width: 300px;height: 45px;}


.config-price .user-select{width:158px;border: 1px solid #d7d7d7;position: relative;float:left;margin-left: 82px;}
.config-price .grey-select{border: none;}
.config-price .user-select p{position: absolute;display:inline-block;top:0px;left:-70px; width:70px; text-align: right; font-weight: bold;   font-size: 13px; line-height: 30px;  color: #285181;}
.config-price .user-select-ul{width:157px;}
/*request list*/
.request-tab{border-bottom:1px solid #76be0d;}
.request-tab ul{position: relative; bottom: -1px; width:208px; border-bottom: 0; line-height:30px;margin-top:40px;overflow:hidden;   border-radius:4px 4px 0 0;}
.request-tab li{line-height:40px;padding:0 20px;float:left;color:#898989;  font-size: 14px; cursor: pointer;}
.request-tab li span{ display: inline; margin-left: 10px;}
.request-tab .current{ border-top-right:4px;background:#76be0d; font-weight: bold; color:#fff;}
.state-select:hover{}

/***------------payment process--------------****/
.pay-select{padding:20px; background: #fff;}
.pay-select h1{border-bottom: 4px solid #ddd; line-height: 60px; }
.pay-select h1 i{color: #ddd; }
.pay-select h1 em{font-size: 14px; color: #898989;}
.pay-det{margin:30px auto; width:100%; height:120px;  text-indent: 20px; /*border:1px solid #ccc; border-bottom: 2px solid #ccc;*/ line-height: 40px;}
.pay-det h2{line-height: 60px;}
.pay-det h2 em{color: #ff8f2c;font-weight: bold;}
.pay-det p{font-size: 14px; color: #666;}
.pay-det p strong{margin:0 3px;color: #2aacc6;}
.pay-select ul{padding:20px 0; border:1px solid #ddd;font-size: 14px; line-height: 30px;}
.pay-select li{margin-bottom: 10px;}
.pay-select li span{margin-left: 5px;font-size: 13px;}
.pay-select li label{display: inline-block; text-align: right; width: 150px; color: #666;}
.pay-select li span em{color:#2ba1a8;}
.pay-select li a{margin-left: 30px; color: #76be0d; text-decoration: underline;}
.pay-select .big-btn{margin: 30px 0;}

.pay-select li .user-select{position: relative;margin-left: 150px;width:158px;border: 1px solid #d7d7d7;}
.pay-select li .user-select p{position: absolute;top:0;left:-149px;width:150px;text-align: right;    color: #666;}
.pay-select li .grey-select{border: none;}
.pay-select .user-select-ul{width:157px;padding: 0;width: 157px;}
.pay-select .user-select-ul li a{margin: 0;}
/***------------account--------------****/
.account{border:1px solid #ddd; background: #fff; }
.acc-tab{margin-top: 20px;position: relative; bottom: -1px;}
.acc-tab ul{ width:193px; border-bottom: 0; line-height:30px;margin-top:40px;overflow:hidden;   border-radius:4px 4px 0 0;}
.acc-tab li{line-height:40px;padding:0 20px;float:left;color:#999; font-size: 14px; cursor: pointer;}
.acc-tab .current{background:#fff; font-weight: bold; color: #000; border-top:2px solid #2aacc6;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}

.acc-info{padding: 30px 20px;margin:10px 10px 30px 10px; height: 50px; border-bottom: 1px dotted #aaa;}
.acc-info h4{color: #898989;margin-bottom: 10px; font-size: 15px;}
.acc-info span{display: block; float: left; margin-right: 20px; font-size: 24px; line-height: 30px;}
.acc-info input{ float: left; margin-top:5px; margin-left: 20px; height: 24px; font-size: 14px; line-height: 30px;}
.account-type{display: none;}
.acc-list-tab {border-bottom: 1px solid #ddd;}
.acc-list-tab li{position: relative; float: left; bottom: 0; padding:5px 20px;margin-right: 10px; line-height: 30px; color: #898989; background:#eee; font-size: 15px; border-top-left-radius:4px;border-top-right-radius:4px;cursor: pointer;}
.acc-list-tab ul{margin-left: 10px;}
.acc-list-tab li.current{ color: #000; font-weight: bold; }
.acc-list{min-height: 400px;}
.acc-recrods{display:none;font-size: 13px;}
.acc-recrods table{ width:98%;margin: 0 auto; text-align: center;}
.acc-recrods tr{line-height: 40px;border-bottom: 1px solid #ddd;}
.acc-recrods thead{color: #777;height: 30px; line-height: 30px; border-color: #fff;}
.acc-recrods td i{margin-right: 5px;}
.acc-recrods td.revenue{color: #6aa904;}
.acc-recrods td.exp{color: #ff8f2c;}

/*open*/
.account-open{margin-top: 30px;}
.account-open h4{line-height: 40px;font-size: 15px;}
.account-open input{margin-top: 20px; width:80px; height: 30px;}
.open-step1,.open-step2{display: none; position: relative; width:400px;height: 200px;text-align:left; }
.open-step1 h5,.open-step2 h5{margin:20px 0 ; border-bottom: 1px solid #ddd; line-height: 40px; font-size: 13px; color: #ff8f2c; text-align: center;}
.open-step1 p,.open-step2 p{margin-bottom: 10px; margin-left: 40px; line-height: 24px; font-size: 13px; }
.open-step1 label,.open-step2 label{display: inline-block; float: left;width:170px; text-align: right;}
.open-step1 input[type=password],.open-step2 input[type=password]{float: left;  width: 80px; height: 20px; line-height: 30; border:1px solid #aaa;}
.open-step1 i,.open-step2 i{margin-top: 5px;}
.acc-step-btn{display: block; margin:20px auto 0;  width: 180px; height: 30px; }
.open-step2{height: 230px;}
.open-step2 label{width:140px;}
.open-step2 h6{width: 120px; margin-left: 180px; line-height: 20px; color:#76be0d;}

/*details*/
.account-details{padding-top: 30px; background: #fff;}
.acc-query{position: relative; margin:10px 10px 30px 10px; height:auto;}
.acc-query li label{display: block;float: left;width: 60px; text-align: right; font-weight: bold; font-size: 13px; line-height: 30px; color: #285181;margin-right: 10px; }
.acc-query .acc-sel-li{float: left; width:250px;}
.select-block{position: relative; }
.select-block i{position: absolute; top:7px; right:20px;width: 17px;height: 17px; background: url(../images/imgs.png) no-repeat 0 -82px; }
.acc-query cite{ display:block; float: left; width:160px; height:25px; border-radius:2px; line-height: 25px;text-align:left;text-indent:10px;}
.acc-query ul ul{position: absolute; display: none; top:28px; /*left:70px;*/ width: 160px; background: #fff; border:2px solid #ddd;text-indent: 20px; z-index: 800;}
.acc-query ul li{float: none; margin-bottom: 15px;}
.acc-query ul li ul li{margin-bottom: 0;}
.acc-query ul li ul li:hover{background: #eee;}
.select-block ul a{display:block; height: 24px; width: 100%;line-height: 24px; }

.acc-query .time-picker{position: relative;float: left; width:160px; height: 30px; border-radius: 2px;  text-indent:10px;}
.acc-query .acc-query-btn{position:relative; margin-left:40px; width:120px; height: 30px; line-height: 30px;}
.acc-query li span{ display: block; float: left;  margin:0 5px; width:80px; height: 30px;line-height: 30px; text-align: center; font-weight: bold;}

.account-select .user-select{width:158px;border: 1px solid #d7d7d7;position: relative;margin-left: 82px;}
.account-select .grey-select{border: none;}
.account-select .user-select p{position: absolute;display:inline-block;top:0px;left:-70px; width:60px; text-align: right; font-weight: bold;   font-size: 13px; line-height: 30px;  color: #285181;}


/*------------withdraw cash----------*/
.withdraw-cash{width: 100%;}
.cash-info{padding: 10px; margin:20px 0; background: #fff;border:1px solid #ddd; }
.cash-info i{display: block; float: left; margin-top:5px; width: 20px; height: 20px; background: url(../images/imgs.png) no-repeat -150px -270px;}
.cash-info p{margin-left: 30px;font:13px/24px Microsoft Yahei,sans-serif;color: #777;}
.cash-acc-info,.cash-acc-bank{margin-bottom: 20px; background: #fff;}
.cash-acc-bank{padding-bottom: 30px; width: 100%;}
.cash-acc-info h3,.cash-acc-bank h3{ margin-bottom:10px; background: #eee; text-indent:10px; line-height: 35px; font-size: 15px;}
.cash-acc-bank h4{margin-bottom: 10px;line-height: 30px; text-indent: 10px; font-weight: bold; color:#285181; }
.cash-acc-info ul{margin:20px;}
.cash-acc-info li{float: left; width: 50%; line-height: 30px; font-size: 14px;}
.cash-acc-info li label{display: inline-block; margin-right: 10px; width:90px; text-align: right; color: #898989;}
.used-online{width: 100%;}
.used-online li{position: relative; padding-top: 30px; margin-left: 20px;margin-bottom: 20px; width:520px; height: 130px; border:1px solid #9dc6e2; background: url(../images/icons.png) no-repeat 0 0; }
.used-online label{display:inline-block;margin-left: 70px; text-align: right; width: 100px;font-size:14px; }
.used-online input[type=text]{display:inline-block; margin-left: 5px; width: 220px; height:35px; line-height: 35px;color: #898989; text-indent: 5px; font:14px Microsoft Yahei,sans-serif; border:1px solid #d7d7d7; }
.view-cbank{ display: none;position: absolute; bottom:100px; right:30px; text-indent:5px; color: #76be0d;font-size: 13px;}
.view-online{display: none; line-height: 30px;margin-left: 20px; font-weight: normal; font-size: 13px;color: #76be0d;}
.used-bank{margin-top: 20px; width: 100%;}
.used-bank li{float: left;position: relative; margin-left: 20px;margin-bottom: 20px; width: 250px; height: 130px; border:1px solid #ddd;cursor: pointer;}
.used-bank li h5{background: #f5f5f5;margin-bottom: 10px; line-height:30px;text-indent: 5px; }
.used-bank h5 a{margin-left: 30px;}
.used-bank h5 a:hover{color: #ff8f2c;}
.used-bank h5 span{display: inline-block; width:160px; height: 35px; background: url(../images/banklogo.png) no-repeat; text-indent: -9999px;}
.used-bank p{padding:0 10px; font-size: 12px; color: #777; line-height: 20px;}
.used-bank p em{font-weight: bold; color: #444;}
.used-online li.checked,.used-bank li.checked{border-color: #2aacc6;}
.used-online li.checked .hook,.used-bank li.checked .hook{display: block; position: absolute; right: 0; top:0; width: 29px; height: 30px; background: url(../images/imgs.png) no-repeat -162px -241px; }
.used-bank li.addnewbank i{display: block; margin:30px auto 0; width: 34px;height: 34px; background: url(../images/imgs.png) no-repeat -127px -544px;}
.used-bank li.addnewbank p{margin-top: 15px; text-align: center;}
.addnewbank:hover{background: #eee;}
.cash-num{float: left;margin-top: 30px;  width: 360px; margin-left:80px; font-size: 14px; line-height: 35px; }
.cash-num input{margin-left: 5px;border:1px solid #aaa;line-height: 30px; width:220px;text-indent: 5px;}
.withdraw-cash-btn{float: left; margin-top: 32px; /*margin:20px 0 0 197px;*/ width: 80px; height: 32px;}
.used-bank .jsyh,.banks .jsyh{background-position:0 0; }
.used-bank .nyyh,.banks .nyyh{background-position:-166px 0; }
.used-bank .gsyh,.banks .gsyh{background-position:-343px 0; }
.used-bank .msyh,.banks .msyh{background-position:-525px 0; }
.used-bank .zgyh,.banks .zgyh{background-position:-693px 0; }
.used-bank .zsyh,.banks .zsyh{background-position:0 -43px; }
.used-bank .jtyh,.banks .jtyh{background-position:-166px -43px; }
.used-bank .gfyh,.banks .gfyh{background-position:-343px -43px; }
.used-bank .xyyh,.banks .xyyh{background-position:-525px -43px; }
.used-bank .njyh,.banks .njyh{background-position:-693px -43px; }
.used-bank .zxyh,.banks .zxyh{background-position:0 -94px; }
.used-bank .sfyh,.banks .sfyh{background-position:-166px -94px; }
.used-bank .shyh,.banks .shyh{background-position:-343px -94px; }
.used-bank .ycyh,.banks .ycyh{background-position:-525px -94px; }
.used-bank .zjyh,.banks .zjyh{background-position:-693px -94px; }
.used-bank .payh,.banks .payh{background-position:0 -135px; }
.used-bank .pfyh,.banks .pfyh{background-position:-166px -135px; }
.used-bank .gdyh,.banks .gdyh{background-position:-343px -135px; }
.used-bank .bjyh,.banks .bjyh{background-position:-525px -135px; }

/*add bank account*/
.cash-new-bank{margin: 20px 0;clear:both;}
.cash-new-bank h4,.cash-new-acc h4{background: #f5f5f5;margin-bottom: 10px; line-height:35px;text-indent: 5px;font-size: 15px; }
.cash-new-bank ul{width: 90%; margin:30px 0  0 5%;clear: both;}
.cash-new-bank .banks li{float: left;margin-bottom: 40px;  height: 35px; width: 200px; line-height: 35px;  }
.cash-new-bank i{display: inline-block; width:160px; height: 35px; background: url(../images/banklogo.png) no-repeat; text-indent: -9999px;}
.cash-new-bank input[type=radio]{margin-top:-2px; margin-right: 10px;vertical-align: middle;}
.cash-new-bank li.other{text-align: center; font-size: 14px; font-weight: bold; line-height:20px;}
.cash-new-bank li.other input{display: none; }
.cash-new-bank li.other em{display: block;margin: 0 auto; width: 16px;height: 16px; background: url(../images/imgs.png) no-repeat 0 -81px; transition:all .2s ease;}
.cash-new-bank li.other em.checked{transform:rotate(180deg);}
.other-bank{display: none;}
.other-bank li{font-size: 14px;}
.other-bank li input{width: 200px; border:1px solid #bbb; line-height: 28px;text-indent: 5px;background: #fff; }

.cash-new-acc{padding-left: 5%; margin-top: 30px; display: none;}
.cash-new-acc div{margin-bottom: 20px;}
.cash-new-acc div label{font-size: 14px;}
.cash-new-acc div span{margin-left: 25px; font-size: 15px;font-weight: bold; color: #317f8f;}
.new-acc-fill li{line-height: 30px; margin-bottom:20px; height: 30px;}
.new-acc-fill select{width:90px; height: 30px;margin-left: 0;}
.new-acc-fill li input{display: block; float: left; border:1px solid #a9a9a9; line-height: 28px; width: 180px; background: #fff; border-radius: 2px; text-indent: 5px; }
.new-acc-fill li label{display: block; float: left; width:100px; font-size: 14px; }

.add-tip{display: none; font-size: 14px; letter-spacing: 1px;color: #777;}
.cash-new-bank .next-btn,.cash-new-acc .next-btn{display: block; margin-left: 5%;margin-top: 30px; width: 180px; height: 45px; clear:both;}

/*第三方机构待确认新增*/
#payOrder .pay-order-box>div p{padding-top:20px;text-indent:28px;width:96%;margin:10px auto;border-top:1px solid #a0a0a0;}
.pay-order-label{display:block;margin:10px 0;text-indent:14px;}
.pay-btn-box{width:35%;margin:60px auto;}
.pay-btn-box input{padding:8px 16px;color:#fff;border-radius:2px;cursor:pointer;}
.pay-agree{background:#7881a7;}
.pay-not-agree{background:#a0a0a0;}
