<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link href="../../css/main.css?v=upd20160825" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
<link rel="icon" href="../../images/favicon.ico">
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<title>医生主页</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>

</head>

<body>
<header class="main-header">
   
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>

</header>
<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
    <ul>
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>


<div class="new-breadcrumb width980"><span class=""><a href="#" class="bread-fir">首页</a></span> >>
<span class=""><a href="" class="bread-fir">上海复旦大学附属中山医院</a></span> >>
<span class=""><a href="" class="bread-fir">骨科</a></span> >>
<span class="current"><a>宋冬雷</a></span></div>



<div class="wid-box">
    <!--头-->
              <div class="doc-intro">
               <div class="doc-img">
                   <!--<img src="../../images/bluemedal.png" title="内蒙古放射医学会 内蒙古放射医学会2" class="doc-medal"/>-->
                   <div class="doc-tz" style="display:none;">停诊中</div>
                   <img src="../../images/useimg.png" width="128" height="150" />
                   <a href="">
                   <span class="doc-online doc-offline">
                   <i class="doc-offline"></i>当前离线
                   </span>
                   </a>
                   <a href=""><span class="doc-care"><i class="doc-care"></i>关注医生</span></a>
               </div>
               <div class="doc-about">  
                <p><em>李泽宇</em>
                <span class="doc-sex">男</span>， <span class="doc-job">主任医师（专家）</span>
               </p>
                <p>
                    <span class="doc-hos">上海市东方医院</span><span class="doc-keshi">重症医学科</span>
                </p>
            	<p class="doc-sc"><strong>擅长：</strong><span>擅长诊治颈椎病，腰椎间盘突出症，椎管狭窄症，脊柱骨折，神经卡压等脊柱、脊髓及神经病症，较早地开展了微创治疗腰椎间盘突出症和胸腰椎压缩性骨折。对各类骨折及关节疾病的诊治也积累了丰富的经验</span></p>
              <div class="doc-askbtn"><i>2531</i><span>人已咨询，</span><i>367</i><span>人已预约，</span><i>23</i><span>人已关注</span></div>
               </div>
               <div class="satisfied">
                      <p style="color: #2aacc6;">满意度：</p>
                      <div class="stars-icons" >
                          <ul class="star_ul fl star_ul-2">
                              <li class="on"><a class="one-star" title="很差" href="javascript:;"></a></li>
                              <li class="on"><a class="two-star" title="差" href="javascript:;"></a></li>
                              <li class="off"><a class="three-star" title="还行" href="javascript:;"></a></li>
                              <li class="off"><a class="four-star" title="好" href="javascript:;"></a></li>
                              <li class="off"><a class="five-star" title="很好" href="javascript:;"></a></li>
                          </ul>
                      </div>
                      <p><span style="color: #2aacc6;width: 50px;display: inline-block;text-align: center;">666</span>人推荐</p>
                  </div>

              </div>
    <!--模块一-->
        <div class="doc-profile clearfix">
            <h4>专家简介</h4>
            <p>
                内蒙古医科大学附属医院皮肤性病科主任医师，教授。男，1968年6月出生，内蒙古化德县人，民革党员。1990年7月毕业于内蒙古医学院医疗系，并留校参加工作，1991年7月到第一附院皮肤性病科工作至今。为中华医学会皮肤性病学分会性病学组委员、中国中西医结合学会皮肤性病学分会青年委员、中国中医药研究促进会皮肤性病学分会常委、中国性病艾滋病防治协会委员。从事皮肤性病科专业近30年。先后到中山医科大学、中国医学科学院南京皮肤病研究所、首都医科大学附属北京中医医院、日本山梨县山梨大学进修学习。先后在省级以上杂志发表学术论文40余篇。2010年6月硕士研究生毕业于内蒙古医科大学。主要研究项目：性传播疾病（STD）的检测、治疗与预防；性心理咨询与性行为研究；皮肤病的诊断与中西医结合治疗。发明“性传播疾病三期综合治疗技术”大大提高了性病的治愈率。
            </p>
        </div>
    <!--模块二-->

    <!--模块三-->

            <div class="doc-sdu doc-sdu-new" >
                <div class="doc-current-ks">
                    <span><label for="">当前科室:</label><a href="#" class="current">骨科</a></span>
                </div>
                <!--====-->
                    <div class="doc-sdu-title" style="background:#daf4f9;">医院挂号排班</div>
                    <div class="doc-sdu-block" >
                        <table width="100%" border="0" cellspacing="0" class="doc-schedu" style="table-layout:fixed">
                            <thead>
                            <tr>
                                <th></th>
                                <th><span>2014-09-17</span><p>周三</p></th>
                                <th><span>2014-09-18</span><p>周四</p></th>
                                <th><span>2014-09-19</span><p>周五</p></th>
                                <th><span>2014-09-20</span><p>周六</p></th>
                                <th><span>2014-09-21</span><p>周日</p></th>
                                <th><span>2014-09-22</span><p>周一</p></th>
                                <th><span>2014-09-23</span><p>周二</p></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="sche-am">上午</td>
                                <td class="odd"></td>
                                <td><a class="have-con" href="javascript:void(0);"><p><em>5</em>/8<span>预约</span></p><!-- <p>10:00~12:00</p> --><p class="price">￥ 30.00</p></a></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            <tr>
                                <td class="sche-pm">下午</td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"><a class="have-con" href="javascript:void(0);"><p><em>5</em>/8<span>预约</span></p><!-- <p>15:00~17:00</p> --><p class="price">￥ 30.00</p></a></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            <!--  <tr>
                               <td class="sche-nt">晚间</td>
                               <td class="odd"></td>
                               <td></td>
                               <td class="odd"></td>
                               <td></td>
                               <td class="odd"><p></p><a></a></td>
                               <td></td>
                               <td class="odd"></td>
                             </tr> -->
                            </tbody>
                        </table>
                    </div>

                <!--======-->
                    <div class="doc-sdu-title" style="background:#ebf9da;">空中诊室排班</div>
                    <div class="doc-sdu-block" style="height:211px;">
                        <table width="100%" border="0" cellspacing="0" class="doc-schedu" style="table-layout:fixed">
                            <thead>
                            <tr>
                                <th></th>
                                <th><span>2014-09-17</span><p>周三</p></th>
                                <th><span>2014-09-18</span><p>周四</p></th>
                                <th><span>2014-09-19</span><p>周五</p></th>
                                <th><span>2014-09-20</span><p>周六</p></th>
                                <th><span>2014-09-21</span><p>周日</p></th>
                                <th><span>2014-09-22</span><p>周一</p></th>
                                <th><span>2014-09-23</span><p>周二</p></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="sche-am">上午</td>
                                <td class="odd"></td>
                                <td><a href="hpnum.html"><p><em>5</em>/8<span>预约</span></p><!-- <p>10:00~12:00</p> --><p class="price">￥ 30.00</p></a></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            <tr>
                                <td class="sche-pm">下午</td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"><a href="hpnum.html"><p><em>5</em>/8<span>预约</span></p><!-- <p>19:30~20:30</p> --><p class="price">￥ 30.00</p></a></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            <tr>
                                <td class="sche-nt">晚间</td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"><a href="hpnum.html"><p><em>5</em>/8<span>预约</span></p><!-- <p>20:00~22:00</p> --><p class="price">￥ 50.00</p></a></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                <!--====
                    <div class="doc-sdu-title" style="background:#feece3;">医院挂号排班</div>
                    <div class="doc-sdu-block" >
                        <table width="100%" border="0" cellspacing="0" class="doc-schedu" style="table-layout:fixed">
                            <thead>
                            <tr>
                                <th></th>
                                <th><span>2014-09-17</span><p>周三</p></th>
                                <th><span>2014-09-18</span><p>周四</p></th>
                                <th><span>2014-09-19</span><p>周五</p></th>
                                <th><span>2014-09-20</span><p>周六</p></th>
                                <th><span>2014-09-21</span><p>周日</p></th>
                                <th><span>2014-09-22</span><p>周一</p></th>
                                <th><span>2014-09-23</span><p>周二</p></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="sche-am">上午</td>
                                <td class="odd"></td>
                                <td><a href="hpnum.html" class="full"><p><em>8</em>/8<span>已满</span></p><p class="price">￥ 50.00</p></a></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            <tr>
                                <td class="sche-pm">下午</td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"><a href="hpnum.html" class="full"><p><em>8</em>/8<span>已满</span></p><p class="price">￥100.00</p></a></td>
                                <td></td>
                                <td class="odd"><a href="hpnum.html"><p><em>1</em>/8<span>预约</span></p><p class="price">￥ 100.00</p></a></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            <tr>
                                <td class="sche-nt">晚间</td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                                <td></td>
                                <td class="odd"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    -->
            </div>
    <!--模块四-->
            <div class="doc-home-right">
                <div class="doc-home-right-block doc-res-info">
                    <h2>预约信息</h2>
                    <table class="docres-info">
                        <tr>
                            <td width="40%">王**</td>
                            <td>2015-03-02  12:42:11</td>
                        </tr>
                        <tr>
                            <td>张**</td>
                            <td>2015-03-02  12:42:11</td>
                        </tr>
                        <tr>
                            <td>赵**</td>
                            <td>2015-03-02  12:42:11</td>
                        </tr>
                        <tr>
                            <td>徐**</td>
                            <td>2015-03-02  12:42:11</td>
                        </tr>
                        <tr>
                            <td>徐**</td>
                            <td>2015-03-02  12:42:11</td>
                        </tr>
                        <tr>
                            <td>徐**</td>
                            <td>2015-03-02  12:42:11</td>
                        </tr>
                    </table>
                </div>
                <div class="doc-home-right-block doc-ks1">
                    <h2>医院科室 <span><a href="javascript:;">更多>></a></span></h2>
                    <ul class="doc-other-ks">
                        <li><a href="#">神经外科</a></li>
                        <li><a href="#">信息科</a></li>
                        <li><a href="#">生殖医学中心</a></li>
                        <li><a href="#">急诊外科</a></li>
                        <li><a href="#">体检中心</a></li>
                        <li><a href="#">核医学科</a></li>
                        <li><a href="#">神经外科</a></li>
                        <li><a href="#">儿科</a></li>
                        <li><a href="#">急诊耳鼻喉科</a></li>
                        <li><a href="#">理疗科</a></li>
                        <li><a href="#">急诊眼科</a></li>
                        <li><a href="#">产科</a></li>
                        <li><a href="#">急诊内科</a></li>
                        <li><a href="#">风湿免疫科</a></li>
                    </ul>
                </div>
                <div class="doc-home-right-block" style="display:none; border: none;height:257px;">
                    <img src="../../images/doneAPP.png" alt="" style="width:322px;"/>
                </div>

            </div>
    <!--模块五-->
    <div class="dochome-review clearfix">
            <div class="dochome-review-title">
              <h2>点评</h2>
              <p><span>总评数：</span><i style="margin-right: 25px;">299</i><span>好评数：</span><i>289</i></p>
            </div>

            <div class="dochome-review-content">
                <p class="dochome-userimg">
                    <img src="../../images/dochome.png" alt=""/>
                </p>
                <div class="dochome-user-artice">
                    <p><span>疾病: </span> <i style="margin-right: 50px;">咽喉痛</i> <span>满意度: </span> <i style="color: #2aacc6;">值得推荐</i></p>
                </div>
                <div class="dochome-user-star">
                    <div class="stars-icons" >
                        <ul class="star_ul fl star_ul-2">
                            <li class="on"><a class="one-star" title="很差" href="javascript:;"></a></li>
                            <li class="on"><a class="two-star" title="差" href="javascript:;"></a></li>
                            <li class="off"><a class="three-star" title="还行" href="javascript:;"></a></li>
                            <li class="off"><a class="four-star" title="好" href="javascript:;"></a></li>
                            <li class="off"><a class="five-star" title="很好" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dochome-user-answer">
                    <p>历尽1年多的咽喉痛终于找到病因，之前跑遍了内蒙古各大医院，找了无数号称的专家，还是李主任火眼金睛，感谢李主任的耐心,
                        专业，敬业精神！</p>
                    <p class="dochome-user-other">
                        <span>杨洋 </span>
                        <span>发表于 </span>
                        <span>2016-07-22  15:29 </span>
                        <span style="margin: 0;">点评类型：</span>
                        <span>留言咨询</span>
                    </p>
                </div>
            </div>
            <div class="dochome-review-content">
                <p class="dochome-userimg">
                    <img src="../../images/dochome.png" alt=""/>
                </p>
                <div class="dochome-user-artice">
                    <p><span>疾病: </span> <i style="margin-right: 50px;">咽喉痛</i> <span>满意度: </span> <i style="color: #2aacc6;">值得推荐</i></p>
                </div>
                <div class="dochome-user-star">
                    <div class="stars-icons" >
                        <ul class="star_ul fl star_ul-2">
                            <li class="on"><a class="one-star" title="很差" href="javascript:;"></a></li>
                            <li class="on"><a class="two-star" title="差" href="javascript:;"></a></li>
                            <li class="off"><a class="three-star" title="还行" href="javascript:;"></a></li>
                            <li class="off"><a class="four-star" title="好" href="javascript:;"></a></li>
                            <li class="off"><a class="five-star" title="很好" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dochome-user-answer">
                    <p>历尽1年多的咽喉痛终于找到病因，之前跑遍了内蒙古各大医院，找了无数号称的专家，还是李主任火眼金睛，感谢李主任的耐心,
                        专业，敬业精神！</p>
                    <p class="dochome-user-other">
                        <span>杨洋 </span>
                        <span>发表于 </span>
                        <span>2016-07-22  15:29 </span>
                        <span style="margin: 0;">点评类型：</span>
                        <span>留言咨询</span>
                    </p>
                </div>
            </div>
            <div class="dochome-review-content">
                <p class="dochome-userimg">
                    <img src="../../images/dochome.png" alt=""/>
                </p>
                <div class="dochome-user-artice">
                    <p><span>疾病: </span> <i style="margin-right: 50px;">咽喉痛</i> <span>满意度: </span> <i style="color: #2aacc6;">值得推荐</i></p>
                </div>
                <div class="dochome-user-star">
                    <div class="stars-icons" >
                        <ul class="star_ul fl star_ul-2">
                            <li class="on"><a class="one-star" title="很差" href="javascript:;"></a></li>
                            <li class="on"><a class="two-star" title="差" href="javascript:;"></a></li>
                            <li class="off"><a class="three-star" title="还行" href="javascript:;"></a></li>
                            <li class="off"><a class="four-star" title="好" href="javascript:;"></a></li>
                            <li class="off"><a class="five-star" title="很好" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dochome-user-answer">
                    <p>历尽1年多的咽喉痛终于找到病因，之前跑遍了内蒙古各大医院，找了无数号称的专家，还是李主任火眼金睛，感谢李主任的耐心,
                        专业，敬业精神！</p>
                    <p class="dochome-user-other">
                        <span>杨洋 </span>
                        <span>发表于 </span>
                        <span>2016-07-22  15:29 </span>
                        <span style="margin: 0;">点评类型：</span>
                        <span>留言咨询</span>
                    </p>
                </div>
            </div>
            <div class="dochome-review-content">
                <p class="dochome-userimg">
                    <img src="../../images/dochome.png" alt=""/>
                </p>
                <div class="dochome-user-artice">
                    <p><span>疾病: </span> <i style="margin-right: 50px;">咽喉痛</i> <span>满意度: </span> <i style="color: #2aacc6;">值得推荐</i></p>
                </div>
                <div class="dochome-user-star">
                    <div class="stars-icons" >
                        <ul class="star_ul fl star_ul-2">
                            <li class="on"><a class="one-star" title="很差" href="javascript:;"></a></li>
                            <li class="on"><a class="two-star" title="差" href="javascript:;"></a></li>
                            <li class="off"><a class="three-star" title="还行" href="javascript:;"></a></li>
                            <li class="off"><a class="four-star" title="好" href="javascript:;"></a></li>
                            <li class="off"><a class="five-star" title="很好" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dochome-user-answer">
                    <p>历尽1年多的咽喉痛终于找到病因，之前跑遍了内蒙古各大医院，找了无数号称的专家，还是李主任火眼金睛，感谢李主任的耐心,
                        专业，敬业精神！</p>
                    <p class="dochome-user-other">
                        <span>杨洋 </span>
                        <span>发表于 </span>
                        <span>2016-07-22  15:29 </span>
                        <span style="margin: 0;">点评类型：</span>
                        <span>留言咨询</span>
                    </p>
                </div>
            </div>
            <div class="dochome-review-content">
                <p class="dochome-userimg">
                    <img src="../../images/dochome.png" alt=""/>
                </p>
                <div class="dochome-user-artice">
                    <p><span>疾病: </span> <i style="margin-right: 50px;">咽喉痛</i> <span>满意度: </span> <i style="color: #2aacc6;">值得推荐</i></p>
                </div>
                <div class="dochome-user-star">
                    <div class="stars-icons" >
                        <ul class="star_ul fl star_ul-2">
                            <li class="on"><a class="one-star" title="很差" href="javascript:;"></a></li>
                            <li class="on"><a class="two-star" title="差" href="javascript:;"></a></li>
                            <li class="off"><a class="three-star" title="还行" href="javascript:;"></a></li>
                            <li class="off"><a class="four-star" title="好" href="javascript:;"></a></li>
                            <li class="off"><a class="five-star" title="很好" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dochome-user-answer">
                    <p>历尽1年多的咽喉痛终于找到病因，之前跑遍了内蒙古各大医院，找了无数号称的专家，还是李主任火眼金睛，感谢李主任的耐心,
                        专业，敬业精神！</p>
                    <p class="dochome-user-other">
                        <span>杨洋 </span>
                        <span>发表于 </span>
                        <span>2016-07-22  15:29 </span>
                        <span style="margin: 0;">点评类型：</span>
                        <span>留言咨询</span>
                    </p>
                </div>
            </div>
        <div class="sdu-pages clearfix" style="margin-left: 178px;margin-top:20px;margin-bottom: 20px; ">
            <div class="sdu-pages-right">
                <span class="page-detail">共<em>4</em>页</span>
                <span>跳至第<input type="text" id="paginationCPage" name="currentPage" value="1" class="page-to"/> 页</span>
                <button type="submit"  class="page-go" onclick = "gotoPageByForm()">GO</button>
            </div>
            <div class="sdu-pages-center">
                <a href='#' class="pageimg page-first unable" onclick="gotoPageP(1);">首页</a>
                <a href='#' class="pageimg page-prev"  onclick="gotoPageP(0)"  >上一页</a>

                <a href='#'class="page-num current">1</a>
                <a href='#' class="page-num" onclick="gotoPageP(2)">2</a>
                <a href='#' class="page-num" onclick="gotoPageP(3)">3</a>
                <a href='#' class="page-num" onclick="gotoPageP(4)">4</a>

                <a href="#" class="pageimg page-next"  onclick="gotoPageP(2)" > 下一页</a>
                <a href="#" class="pageimg page-last" onclick="gotoPageP(4)">尾页</a>
            </div>

        </div>
    </div>

</div>
<footer class="clearfix">
    <div class="footer footer980">
        <ul class="footer-dimcode">
            <li><img src="../../images/2code.png" alt="" title="扫描下载app" ></li>
            <li style="color:#ff9000;">扫描下载安卓版APP (不支持微信)</li>
        </ul>
        <ul class="footer-info">
            <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
            <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
            <br>
            <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
            <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
        </ul>
    </div>
</footer>
<!--滑动点赞-->
<script>
    (function(){
        var innerDiv=$(".dochome-review");
        var x=innerDiv.offset();
        var pos=x.top;
        $(".satisfied").click(function(){
            $("html,body").scrollTop(pos);
        })
    })()
</script>

<!--待评-->
<script type="text/javascript">
    jQuery.star = function (ul) {
        function SaveClass(ul) {
            var temClassArry = new Array()
            var ula = $(ul).find("a");
            ula.each(function (i) {
                temClassArry[i] = $(this).attr("class");
            });
            return temClassArry;
        }

        var temparray = SaveClass();

        var li = $(ul).find("li");

        li.mousemove(
                function () {
                    var currentCount = 0;
                    currentCount = li.index($(this)[0])
                    li.each(function (i) {
                        if (i <= currentCount) {
                            $(this).removeClass();
                            $(this).addClass("on");
                            $(this).find("a").addClass('active-star');
                        }
                        else {
                            $(this).removeClass();
                            $(this).addClass("off");
                            $(this).find("a").removeClass('active-star');
                        }
                    })
                }
        )

//鼠标在星星上点击
                .click(function () {
                    temparray = SaveClass();
                    li.unbind("mousemove");
                })

//鼠标滑出星星上
                .mouseout(function () {
                    li.each(function (i) {
                        $(this).removeClass();
                        $(this).find("a").addClass(temparray[i]);
                        li.bind("star");
                    })
                })
    }

</script>

<script>
    (function () {
        jQuery.star(".star_ul-1");
        jQuery.star(".star_ul-2");
    })()

</script>
</body>
</html>
