<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../css/layout.css?v=upd20160406" type="text/css"  rel="stylesheet">
<link href="../../css/main.css?v=upd20160406" type="text/css"  rel="stylesheet">
<link rel="icon" href="../../images/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/helpleft.js"></script>
    <script src="../../js/searchbar.js"></script>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>

</head>


<body>
<!--说明-->
<header class="main-header">
   
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>

</header>
<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
    <ul>
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>
<div class="new-breadcrumb width980"><span class=""><a href="#" class="bread-fir">首页</a></span> >>
<span class=""><a href="" class="bread-fir">上海复旦大学附属中山医院</a></span> >>
<span class=""><a href="" class="bread-fir">骨科</a></span> >>
<span class="current"><a>宋冬雷</a></span></div>


<div class="container width980">

    <div class="containerx">
    	<div class="conl">
        	<ul><span class="ulx">注册与登陆</span>
            	<li class="lix"><a href="#">挂号网介绍</a></li>
                <li><a href="#">注册相关</a></li>
                <li><a href="#">登陆相关</a></li>
            </ul>
            <ul><span>账号相关</span>
            	<li><a href="#">注册人相关</a></li>
                <li><a href="#">家庭联系人</a></li>
            </ul>
            <ul><span>预约相关</span>
            	<li><a href="#">预约前相关问题</a></li>
                <li><a href="#">预约过程相关问题</a></li>
                <li><a href="#">预约后相关问题</a></li>
                <li><a href="#">专家团对症预约</a></li>
                <li><a href="#">就医申请</a></li>
            </ul>
            <ul><span>就诊相关</span>
            	<li><a href="#">就诊相关</a></li>
                <li><a href="#">诊后分享</a></li>       
            </ul>
            <ul><span>咨询相关</span>
            	<li><a href="#">图文咨询</a></li>
            </ul>
            <ul><span>医生个人网站</span>
            	<li><a href="#">注册与登陆</a></li>
                <li><a href="#">网站管理</a></li>
                <li><a href="#">文章管理</a></li>
                <li><a href="#">咨询管理</a></li>
            </ul>
            <ul><span>健康e付卡</span>
            	<li><a href="#">了解健康e付卡</a></li>
                <li><a href="#">健康e付卡章程</a></li>
                <li><a href="#">健康e付卡指南</a></li>
            </ul>
        </div>

        <div class="conr">
        	<ul>
            	<li class="what"><a href="#">什么事挂号网</a></li>
            	<li class="text">
                <img src="../../images/aycan.jpg" alt="">
                <span>挂号网（Guahao.com）为卫生部批准的全国健康咨询及就医知道平台官方网站，致力于打造实名医患交流互联网媒体平台，是目前国内最大的预约挂号、
就医知道、健康咨询、在线支付的医疗健康服务网站。</span></li>
			</ul>
            <ul>
            	<li class="what"><a href="#">什么事挂号网</a></li>
            	<li class="text">
                <img src="" alt="">
                <span>挂号网（Guahao.com）为卫生部批准的全国健康咨询及就医知道平台官方网站，致力于打造实名医患交流互联网媒体平台，是目前国内最大的预约挂号、
就医知道、健康咨询、在线支付的医疗健康服务网站。</span></li>
			</ul>

        </div>

    </div>
</div>

 <footer class="clearfix">
      <div class="footer footer980">
      <ul class="footer-dimcode">
        <li><img src="../../images/2code.png" alt="" title="扫描下载app" ></li>
        <li style="color:#ff9000;">扫描下载安卓版APP (不支持微信)</li>
      </ul>
          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>

</body>
</html>
