<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css?v=upd20160406" rel="stylesheet" />
<link href="../../css/main.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link href="../../css/boxy/css/boxy.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../../images/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.boxy.js"></script>
<title>医院列表</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>

</head>

<body>

<header class="main-header">
   
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>

</header>
<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
    <ul>
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>


<div class="new-breadcrumb width980 nbc-bnone"><span class=""><a href="#" class="bread-fir">首页</a></span> >>
<span class=""><a href="" class="bread-fir">上海复旦大学附属中山医院</a></span> >>
<span class="current"><a>骨科</a></span></div>

<div class="wid-box wid-hos">
            <div class="inside-block clearfix">
              <div class="caption"><h2>挂号信息</h2></div>
               <div class="doc-img"><img src="../../images/4.jpg" width="128" height="150" /></div>
               <div class="reserve-about">
                <p><strong>医生姓名：</strong>宋冬雷</p>  
              <p><strong>性别：</strong>男</p> 
              <p><strong>科室：</strong>神经外科</p> 
              <p><strong>职称：</strong>特约对口支持专家</p> 
              <p><strong>专业特长：</strong>擅长脑动脉瘤、脑血管畸形、硬脑膜动静脉瘘、外伤性海绵窦动静脉瘘、脊髓血管畸形、颈动脉狭窄、颅内动脉狭窄、脑缺血梗塞的外科治疗</p> 
                <p><strong>就诊日期： </strong>星期五 2014年09月12日 上午 挂号费：50.00元</p>
              </div>
           </div>
           <div class="inside-block">
              <div class="caption"><h2>选择号码</h2></div>
               <div class="hos-box num-nums">
                <table width="100%" border="0" cellspacing="0" class="num-cho">
                    <tbody>
                        <tr>
                            <td class="num"><input type="radio" name="num" value="" id=""> 2号/08:06</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 3号/08:12</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 4号/08:17</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 5号/08:23</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 6号/08:29</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 7号/08:35</td>
                        </tr>
                        <tr>
                            <td class="num"><input type="radio" name="num" value="" id=""> 8号/08:41</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 9号/08:47</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 10号/08:53</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 11号/08:59</td>
                            <td class="num"><input type="radio" name="num" value="" id=""> 12号/09:06</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              </div>
              <div class="inside-block">
              <div class="caption"><h2>个人信息</h2></div>
                    <table width="100%" border="0" cellspacing="0" class="tab-info">
                    <thead>
                        <tr style="background:#f5f5f5;">
                            <th width="20%">姓名</th>
                            <th width="20%">身份证</th>
                            <th width="20%">证件类型</th>
                            <th width="30%">联系电话</th>
                            <th width="10%">选择</th>
                        </tr>                  
                    </thead>      
                    <tbody>
                        <tr>
                            <td width="20%">wangling </td>
                            <td width="20%">330127197603100013</td>
                            <td width="20%">二代身份证号码</td>
                            <td width="30%">13575736108 </td>
                            <td width="10%"><input type="radio" name="choce-one" value=""></td>
                        </tr>
                    </tbody>
                    </table>

            </div>
                <div class="reserve-btn">
                <input type="button" onclick="location='reserve-info.html'" name="" value="立即预约" class="add-one blue-btn">
                <a href="#div-addone" class="boxy"><input type="submit" name="" value="添加患者信息" class="add-one green-btn" id="addone"></a>
                </div>
</div>
</div>

  <footer class="clearfix">
      <div class="footer footer980">
      <ul class="footer-dimcode">
        <li><img src="../../images/2code.png" alt="" title="扫描下载app" ></li>
        <li style="color:#ff9000;">扫描下载安卓版APP (不支持微信)</li>
      </ul>
          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>

<!-- boxy -->
<div id="div-addone" style="display:none">  
     <div class="sendbox addone">
     <ul>
     <li><label>真实姓名：</label><input type="text" name="" value=""><em>*</em></li>
     <li><label>民族：</label><select name="">
         <option value="">汉族</option>
         <option value="">回族</option>
         <option value="">维吾尔族</option>
     </select><em>*</em></li>
     <li><label>二代身份证号码：</label><input type="text" name="" value=""><em>*</em></li>
     <li><label>手机号：</label><input type="text" name="" value=""><em>*</em></li>
     <li><label>联系地址：</label><input type="text" name="" value=""></li>
        <span><input id="cancelBtn" type="button" value="取消" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        <span><input id="submitBtn" type="button" value="添加" class="grey-but" onclick="Boxy.get(this).hide();" /></span>

        </ul>
    </div>
</div>
<script>
    $(function() {
        $(".boxy").boxy({title: "添加患者信息",modal:true});
    })
</script>
<script>
$(".num").click(function(){
    //alert($(this).val());
    $(this).find("input[type=radio]").attr("checked", 'checked');
  });
</script>
</body>
</html>
