<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link href="../../css/main.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link rel="icon" href="../../images/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>

<title>医院列表</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article,q aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>

</head>

<body>


<header class="main-header">
   
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>

</header>
<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
    <ul>
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>


<div class="new-breadcrumb width980"><span class=""><a href="#" class="bread-fir">首页</a></span> >>
<span class=""><a href="" class="bread-fir">上海复旦大学附属中山医院</a></span> >>
<span class="current"><a>预约信息</a></span></div>

<div class="wid-box wid-hos  ">
  <div class="reserve-info">

      <div class="re-info">
          <h2 class="resault"><img src="../../images/ok.png"/><span>您已成功预约</span>
            <p>请牢记您的就诊信息，并按时前往医院就诊</p>
          </h2>
          <h2 class="resault wrong" style="display:none;"><img src="../../images/wrong.png"/><span>对不起，操作失败</span>
            <p>失败原因：预约号已被订，请重新预约<input type="button" class="navy-btn" id="re-reserve" value="重新预约"></p>
          </h2>
          <ul class="clearfix">
              <li><em>就诊序号：</em> 第12位</li>
              <li><em>预约日期：</em> 2014年09月15日</li>
              <li><em>就诊日期：</em> 星期四  2014年09月18日    上午</li>
              <li><em>医院：</em>  南通瑞慈医院</li>
              <li><em>科室： </em>  神经外科门诊</li>
              <li><em>医生：</em>  宋冬雷</li>
              <li><em>身份证号：</em>330127197603100013</li>
              <li><em>就诊人：</em>  wangling</li>
              <li><em>联系电话：</em> 13575736108</li>
              <li><em>费用：</em>   50.00元</li>
              <li><input type="button" name="" value="查看预约列表" class="blue-btn" onclick="location='reservels.html'"></li>
          </ul>
      </div>
  </div>

</div>

  <footer class="clearfix">
      <div class="footer footer980">
      <ul class="footer-dimcode">
        <li><img src="../../images/2code.png" alt="" title="扫描下载app" ></li>
        <li style="color:#ff9000;">扫描下载安卓版APP (不支持微信)</li>
      </ul>
          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>

<!-- boxy -->
<div id="ghxz" style="display:none">  
        <div class="sendbox">
            <div class="ghxz">   
                <p>感谢您选择贵阳医学院附属医院。</p>
                <p>网络预约挂号流程：</p>
                <p><h2>第一步:登录/注册</h2></p>
                <p>1. 网站用户登录/注册</p>
               <p>感谢您选择贵阳医学院附属医院。</p>
                <p>网络预约挂号流程：</p>
                <p><h2>第一步:登录/注册</h2></p>
                <p>1. 网站用户登录/注册</p>
                <p>感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。感谢您选择贵阳医学院附属医院。</p>
                <p>网络预约挂号流程：</p>
                <p><h2>第一步:登录/注册</h2></p>
                <p>1. 网站用户登录/注册</p>
            </div>

           <span><input id="submitBtn" type="button" value="我已阅读" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        </div>
</div>
<script>
$(function(){
    $(".hos-tz-box").css("height",$(".hos-box").height());
    $(".boxy").boxy({title: "挂号须知",modal:true});
  })
</script>
</body>
</html>
