<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link href="../../css/themes.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link href="../../css/media.css" rel="stylesheet" type="text/css" />
<meta name="viewport" id="viewport" content="width=device-width,  maximum-scale=1.0">
<title>杭州联众电子资料下载页</title>
</head>

<body>
<div class="ll-main">
<div class="ll-title">
<img src="../../images/leaflet0.jpg" alt="" />
</div>

<div class="ll-content">
    <ul>
        <li style="background:#1475b5;"><a href=""  class="top">
                <p class="thin">全球影像宣传册</p>
                <p>PDF-1067KB</p>
            </a></li>
        <li class="last"  style="background:#75bce1;"><a href=""  class=" top last">
                <p class="thin">产品简介</p>
                <p>PDF-794KB</p>
            </a></li>
    </ul>
    <ul>
        <li ><img src="../../images/leaflet1.jpg" alt="" /><img src="../../images/leaflet2.jpg" alt=""  class="last" /></li>
        <li  style="background:#2daab8;" class="last"><a href=""  class="top">
                <p class="thin">云医疗系统方案简介</p>
                <p>PDF-348KB</p>
            </a></li>
    </ul>
    <ul>
        <li  style="">
        <a href="" class="jobs">
                <p class="thin" style="margin-top:25%;">招聘</p>
                <p>JPG-1018KB</p>
            </a>
            <img src="../../images/leaflet3.jpg" alt="" class="last"/>
           </li>
        <li  style="background:#76bd9a;" class="last"><a href="" class=" top last">
                <p class="thin">二维码电子胶片宣传册</p>
                <p>PDF-1361KB</p>
            </a></li>
    </ul>
</div>

<div class="ll-footer">
<img src="../../images/leaflet4.jpg" alt="" />
</div>

  </div>
</body>
</html>
