<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../css/layout.css?v=upd20160405"/>
<link  rel="stylesheet" href="../../css/main.css?v=upd20160405"/>
<link rel="icon" href="../../images/favicon.ico">
    <link rel="stylesheet" href="../../css/style.css"/>
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/jquery.poshytip.min.js" type="text/javascript"></script>
<title>全球影像用户界面用户注册</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="main-header">  
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>
</header>

<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
  <div class="nav-app">
      <a href="#"><div class="nav-pic"></div>
      <span>下载应用</span></a>
  </div>
    <ul  style="display:none;">
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>

<div class=" alignmiddle">
 <section class="login-main clearfix">
   <p class="change-tit">更换手机号码</p>

  <div class="add-step">
    <ul>
     <li><a href="tel-change.html">验证手机</a></li>
     <li class="current"><a href="tel-change2.html">输入新的手机号码</a></li>
     <li><a href="#">修改成功</a></li>
    </ul>
   </div>
   <div class="change-tel-input">
   <ul>
   <li> 
   <div class="add-name">旧手机号：</div><div class="older-tel">153****3910</div>
   </li>
      <li>
      
     <div class="add-name">新的手机号：</div>
     <div class="add-intext">
       <input type="text" name="tel" id="tel"  class="form-input inactive box-input" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'" />
     </div>
     <div class="add-field" id="textmail" style="display:none">请输入您的手机号码</div>
     </li>
    </ul>
       <p class="change-btn"><input name=" " type="button" class="add-btn blue-btn"  value="下一步"/>
</div>
   </section>
 </div>


<footer class="clearfix">
    <div class="footer footer980">
        <ul class="footer-info">
            <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
            <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
            <br>
            <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
            <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
        </ul>
    </div>
</footer>
<script>
$(function(){
	
	$('.add-input input').each(function(){
		var html = $(this).parent().next('.add-field').html();
		$(this).poshytip({
			content:html,
			className:'tip-yellowsimple',
			showOn:'focus',
			alignTo: 'target',
			alignX: 'right',
			alignY: 'center',
			offsetX: 5,
			
			showTimeout: 100
		});
	});
});
</script>
</body>
</html>
