<!DOCTYPE html>
<html style="height:100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全球影像用户界面</title>
<link href="../../css/layout.css?v=upd201600405" rel="stylesheet" type="text/css" />
<link href="../../css/wdcq.css?v=upd20160919" rel="stylesheet" type="text/css" />
<link href="../../css/style.css?v=upd20160427" rel="stylesheet" type="text/css" />
<link rel="icon" href="../../images/favicon.ico">
<link href="../../js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
<link href="../../js/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" />
<!-- respond.js for IE less than 9 -->
 <!--[if lt IE 9]>
<script src="../../js/respond.js" type="text/javascript"></script>
<![endif]-->
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(',');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body class="wholedata">
    <header class="wholedata-header">
        <div class="wd-pa clearfixed">
            <div class="wd-pa-left fl">
            <a href="javascript:window.history.go(-1);" class="fl"><i class="wd-back"></i></a>
                <p style="margin-top:20px;">
                    <span class="wd-name">张惠荣</span>
                    <span class="wd-sex">男</span>
                    <span class="wd-age">64岁</span>
                    <span class="wd-nub">检查单号： <span>2234</span></span>
                    <a href="javascript:;" class="wd-consultation">发起会诊<i></i></a>
                </p>
  <!--               <p class="wd-pa-tel">
                    审核医生：<b>万达</b>
                    审核时间：<b>2016-6-7</b>
                </p> -->
            </div>
             <div class="fr">
                 <label class="type">超声</label>
                 <label class="disease">颈部血管</label>
             </div>
        </div>
    </header>
    <div class="wholedata-content">
        <div class="people-data-content">
            <div class="wd-pa">
                <div class="warp clearfixed" style="margin-top: 44px; margin:0 auto;">
                    <div class="fl col-f29132" style="color:#ff8b1b;">
                        当前项目：<span>颈部血管(颈动脉)彩色多普勒超声</span>
                    </div>
                    <div class="peo-tabs fr">
                        相关检查：
                        <span id="type-1">超声（<b>1</b>）</span>
                        <span id="type-2">放射（<b>3</b>）</span>
                        <span id="type-3">LIS（<b>4</b>）</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:92%; margin: 0 auto">
            <div id="peo-type-1" class="bg-table-head jcbg-head type-1 clearfix">
                <div class="jcbg-type">超声</div>
                <i class="icon icon-open fl"></i>
                <span>肿瘤标志物</span>
                <div class="jcbg-number fr">10086</div>
            </div>
            <div class="jcbg-show">
                <h3 class="strong">肿瘤标志物</h3>
                <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
                <table class="peo-data-table">
                    <tbody>
                        <tr>
                            <td class="table-r" width="25%">报告号</td>
                            <td class="table-l" width="25%">10086</td>
                            <td class="table-r" width="25%">报告时间</td>
                            <td class="table-l" width="25%">2015-1-1</td>
                        </tr>
                        <tr>
                            <td class="table-r">检查项目</td>
                            <td class="table-l">颈部血管</td>
                            <td class="table-r">设备类型</td>
                            <td class="table-l">超声仪</td>
                        </tr>
                        <tr>
                            <td class="table-r">送检医生</td>
                            <td class="table-l">王一舒</td>
                            <td class="table-r">报告医生</td>
                            <td class="table-l">王一舒</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="peo-type-2" class="bg-table-head jcbg-head type-2 clearfix">
                <div class="jcbg-type">放射</div>
                <i class="icon icon-open fl"></i>
                <span>肿瘤标志物</span>
                <div class="jcbg-number fr">10086</div>
            </div>
            <div class="jcbg-show">
                <h3 class="strong">肿瘤标志物</h3>
                <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
                <table class="peo-data-table">
                    <tbody>
                        <tr>
                            <td class="table-r" width="25%">报告号</td>
                            <td class="table-l" width="25%">10086</td>
                            <td class="table-r" width="25%">报告时间</td>
                            <td class="table-l" width="25%">2015-1-1</td>
                        </tr>
                        <tr>
                            <td class="table-r">检查项目</td>
                            <td class="table-l">颈部血管</td>
                            <td class="table-r">设备类型</td>
                            <td class="table-l">超声仪</td>
                        </tr>
                        <tr>
                            <td class="table-r">送检医生</td>
                            <td class="table-l">王一舒</td>
                            <td class="table-r">报告医生</td>
                            <td class="table-l">王一舒</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="peo-type-3" class="bg-table-head jcbg-head type-3 clearfix">
                <div class="jcbg-type">LIS</div>
                <i class="icon icon-open fl"></i>
                <span>肿瘤标志物</span>
                <div class="jcbg-number fr">10086</div>
            </div>
            <div class="jcbg-show">
                <h3 class="strong">肿瘤标志物</h3>
                <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
                <table class="peo-data-table">
                    <tbody>
                        <tr>
                            <td class="table-r" width="25%">报告号</td>
                            <td class="table-l" width="25%">10086</td>
                            <td class="table-r" width="25%">报告时间</td>
                            <td class="table-l" width="25%">2015-1-1</td>
                        </tr>
                        <tr>
                            <td class="table-r">检查项目</td>
                            <td class="table-l">颈部血管</td>
                            <td class="table-r">设备类型</td>
                            <td class="table-l">超声仪</td>
                        </tr>
                        <tr>
                            <td class="table-r">送检医生</td>
                            <td class="table-l">王一舒</td>
                            <td class="table-r">报告医生</td>
                            <td class="table-l">王一舒</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/jquery.select.js" type="text/javascript"></script>



<script>
    $(function(){
        $(window).load(function(){
            $('.wholedata-content').height($(".wholedata").height()-80);
            $('.wd-sidebar').height($('.wholedata-content').height());
            $("#my-loading").height(document.body.offsetHeight);
            $("#my-loading").width(document.body.offsetWidth);
            $(".jcbg-head").hide();
            $(".jcbg-head").next().hide();
            $(".type-1").show();
            $(".type-1").next().show();
            var whoHeight =  document.body.scrollHeight ;
            var height =  $('.wholedata-content').height();
            if(height < whoHeight){
                $('.wholedata-content').height($(".wholedata").height()-80);
            }else{
                $('.wholedata-content').css("height","auto");
            }
        }); //全局高度



        $(".bg-table-head").click(function(){
            if($(this).next().is(":hidden")){
//                alert("隐藏")
                $(this).next().fadeIn("1000");
                $(this).find("i").removeClass("icon-close").addClass("icon-open")
            }else{
//                alert("显示")
                $(this).next().fadeOut("1000");
                $(this).find("i").removeClass("icon-open").addClass("icon-close")
            }
        })

        $(".peo-tabs span").click(function(){
            var id = $(this).attr("id");
            $(this).siblings().removeClass("tab-on");
            $(this).addClass("tab-on");

                $(".jcbg-head").hide();
                $(".jcbg-head").next().hide();
                $("." + id).show();
                $("." + id).next().show();


        });


    })
</script>
</body>
</html>
