<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>基本信息</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <h3 class="bacs-title strong"><i class="icon icon-base"></i><span>基本信息</span></h3>
        <table class="common-table base-table">
            <tbody>
                <tr>
                    <td class="prompt" width="138px">姓名</td>
                    <td class="base-info" width="380px">杨行龙</td>
                    <td class="prompt" width="146px">出生日期</td>
                    <td class="base-info" width="380px">1991-1-1</td>
                </tr>
                <tr>
                    <td class="prompt">性别</td>
                    <td class="base-info">男</td>
                    <td class="prompt">婚否</td>
                    <td class="base-info">否</td>
                </tr>
                <tr>
                    <td class="prompt">身份证号</td>
                    <td class="base-info">318391283921083902183</td>
                    <td class="prompt">手机号</td>
                    <td class="base-info">137********</td>
                </tr>
                <tr>
                    <td class="prompt">居住地址</td>
                    <td class="base-info"></td>
                    <td class="prompt">工作单位</td>
                    <td class="base-info">联众医疗</td>
                </tr>
                <tr>
                    <td class="prompt">单位地址</td>
                    <td class="base-info"></td>
                    <td class="prompt"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <h3 class="bacs-title strong"><i class="icon icon-doctor"></i><span>就诊信息</span></h3>
        <table class="common-table base-table">
            <tbody>
                <tr>
                    <td class="prompt" width="138px">就诊卡号</td>
                    <td class="base-info" width="380px">123213213</td>
                    <td class="prompt" width="146px">卡类型</td>
                    <td class="base-info" width="380px">城市医保</td>
                </tr>
                <tr>
                    <td class="prompt">就诊类别</td>
                    <td class="base-info">门诊</td>
                    <td class="prompt">门诊号/住院号</td>
                    <td class="base-info">10086</td>
                </tr>
                <tr>
                    <td class="prompt">主治医生</td>
                    <td class="base-info">贾春楠</td>
                    <td class="prompt">病区床号</td>
                    <td class="base-info">20病区</td>
                </tr>
                <tr>
                    <td class="prompt">检查科室</td>
                    <td class="base-info">老年科室</td>
                    <td class="prompt">入院科室</td>
                    <td class="base-info">老年科室</td>
                </tr>
                <tr>
                    <td class="prompt">主诉</td>
                    <td class="base-info" colspan="3"></td>
                </tr>
                <tr>
                    <td class="prompt">现病史</td>
                    <td class="base-info" colspan="3"></td>
                </tr>
                <tr>
                    <td class="prompt">既往史</td>
                    <td class="base-info" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script src="../../js/jquery-1.9.1.min.js"></script>

<script>
    $(function(){

    })
</script>
</html>