<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>病历文书</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <div class="blws-top">
            <h3 class="blws-title">杭州市医院</h3>
            姓名：<span>韩天衡</span> 病区：<span>30病区</span> 科别：<span>老年病区</span>
            床号：<span>1</span> 住院号：<span>200963</span>
        </div>
        <div class="hospitalized">
            <div class="blws-info">
                <h3 class="blws-title">病程记录</h3>
                <p>2016-6-6 <span class="strong">病程记录</span></p>
                <p>张医生查房记录</p>
                <p>患者体温正常，无胸闷等症状。。。</p>
            </div>
        </div>
        <div class="blws-bottom">
            <p>第<span>2</span>页</p>
        </div>

    </div>
</body>
</html>