<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>病历文书</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <div class="blws-top">
            <h3 class="blws-title">杭州市医院</h3>
            姓名：<span>韩天衡</span> 病区：<span>30病区</span> 科别：<span>老年病区</span>
            床号：<span>1</span> 住院号：<span>200963</span>
        </div>
        <div class="hospitalized">
            <div class="blws-info">
                <h3 class="blws-title">入院记录</h3>
                <div class="patient-info clearfix">
                    <p>姓名：<span>韩天衡</span></p>
                    <p>职业：<span>退休</span></p>
                    <p>性别：<span>男</span></p>
                    <p>年龄：<span>80</span></p>
                    <p>婚姻：<span>已婚</span></p>
                    <p>现住址：<span>嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻</span></p>
                    <p>出生地：<span>上海市</span></p>
                    <p>入院日期：<span>2015-1-1</span></p>
                    <p>名族：<span>汉</span></p>
                    <p>科室自定义栏<span>（右）</span></p>
                    <p>科室自定义栏<span>（左）</span></p>
                </div>
                <div class="patient-detail">
                    <span class="strong">主 诉：</span><p>血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）</p>
                    <span class="strong">现病史：</span><p>血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）</p>
                    <span class="strong">既往史：</span><p>血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）血糖试纸*50张（2015-9-8 13:44起）</p>
                    <span class="strong">家族史：</span><p>否认家族肿瘤史</p>
                    <span class="strong">婚育史：</span><p>婚姻状况：已婚</p><p>生育状况：已育</p>
                    <div class="fr">以上主诉既往史内容真实，供史者： <span>韩恒</span></div>
                </div>
                <div class="tgjc">
                    <h6 class="blws-title">体格检查</h6>
                    <span>
                        T: <span>37C</span>&nbsp;
                        P: <span>84</span>次/分&nbsp;
                        R:<span>84</span>次/分&nbsp;
                        BP: <span>124/63</span>mmHg
                    </span>
                    <p>神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常</p>
                </div>
                <div class="zkqk">
                    <h6 class="blws-title">专科情况</h6>
                    <p>神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常神智清楚，发育正常</p>
                </div>
                <div class="fzjc">
                    <h6 class="blws-title">辅助检查</h6>
                    <strong>初步诊断</strong>
                    <p>1.心房颤动</p>
                    <p>1.心房颤动</p>
                    <p>1.心房颤动</p>
                    <p>1.心房颤动</p>
                    <p>1.心房颤动</p>
                    <p>1.心房颤动</p>
                    <p>医生签名</p>
                    <span>2016-1-1</span>
                    <p><strong>48小时主治医生诊断:</strong></p>
                    <span>请打印后手工书写此诊断</span>
                    <p><strong>更正诊断:</strong></p>
                    <span>请打印后手工书写此诊断</span>
                </div>
            </div>
        </div>
        <div class="blws-bottom">
            <p>第<span>2</span>页</p>
        </div>

    </div>
</body>
</html>