<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>长期医嘱</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="yz-tabs">
        <a id="cqyz" class="yz-on" href="javascript:;">长期医嘱</a>
        <a id="lsyz" class="yz-normal" href="javascript:;">临时医嘱</a>
    </div>
    <div class="warp" style="margin-top: 30px;">
        <div id="cqyz-content" >
            <table id="cqyz-table" class="common-table">
            <thead>
                <tr>
                    <th width="20%">开始时间</th>
                    <th width="40%">医嘱内容</th>
                    <th width="20%">停止时间</th>
                    <th width="10%">医嘱医生</th>
                    <th width="10%">停止医生</th>
                </tr>
            </thead>
            <tbody id="cq-tbody">
                <tr>
                    <td>2015-9-8 19:44</td>
                    <td>
                        血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>2015-9-8 19:44</td>
                    <td>张医生</td>
                    <td>张医生</td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2015-6-8 19:44</td>
                    <td>
                        <i>┏</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┃</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <i>┗</i>血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td></td>
                    <td>周市委</td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div id="lsyz-content">
            <table class="common-table">
                <thead>
                <tr>
                    <th width="20%">开始时间</th>
                    <th width="60%">医嘱内容</th>
                    <th width="20%">医嘱医生</th>
                </tr>
                </thead>
                <tbody id="ls-tbody">
                <tr>
                    <td>2015-9-8</td>
                    <td>
                        血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>张医生</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="goTop"></div>
</body>

<script src="../../js/jquery-1.9.1.min.js"></script>

<script>
    $(function(){
        $("#cqyz-table tbody tr").each(function(){
            if($(this).find("td:eq(2)").text() != ""){
                $(this).css("color","#285081");
            }else{
                $(this).css("color","#000000");
            }
        })
        $("#goTop").click(function(){
            var speed=200;//滑动的速度
            $('body,html').animate({ scrollTop: 0 }, speed);
            return false;
        });
        $("#lsyz-content").hide();
        var cqI = 0;
        var lsI = 0;
        $(".yz-tabs a").click(function(){
            var id = $(this).attr("id");
            $(this).addClass("yz-on").removeClass("yz-normal");
            $(this).siblings().removeClass("yz-on").addClass("yz-normal");
            $("#"+id+"-content").siblings().hide();
            $("#"+id+"-content").show();
        })
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if(scrollTop > windowHeight*0.7){
                $("#goTop").show();
            }else{
                $("#goTop").hide();
            }
            if (scrollTop + windowHeight == scrollHeight) {
                if($("#cqyz").hasClass("yz-on")){
                    cqI++;
                    $.ajax({
                        type : 'POST',
                        url:"wd-yz.json",
                        dateType:"json",
                        async : false,
                        success:function(json){
                            var len = cqI*10+9;
                            len<json.longMedical.length?len = cqI*10+9:len = json.longMedical.length;
                            var innerHtml = "";
                            for(var i = cqI*10;i<len;i++){
                                innerHtml += '<tr>'+
                                                 '<td>'+json.longMedical[i].startTime+'</td>'+
                                                 '<td>'+ json.longMedical[i].detail+'</td>'+
                                                 '<span></span><span></span><span></span><span></span>'+
                                                 '</td>'+
                                                 '<td>'+json.longMedical[i].stopTime+'</td>'+
                                                 '<td>'+json.longMedical[i].orderDoctor+'</td>'+
                                                 '<td>'+json.longMedical[i].stopDoctor+'</td>'+
                                                 '</tr>';
                            }
                            $("#cq-tbody").after(innerHtml);
                        }
                    })
                }else{
                   lsI++;
                    $.ajax({
                        type : 'POST',
                        url:"wd-yz.json",
                        dateType:"json",
                        async : false,
                        success:function(json){
                            var len = lsI*10+9<json.statMedical.length?lsI*10+9:json.statMedical.length;
                            var innerHtml =  "";
                            for(var i = lsI*10;i<len;i++){
                                innerHtml += '<tr>'+
                                             '<td>'+json.statMedical[i].startTime+'</td>'+
                                             '<td>'+ json.statMedical[i].detail+'</td>'+
                                             '<span></span><span></span><span></span><span></span>'+
                                             '</td>'+
                                             '<td>'+json.statMedical[i].orderDoctor+'</td>'+
                                             '</tr>';
                            }
                            $("#ls-tbody").after(innerHtml);
                        }
                    })
                }
            }
        });
    })
</script>
</html>