<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>病历文书</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <div class="blws-top">
            <h3 class="blws-title">杭州市医院</h3>
            姓名：<span>韩天衡</span> 病区：<span>30病区</span> 科别：<span>老年病区</span>
            床号：<span>1</span> 住院号：<span>200963</span>
        </div>
        <div class="hospitalized">
            <div class="blws-info">
                <h3 class="blws-title">出院小结</h3>
               <table class="chuyuan-table">
                   <tbody>
                   <tr>
                       <td>姓名</td>
                       <td>韩天衡</td>
                       <td>性别：<span>男</span></td>
                       <td>年龄 <span>80</span></td>
                   </tr>
                   <tr>
                       <td>入院时间</td>
                       <td>2016-8-9</td>
                       <td>出院时间</td>
                       <td>2016-9-6</td>
                   </tr>
                   <tr>
                       <td>入院诊断</td>
                       <td colspan="3">
                           <p>1.尿路感染</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                       </td>
                   </tr>
                   <tr>
                       <td>病理诊断</td>
                       <td colspan="3">
                           <p>无</p>
                       </td>
                   </tr>
                   <tr>
                       <td>出院诊断</td>
                       <td colspan="3">
                           <p>1.尿路感染</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                           <p>2.糖尿病</p>
                       </td>
                   </tr>
                   <tr>
                       <td>入院情况</td>
                       <td colspan="3">
                           <p>1.患者因肉眼血尿入院2天</p>
                       </td>
                   </tr>
                   <tr>
                       <td>住院时诊疗过程（包括重要体检、其他发现、用药情况、其他摘要、其他治疗情况、并发症）</td>
                       <td colspan="3">
                           <p>患者因肉眼血尿入院2天患者因肉眼血尿入院2天患者因肉眼血尿入院2天患者因肉眼血尿入院2天患者因肉眼血尿入院2天患者因肉眼血尿入院2天患者因肉眼血尿入院2天患者因肉眼血尿入院2天</p>
                       </td>
                   </tr>
                   <tr>
                       <td>住院期间主要用药</td>
                       <td colspan="3">
                           <p>雷贝钠搓药剂</p>
                       </td>
                   </tr>
                   <tr>
                       <td>住院期间主要化验结果</td>
                       <td colspan="3">
                           <p>肿瘤标志物</p>
                           <p>癌胚抗原</p>
                       </td>
                   </tr>
                   <tr>
                       <td>住院期间特殊检查（注明检查日期等要素）</td>
                       <td colspan="3">
                           <p>2016-9-7 检查项目 肿瘤标志物检测</p>
                           <p>2016-9-9 检查项目 癌胚抗原</p>
                       </td>
                   </tr>
                   <tr>
                       <td>出院时体征 <br/>（症状体征）</td>
                       <td colspan="3">
                           <p>患者情况一般，无不适主诉</p>
                       </td>
                   </tr>
                   <tr>
                       <td>出院带药</td>
                       <td colspan="3">
                           <p>遵医嘱</p>
                       </td>
                   </tr>
                   <tr>
                       <td>出院指导</td>
                       <td colspan="3">
                           <p>随访安排：门诊随访</p>
                           <p>如有尿血情况，立即来院</p>
                           <p>出院去向：回家</p>
                       </td>
                   </tr>
                   </tbody>
               </table>
                <p>出院录一式两份，一份放在病历中，一份交于病人家属</p>
                <p>主任医生：<span>张佳平</span></p>
                <p>主治医生：<span>张减平</span></p>
                <p>住院医生：<span>张乘平</span></p>
                <p>实习医生：<span>张除平</span></p>
                <p>日期：<span>2016-09-07</span></p>
            </div>
        </div>
        <div class="blws-bottom">
            <p>第<span>2</span>页</p>
        </div>

    </div>
</body>
</html>