<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>检查报告</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <div  class="jcbg-tabs clearfix">
            <div id="jcbg-type-all" class="jcbg-tab tab-on">全部 (<span>2</span>)</div>
            <div id="jcbg-type1" class="jcbg-tab">超声 (<span>1</span>)</div>
            <div id="jcbg-type2" class="jcbg-tab">放射 (<span>1</span>)</div>
        </div>
        <div id="jcbg1" class="bg-table-head jcbg-head jcbg-type1 clearfix">
            <div class="jcbg-type">超声</div>
            <i class="icon icon-open fl"></i>
            <span>肿瘤标志物</span>
            <span>化验日期：<b>2016-6-6</b></span>
            <span>报告日期：<b>2016-6-6</b></span>
            <div class="jcbg-date fr">10086</div>
        </div>
        <div class="jcbg-show">
            <h3 class="strong">影像所见</h3>
            <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
            <h3 class="strong">影像所得</h3>
            <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
            <table class="peo-data-table">
                <tbody>
                    <tr>
                        <td class="table-r" width="25%">报告号</td>
                        <td class="table-l" width="25%">10086</td>
                        <td class="table-r" width="25%">报告时间</td>
                        <td class="table-l" width="25%">2015-1-1</td>
                    </tr>
                    <tr>
                        <td class="table-r">检查项目</td>
                        <td class="table-l">颈部血管</td>
                        <td class="table-r">设备类型</td>
                        <td class="table-l">超声仪</td>
                    </tr>
                    <tr>
                        <td class="table-r">送检医生</td>
                        <td class="table-l">王一舒</td>
                        <td class="table-r">报告医生</td>
                        <td class="table-l">王一舒</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="jcbg2" class="bg-table-head jcbg-head jcbg-type1 clearfix">
            <div class="jcbg-type">超声</div>
            <i class="icon icon-open fl"></i>
            <span>肿瘤标志物</span>
            <span>化验日期：<b>2016-6-6</b></span>
            <span>报告日期：<b>2016-6-6</b></span>
            <div class="jcbg-date fr">10086</div>
        </div>
        <div class="jcbg-show">
            <h3 class="strong">肿瘤标志物</h3>
            <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
            <table class="peo-data-table">
                <tbody>
                <tr>
                    <td class="table-r" width="25%">报告号</td>
                    <td class="table-l" width="25%">10086</td>
                    <td class="table-r" width="25%">报告时间</td>
                    <td class="table-l" width="25%">2015-1-1</td>
                </tr>
                <tr>
                    <td class="table-r">检查项目</td>
                    <td class="table-l">颈部血管</td>
                    <td class="table-r">设备类型</td>
                    <td class="table-l">超声仪</td>
                </tr>
                <tr>
                    <td class="table-r">送检医生</td>
                    <td class="table-l">王一舒</td>
                    <td class="table-r">报告医生</td>
                    <td class="table-l">王一舒</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="jcbg10" class="bg-table-head jcbg-head jcbg-type2 clearfix">
            <div class="jcbg-type">放射</div>
            <i class="icon icon-open fl"></i>
            <span>肿瘤标志物</span>
            <span>化验日期：<b>2016-6-6</b></span>
            <span>报告日期：<b>2016-6-6</b></span>
            <div class="jcbg-date fr">2016-6-6 18:22<a href="#"><i class="icon icon-us"></i></a></div>
        </div>
        <div class="jcbg-show">
            <h3 class="strong">肿瘤标志物</h3>
            <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
            <table class="peo-data-table">
                <tbody>
                <tr>
                    <td class="table-r" width="25%">报告号</td>
                    <td class="table-l" width="25%">10086</td>
                    <td class="table-r" width="25%">报告时间</td>
                    <td class="table-l" width="25%">2015-1-1</td>
                </tr>
                <tr>
                    <td class="table-r">检查项目</td>
                    <td class="table-l">颈部血管</td>
                    <td class="table-r">设备类型</td>
                    <td class="table-l">超声仪</td>
                </tr>
                <tr>
                    <td class="table-r">送检医生</td>
                    <td class="table-l">王一舒</td>
                    <td class="table-r">报告医生</td>
                    <td class="table-l">王一舒</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="jcbg11" class="bg-table-head jcbg-head jcbg-type2 clearfix">
            <div class="jcbg-type">放射</div>
            <i class="icon icon-open fl"></i>
            <span>肿瘤标志物</span>
            <span>化验日期：<b>2016-6-6</b></span>
            <span>报告日期：<b>2016-6-6</b></span>
            <div class="jcbg-date fr">2016-6-6 18:22<a href="#"><i class="icon icon-us"></i></a></div>
        </div>
        <div class="jcbg-show">
            <h3 class="strong">肿瘤标志物</h3>
            <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
            <table class="peo-data-table">
                <tbody>
                <tr>
                    <td class="table-r" width="25%">报告号</td>
                    <td class="table-l" width="25%">10086</td>
                    <td class="table-r" width="25%">报告时间</td>
                    <td class="table-l" width="25%">2015-1-1</td>
                </tr>
                <tr>
                    <td class="table-r">检查项目</td>
                    <td class="table-l">颈部血管</td>
                    <td class="table-r">设备类型</td>
                    <td class="table-l">超声仪</td>
                </tr>
                <tr>
                    <td class="table-r">送检医生</td>
                    <td class="table-l">王一舒</td>
                    <td class="table-r">报告医生</td>
                    <td class="table-l">王一舒</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="jcbg12" class="bg-table-head jcbg-head jcbg-type2 clearfix">
            <div class="jcbg-type">放射</div>
            <i class="icon icon-open fl"></i>
            <span>肿瘤标志物</span>
            <span>化验日期：<b>2016-6-6</b></span>
            <span>报告日期：<b>2016-6-6</b></span>
            <div class="jcbg-date fr">2016-6-6 18:22<a href="#"><i class="icon icon-us"></i></a></div>
        </div>
        <div class="jcbg-show">
            <h3 class="strong">肿瘤标志物</h3>
            <p>双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常双侧动脉结构正常</p>
            <table class="peo-data-table">
                <tbody>
                <tr>
                    <td class="table-r" width="25%">报告号</td>
                    <td class="table-l" width="25%">10086</td>
                    <td class="table-r" width="25%">报告时间</td>
                    <td class="table-l" width="25%">2015-1-1</td>
                </tr>
                <tr>
                    <td class="table-r">检查项目</td>
                    <td class="table-l">颈部血管</td>
                    <td class="table-r">设备类型</td>
                    <td class="table-l">超声仪</td>
                </tr>
                <tr>
                    <td class="table-r">送检医生</td>
                    <td class="table-l">王一舒</td>
                    <td class="table-r">报告医生</td>
                    <td class="table-l">王一舒</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="../../js/jquery-1.9.1.min.js"></script>

<script>
    $(function(){
        $(".bg-table-head").click(function(){
            if($(this).next().is(":hidden")){
//                alert("隐藏")
                $(this).next().fadeIn("1000");
                $(this).find("i").removeClass("icon-close").addClass("icon-open")
            }else{
//                alert("显示")
                $(this).next().fadeOut("1000");
                $(this).find("i").removeClass("icon-open").addClass("icon-close")
            }
        })
    })
</script>
<script type='text/javascript'>
    (function($){
        $(window).load(function(){
            $("#jcbg-type1 span").text($(".jcbg-type1").length);
            $("#jcbg-type2 span").text($(".jcbg-type2").length);
            $("#jcbg-type-all span").text($(".jcbg-type2").length + $(".jcbg-type1").length);

            $(".jcbg-tab").click(function(){
               var id = $(this).attr("id");
               $(this).siblings().removeClass("tab-on");
               $(this).addClass("tab-on");
               if(id != "jcbg-type-all"){
                   $(".jcbg-head").hide();
                   $(".jcbg-head").next().hide();
                   $("." + id).show();
                   $("." + id).next().show();
               }else{
                   $(".jcbg-head").show();
                   $(".jcbg-head").next().show();
               }
            });
        });
    })(jQuery);
</script>
</html>