<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>临时医嘱</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <table class="common-table">
            <thead>
                <tr>
                    <th width="20%">开始时间</th>
                    <th width="60%">医嘱内容</th>
                    <th width="20%">医嘱医生</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2015-9-8</td>
                    <td>
                        血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>张医生</td>
                </tr>
                <tr>
                    <td>2015-6-8</td>
                    <td>
                        ┏血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┃血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        ┗血糖试纸*50张（2015-9-8 13:44起）
                        <span></span><span></span><span></span><span></span>
                    </td>
                    <td>周市委</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../../js/jquery-1.9.1.min.js"></script>

</body>
</html>