<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>病历文书</title>
    <link rel="stylesheet" href="../../css/wdcq.css?v=upd20160919"/>
</head>
<body>
    <div class="warp">
        <h3 class="cf-title">处方笺</h3>
        <div class="cf-content cf-top">
            <div>
                姓名：<span id="cf-name"></span>
                性别：<span id="cf-sex"></span>
                年龄：<span id="cf-age"></span>岁
                <span id="cf-year"></span>年
                <span id="cf-month"></span>月
                <span id="cf-day"></span>日
            </div>
            <div>
                门诊/住院号：<span id="cf-number"></span>
                科室：<span id="cf-dep"></span>
                床号：<span id="cf-bed"></span>
            </div>
            <div>
                身份证号：<span id="cf-idCard"></span>
                电话： <span id="cf-phone"></span>
            </div>
            <div>
                住址：<span id="cf-addr"></span>
            </div>
            <div>
                临床诊断：<span id="cf-dia"></span>
            </div>
            <div>
                过敏史：<span id="cf-allergy"></span>
            </div>
        </div>
        <div class="cf-content cf-rp">
            <h3 class="strong">Rp:</h3>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
            <p>门诊处方</p>
        </div>
        <div class="cf-content cf-bottom">
            <div>
                审核：<span id="cf-exa"></span>
                调配：<span id="cf-allo"></span>
                医生：<span id="cf-doctor"></span>
            </div>
            <div>
                核对：<span id="cf-check"></span>
                发药：<span id="cf-medicine"></span>
                金额：<span id="cf-money"></span>
            </div>
        </div>
    </div>
</body>
</html>