<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
<title>合肥互联网医院</title>
<script type="text/javascript">
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="hf-header">
	<div class="m-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
          <a href="#" class="logo"><span><img class="hf-logo-img" src="../../images/themes/logo_hf.png"></span></a>

 	</div>
</header>

<!-- content开始-->
<article>
<div class="hf-content width980">
	<div class="new-breadcrumb"><span class=""><a href="/fjpt.htm" class="bread-fir">首页</a></span> &gt;&gt;
	            <span class="current"><a>工作量汇总</a></span>
	        </div>
	<div class="hf-table ">
		<table border="1" width="100%" class="ahhf-table">
			<caption>影像报告数</caption>
				<thead>
					<tr>
						<th></th>
						<th>编号</th>
						<th>姓名</th>
						<th>档案号</th>
						<th>报告人</th>
						<th>报告时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="5" style="vertical-align:middle;border-right:1px solid #a0a0a0;">院本部</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
				</tbody>
		</table>

		<br />

		<table border="1" width="100%" class="ahhf-table">
			<caption>影像集团</caption>
				<tbody> 
					<tr style="background: #e5e3ee;">
						<td></td>
						<td></td>
						<td>影像数量</td>
						<td>未处理</td>
						<td>已处理</td>
					</tr>
					<tr>
						<td rowspan="5" style="vertical-align:middle;border-right:1px solid #a0a0a0;">院际平台</td>
						<td width="30%">合肥第一人民医院</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>合肥滨湖医院</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>合肥第一人民医院体检中心</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>合肥第一人民医院蜀山分院</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
				</tbody>
				<tbody> 
					<tr style="background: #e5e3ee;">
						<td></td>
						<td></td>
						<td>影像数量</td>
						<td>未处理</td>
						<td>已处理</td>
					</tr>
					<tr>
						<td rowspan="5" style="vertical-align:middle;border-right:1px solid #a0a0a0;">医联体平台</td>
						<td>义城社区</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>杏林社区</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>双岗社区</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr>
						
						<td>亳州路社区</td>
						<td>*</td>
						<td>*</td>
						<td>*</td>
					</tr>
				</tbody>
		</table>

	</div>
</div>
</article>
<!-- content结束 -->
<footer class="clearfix">
  <section class="m-width">
	<div class="footer-links footer-center ">
		<ul class="footer-type">
			<h5>医疗机构 |</h5>
			<h5><br></h5>
			<h5><br></h5>
			<h5>技术支持 |</h5>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">武汉亚洲心脏病医院</a></li>
			<li><a href="" alt="">武汉市中心医院</a></li>
			<li><a href="" alt="">武汉市中西医结合医院</a></li>
			<li><a href="" alt="">武汉市第三医院</a></li>
			<li><a href="" alt="">湖北省荣军医院</a></li>
			<li><a href="" alt="">武汉协和医院</a></li>
			<li><a href="" alt="">武汉科技大学医院</a></li>
			<li><a href="" alt="">湖北云梦县中医院</a></li>
			<li><a href="" alt="">湖北省黄冈市中医院</a></li>
			<li><a href="" alt="">湖北省团风县中医院</a></li>
			<li><a href="" alt="">宜昌中心人民医院</a></li>
			<li><a href="" alt="">五峰县人民医院</a></li>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">全球影像网</a></li>
		</ul>
		<p>杭州联众医疗科技有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
	</div>
  </section>
</footer>
</body>

</html>