<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
<title>合肥互联网医院</title>
<script type="text/javascript">
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="hf-header">
	<div class="m-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
          <a href="#" class="logo"><span><img class="hf-logo-img" src="../../images/themes/logo_hf.png"></span></a>

 	</div>
</header>

<!-- content开始-->
<article>
	<section class="hf-banner"></section>

	<div class="m-width">
		<div class="net-hosipital-info clearfix">
			<a>
				<p><b>54</b>家</p>
				<span>已注册机构数</span>
			</a>
			<a>
				<p><b>40</b>人</p>
				<span>注册专家</span>
			</a>
			<a href="ahhf1.html">
				<p><b>22222</b>例</p>
				<span>平台总影像数</span>
			</a>
		</div>
		<div class="net-hosipital">
			<ul class="net-hosipital-list clearfix">
				<li style="margin-left:200px;">
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
			</ul>
			<ul  class="net-hosipital-list clearfix">
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院蜀山分院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg"  alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="hosipital-img"><img src="../../images/themes/hp_defult.jpg" alt=""/></div>
						<div class="hosipital-dept">
							<h3>合肥市第一人民医院体检中心</h3>
							<p>
								医院始建于1954年,从院本部单位原有54亩地,拓展...
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<!--合作机构-->
		<h3 class="partner-title"><i class="partner-icon"></i>合作机构</h3>
		<div class="partner-content clearfix">
			<div><i class="icon-hzlz"></i></div>
			<div><i class="icon-wy"></i></div>
			<div><i class="icon-nljk"></i></div>
			<div><i class="icon-yhj"></i></div>
		</div>
	</div>


</article>
<!-- content结束 -->

<footer class="clearfix">
  <section class="m-width">
	<div class="footer-links footer-center ">
		<ul class="footer-type">
			<h5>医疗机构 |</h5>
			<h5><br/></h5>
			<h5><br/></h5>
			<h5>技术支持 |</h5>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">武汉亚洲心脏病医院</a></li>
			<li><a href="" alt="">武汉市中心医院</a></li>
			<li><a href="" alt="">武汉市中西医结合医院</a></li>
			<li><a href="" alt="">武汉市第三医院</a></li>
			<li><a href="" alt="">湖北省荣军医院</a></li>
			<li><a href="" alt="">武汉协和医院</a></li>
			<li><a href="" alt="">武汉科技大学医院</a></li>
			<li><a href="" alt="">湖北云梦县中医院</a></li>
			<li><a href="" alt="">湖北省黄冈市中医院</a></li>
			<li><a href="" alt="">湖北省团风县中医院</a></li>
			<li><a href="" alt="">宜昌中心人民医院</a></li>
			<li><a href="" alt="">五峰县人民医院</a></li>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">全球影像网</a></li>
		</ul>
		<p>杭州联众医疗科技有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
	</div>
  </section>
</footer>

</body>

</html>