<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../css/emr.css"/>
    <link href="../../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
    <!-- <link href="../../css/themes.css?v=upd20160608" rel="stylesheet" type="text/css" /> -->
    <link href="../../css/fjpt.css?v=upd20160608" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <title>莆田市影像医生签约</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
    <script type="text/javascript">
        function goToByScroll(id){
            $('html,body').animate({scrollTop: $("#"+id).offset().top-70},2000);
        }
    </script>
</head>
<body>
<header class="fjpt-header" style="position:relative;">
    <div class="m-width">
        <div class="login-ent">
            <a href="#"><span>登 录</span></a>
            <a href="#"><span>注 册</span></a>
        </div>
        <a href="#" class="logo"><span><img src="../../images/log.png"></span></a>
    </div>
</header>
<div class="qy-main">
    <div class="qy-content">
        <img src="../../images/themes/pt_slogan.png" alt="" class="pt-slogan"/>

        <div class="new-breadcrumb"><span class=""><a href="#" class="bread-fir">首页</a></span> &gt;&gt;
            <span class=""><a href="" class="bread-fir">上海复旦大学附属中山医院</a></span> &gt;&gt;
            <span class=""><a href="" class="bread-fir">骨科</a></span> &gt;&gt;
            <span class="current"><a>宋冬雷</a></span>
        </div>
        <div class="doc-intro">
            <div class="doc-img">
                <div class="doc-tz" >
                    <img src="http://www.eimageglobal.com/pImage/doctor/5083/2016051370353160142.jpg" onerror="util.nofind('/images/docmale.jpg',this)" width="128" height="150">

                </div>

                <div class="doc-icons">
                    <a href="#">
                        <span class="doc-online doc-offline"><i class="doc-outline"></i>当前离线</span>
                    </a>
                    <a href="#">
                        <span class="doc-care"><i class="doc-care"></i>关注医生</span>
                    </a>
                </div>
            </div>
            <div class="doc-about">
                <p><em>宋嘉华</em>
                    <span class="doc-sex">男</span>， <span class="doc-job">副主任</span>
                    <span class="doc-hos">莆田学院附属医院</span><span class="doc-keshi">影像科</span></p>
                <p class="doc-sc"><strong>擅长：</strong></p>

                <div class="doc-askbtn">
                    <ul>
                        <li>已签约医院 <span>4</span></li>
                        <li>会诊总数 <span>23</span></li>
                        <li>超时数 <span>15</span></li>
                        <li>回退数 <span>3</span></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="qy-py">

                    <div class="qy-hos">
                        <div class="doc-tz1" style="display:block;">
                            <img src="../../images/z1.jpg" alt="" />
                        </div>
                        <div class="doc-icons">
                            <span style="position: absolute;top: 15px;left: 43px;font-size: 16px;">已签约 <span>8</span>人</span>

                            <a href="#" class="hos-up">医院发起</a>
                        </div>
                    <div class="qy-hos-div">
                        <em>浙江大学医学院附属第二医院</em>
                        <ul style="    margin-bottom: 11px">类型：
                            <li>CR</li>
                            <li>DR</li>
                            <li>CT</li>
                        </ul>
                        <ul>人次：
                            <li>58</li>
                            <li>12</li>
                            <li>92</li>
                        </ul>
                        <div class="qy-hos-bt">
                            <ul style="margin-bottom: 8px;">申请诊断数：
                                <li><span>2580</span> 人次</li>
                            </ul>
                            <ul style="margin-bottom: 8px;">回退申请数：
                                <li><span>150</span> 人次</li>
                            </ul>
                            <ul>诊断修改率：
                                <li><span>15%</span></li>
                            </ul>
                        </div>

                    </div>

                    </div>
                    <div class="qy-hos">
                        <div class="doc-tz1" style="display:block;">
                            <img src="../../images/z1.jpg" alt="" />
                        </div>
                        <div class="doc-icons">
                            <span style="position: absolute;top: 15px;left: 43px;font-size: 16px;">已签约 <span>8</span>人</span>

                            <a href="#" class="hos-up">医院发起</a>
                        </div>
                        <div class="qy-hos-div">
                            <em>浙江大学医学院附属第二医院</em>
                            <ul style="    margin-bottom: 11px">类型：
                                <li>CR</li>
                                <li>DR</li>
                                <li>CT</li>
                            </ul>
                            <ul>人次：
                                <li>58</li>
                                <li>12</li>
                                <li>92</li>
                            </ul>
                            <div class="qy-hos-bt">
                                <ul style="margin-bottom: 8px;">申请诊断数：
                                    <li><span>2580</span> 人次</li>
                                </ul>
                                <ul style="margin-bottom: 8px;">回退申请数：
                                    <li><span>150</span> 人次</li>
                                </ul>
                                <ul>诊断修改率：
                                    <li><span>15%</span></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="qy-hos">
                        <div class="doc-tz1" style="display:block;">
                            <img src="../../images/z1.jpg" alt="" />
                        </div>
                        <div class="doc-icons">
                            <span style="position: absolute;top: 15px;left: 43px;font-size: 16px;">已签约 <span>8</span>人</span>

                            <a href="#" class="doc-up">医生发起</a>
                        </div>
                        <div class="qy-hos-div">
                            <em>浙江大学医学院附属第二医院</em>
                            <ul style="    margin-bottom: 11px">类型：
                                <li>CR</li>
                                <li>DR</li>
                                <li>CT</li>
                            </ul>
                            <ul>人次：
                                <li>58</li>
                                <li>12</li>
                                <li>92</li>
                            </ul>
                            <div class="qy-hos-bt">
                                <ul style="margin-bottom: 8px;">申请诊断数：
                                    <li><span>2580</span> 人次</li>
                                </ul>
                                <ul style="margin-bottom: 8px;">回退申请数：
                                    <li><span>150</span> 人次</li>
                                </ul>
                                <ul>诊断修改率：
                                    <li><span>15%</span></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="qy-hos">
                        <div class="doc-tz1" style="display:block;">
                            <img src="../../images/z1.jpg" alt="" />
                        </div>
                        <div class="doc-icons">
                            <span style="position: absolute;top: 15px;left: 43px;font-size: 16px;">已签约 <span>8</span>人</span>

                            <a href="#" class="hos-up">医院发起</a>
                        </div>
                        <div class="qy-hos-div">
                            <em>浙江大学医学院附属第二医院</em>
                            <ul style="    margin-bottom: 11px">类型：
                                <li>CR</li>
                                <li>DR</li>
                                <li>CT</li>
                            </ul>
                            <ul>人次：
                                <li>58</li>
                                <li>12</li>
                                <li>92</li>
                            </ul>
                            <div class="qy-hos-bt">
                                <ul style="margin-bottom: 8px;">申请诊断数：
                                    <li><span>2580</span> 人次</li>
                                </ul>
                                <ul style="margin-bottom: 8px;">回退申请数：
                                    <li><span>150</span> 人次</li>
                                </ul>
                                <ul>诊断修改率：
                                    <li><span>15%</span></li>
                                </ul>
                            </div>

                        </div>

                    </div>
        </div>
    </div>
    <footer class="clearfix" style="height: 220px;">
        <div class="footer980" >
            <div class="footer-pt">
                <ul class="zzjg">
                    <li>政治机构 |</li>
                    <li style="color:#626262;">莆田市卫生局</li>
                </ul>
                <ul class="yljg">
                    <li>医疗机构 |</li>
                    <li style="color:#626262;">莆田市第一医院</li>
                    <li style="color:#626262;">莆田学院附属医院</li>
                    <li style="color:#626262;">仙游县医院</li>
                    <li style="color:#626262;">莆田市汉江医院</li>
                    <li style="color:#626262;">人民解放军第九五医院</li>
                    <li style="color:#626262;">莆田市秀屿区医院</li>
                    <li style="color:#626262;">莆田盛兴医院</li>
                </ul>
                <ul class="jszc">
                    <li>技术支持 |</li>
                    <li style="color:#626262;">全球影像网</li>
                </ul>
            </div>
        </div>
    </footer>
</div>


</body>
</html>