<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
        <link href="../../css/themes.css?v=upd20160608" rel="stylesheet" type="text/css" />
    <link href="../../css/fjpt.css?v=upd20160608" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <title>莆田市影像医生签约</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
    <script type="text/javascript">
        function goToByScroll(id){
            $('html,body').animate({scrollTop: $("#"+id).offset().top-70},2000);
        }
    </script>
</head>
<body>
<header class="fjpt-header" style="position:relative;">
    <div class="m-width">
        <div class="login-ent">
            <a href="#"><span>登 录</span></a>
            <a href="#"><span>注 册</span></a>
        </div>
        <a href="#" class="logo"><span><img src="../../images/log.png"></span></a>
    </div>
</header>
<div class="qy-main">
    <div class="qy-content">
        <img src="../../images/themes/pt_slogan.png" alt="" class="pt-slogan"/>

        <div class="new-breadcrumb"><span class=""><a href="#" class="bread-fir">首页</a></span> &gt;&gt;
            <span class=""><a href="" class="bread-fir">莆田市影像云平台会诊诊断工作量统计</a></span> &gt;&gt;
            <span class="current"><a>会诊中心统计专家工作量</a></span>
        </div>
  
        
<div class="fj-cont-index" >
    
        <table cellspacing="0" class="fj-table" style="display:none;">
                   <caption>莆田市影像云平台会诊诊断工作量统计</caption>             
                    <thead>
                        <tr>
                            <th style="width:10%">影像诊断中心</th>
                            <th style="width:15%">卫生院</th>
                            <th>会诊申请</th>
                            <th>报告书写</th>
                            <th>书写率</th>
                            <th>报告审核</th>
                            <th>审核率</th>
                            <th>修订</th>
                            <th>修订率</th>
                            <th>回退</th>
                            <th>回退率</th>
                            <th>超时</th>
                            <th>超时率</th>
                            <th>修订率</th>
                            <th>电子签名</th>
                            <th>电子签名率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                
                            <td rowspan="5"> 莆田市第一医院 </td>          
                            <td align="left">平海镇卫生院</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0.0%</td>
                            <td>5</td>
                            <td>71.43%</td>
                            <td>0</td>
                            <td>0.0%</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                                                                                                                    </tr><tr>
                            <td align="left">埭头镇中心卫生院</td>
                            <td>10</td>
                            <td>0</td>
                                                        <td>0.0%</td>
                                                        <td>10</td>
                                                        <td>100.0%</td>
                                                        <td>0</td>
                                                        <td>0.0%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                                                    <tr>
                            <td align="left">云影像会诊中心</td>
                            <td>1</td>
                            <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                                                    <tr>
                            <td align="left">rmd影像中心</td>
                            <td>1</td>
                            <td>0</td>
                                                        <td>0.0%</td>
                                                        <td>1</td>
                                                        <td>100.0%</td>
                                                        <td>0</td>
                                                        <td>0.0%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                                                    <tr>
                            <td align="left">总计</td>
                            <td>19</td>
                            <td>0</td>
                                                        <td>0.0%</td>
                                                        <td>16</td>
                                                        <td>84.21%</td>
                                                        <td>0</td>
                                                        <td>0.0%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                
                            <tr>                
                             <td rowspan="5"> 莆田学院附属医院</td>          
                            <td align="left">平海镇卫生院</td>
                            <td>5</td>
                            <td>1</td>
                                                        <td>20.0%</td>
                                                        <td>4</td>
                                                        <td>80.0%</td>
                                                        <td>0</td>
                                                        <td>0.0%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                                                                                                                    </tr><tr>
                            <td align="left">埭头镇中心卫生院</td>
                            <td>14</td>
                            <td>2</td>
                                                        <td>14.29%</td>
                                                        <td>13</td>
                                                        <td>92.86%</td>
                                                        <td>1</td>
                                                        <td>7.69%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                                                    <tr>
                            <td align="left">云影像会诊中心</td>
                            <td>12</td>
                            <td>0</td>
                                                        <td>0.0%</td>
                                                        <td>12</td>
                                                        <td>100.0%</td>
                                                        <td>2</td>
                                                        <td>16.67%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                                                    <tr>
                            <td align="left">rmd影像中心</td>
                            <td>14</td>
                            <td>0</td>
                                                        <td>0.0%</td>
                                                        <td>14</td>
                                                        <td>100.0%</td>
                                                        <td>3</td>
                                                        <td>21.43%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                                                    <tr>
                            <td align="left">总计</td>
                            <td>45</td>
                            <td>3</td>
                                                        <td>6.67%</td>
                                                        <td>43</td>
                                                        <td>95.56%</td>
                                                        <td>6</td>
                                                        <td>13.95%</td>
                                                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                                                                                
                                            
                    </tbody>
            </table>

        <table border="0" cellspacing="0" class="fj-table">
                 <caption>埭头镇中心卫生院</caption>               
                <thead>
                        <tr>
                            <th>会诊中心</th>
                            <th>专家</th>
                            <th>书写量</th>
                            <th>会诊量</th>
                            <th>回退量</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>                
                            <td rowspan="1"> 莆田学院附属医院</td>
                            <td>吴良雨</td>
                            <td>2</td>  
                            <td>13</td> 
                            <td></td>   
                        </tr>
                        <tr>               
                            <td rowspan="3"> 莆田市第一医院 </td>
                            <td>阮彬林</td>
                            <td>0</td>  
                            <td>3</td>  
                            <td></td>   
                        </tr>
                        <tr>
                            <td>刘海兵</td>
                            <td>0</td>  
                            <td>2</td>  
                            <td></td>
                        </tr>
                        <tr>
                            <td>李仙娥</td>
                            <td>0</td>  
                            <td>5</td>  
                            <td></td>
                        </tr>
                        <tr>
                            <td>总计</td>
                            <td></td>
                            <td>2</td>
                            <td>23</td>
                            <td>0</td>
                        </tr>                               
                </tbody>
        </table>

        <table border="0" cellspacing="0" class="fj-table" style="display:none;" >
                        <caption>会诊中心统计专家工作量</caption>
                        <thead>
                            
                            <tr>
                                <th>机构名称：云影像会诊中心</th>
                                <th>专家：江波</th>
                            </tr>
                        </thead>
                <thead>
                    <tr>
                            <td>书写量</td>
                            <td>审核量</td>
                            <td>回退</td>
                            <td>超时</td>
                    </tr>
                </thead>
            </table>


</div>



    <footer class="clearfix" style="height: 220px;">
        <div class="footer980" >
            <div class="footer-pt">
                <ul class="zzjg">
                    <li>政治机构 |</li>
                    <li style="color:#626262;">莆田市卫生局</li>
                </ul>
                <ul class="yljg">
                    <li>医疗机构 |</li>
                    <li style="color:#626262;">莆田市第一医院</li>
                    <li style="color:#626262;">莆田学院附属医院</li>
                    <li style="color:#626262;">仙游县医院</li>
                    <li style="color:#626262;">莆田市汉江医院</li>
                    <li style="color:#626262;">人民解放军第九五医院</li>
                    <li style="color:#626262;">莆田市秀屿区医院</li>
                    <li style="color:#626262;">莆田盛兴医院</li>
                </ul>
                <ul class="jszc">
                    <li>技术支持 |</li>
                    <li style="color:#626262;">全球影像网</li>
                </ul>
            </div>
        </div>
    </footer>


</body>
</html>