<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
<title>柳州市分级诊疗签约平台</title>
<script type="text/javascript">
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="gxlz-header">
	<div class="m-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
          <a href="#" class="logo"><span><img src="../../images/themes/logo_gxlz.png"></span></a>

 	</div>
</header>

<!-- content开始-->
<article>
	<section class="gxlz-banner"></section>

	<section class="gxlz-block">
		<div class="gxlz-hospital">
			<div class="gxlz-area">
				<ul class="clearfix">
				<li><a href=""><span class="gxlz-logo1"></span>柳州市工人医院</a></li>
				<li><a href=""><span class="gxlz-logo2"></span>柳州市人民医院</a></li>
				<li><a href=""><span class="gxlz-logo3"></span>柳州市柳铁中心医院</a></li>
				<li><a href=""><span class="gxlz-logo4"></span>柳州市鱼峰区阳和街道社区服务中心</a></li>
				<li><a href=""><span class="gxlz-logo4"></span>柳东卫生院</a></li>
				<li><a href=""><span class="gxlz-logo4"></span>三江侗族自治县人民医院</a></li>
				<li><a href=""><span class="gxlz-logo4"></span>鹿寨县雒容中心卫生院</a></li>
				<li><a href=""><span class="gxlz-logo4"></span>鹿寨县鹿寨镇中心卫生院</a></li>
				<li><a href=""><span class="gxlz-logo4"></span>融水苗族自治县三防镇中心卫生院</a></li>

				</ul>
			</div>
		</div>




	</section>
 

</article>
<!-- content结束 -->

<footer class="clearfix">
  <section class="m-width">
	<div class="footer-links footer-center ">
		<ul class="footer-type">
			<h5>医疗机构 |</h5>
			<h5><br/></h5>
			<h5>技术支持 |</h5>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">柳州市工人医院</a></li>
			<li><a href="" alt="">柳州市人民医院</a></li>
			<li><a href="" alt="">柳州市柳铁中心医院</a></li>
			<li><a href="" alt="">柳州市鱼峰区阳和街道社区服务中心</a></li>
			<li><a href="" alt="">柳东卫生院</a></li>
			<li><a href="" alt="">三江侗族自治县人民医院</a></li>
			<li><a href="" alt="">鹿寨县雒容中心卫生院</a></li>
			<li><a href="" alt="">鹿寨县鹿寨镇中心卫生院</a></li>
			<li><a href="" alt="">融水苗族自治县三防镇中心卫生院</a></li>
			
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">全球影像网</a></li>
		</ul>

  			<p>杭州联众医疗科技有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
	</div>

  </section>
</footer>

</body>

</html>