<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
<title>健康西宁</title>
<script type="text/javascript">
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="xn-header">
	<div class="m-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
          <a href="#" class="logo"><span><img src="../../images/themes/logo_xn.png"></span></a>

 	</div>
</header>

<!-- content开始-->
<article>
	<section class="xn-banner"></section>

	<section class="xn-block">
		<div class="xn-hospital">
			<div class="xn-area">
				<ul class="clearfix">
				<li><a href=""><span class="xn-logo1"></span>西宁市第一医院</a></li>
				<li><a href=""><span class="xn-logo3"></span>大通县医院</a></li>
				<li><a href=""><span class="xn-logo3"></span>大通县中医院</a></li>
				<li><a href=""><span class="xn-logo3"></span>大通县第二医院</a></li>
				<li><a href=""><span class="xn-logo2"></span>西宁市第二医院</a></li>
				<li><a href=""><span class="xn-logo3"></span>西宁市中医院</a></li>
				</ul>
			</div>
		</div>




	</section>
 

</article>
<!-- content结束 -->

<footer class="clearfix">
  <section class="m-width">
	<div class="footer-links footer-center ">
		<ul class="footer-type">
			<h5>医疗机构 |</h5>
			<h5><br/></h5>
			<h5>技术支持 |</h5>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">西宁市第一医院</a></li>
			<li><a href="" alt="">大通县医院</a></li>
			<li><a href="" alt="">大通县中医院</a></li>
			<li><a href="" alt="">大通县第二医院</a></li>
			<li><a href="" alt="">西宁市第二医院</a></li>
			<li><a href="" alt="">西宁市中医院</a></li>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">全球影像网</a></li>
		</ul>

  			<p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
	</div>

  </section>
</footer>

</body>

</html>