<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script src="../../js/jquery.slides.min.js"></script>
<title>鄂尔多斯云影像会诊中心</title>
<script type="text/javascript"> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="yyl-header">
	<div class="m-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
          <a href="#" class="logo"><span><img src="../../images/themes/logo_yyl.png"></span></a>

 	</div>
</header>

<!-- content开始-->
<article>
	<section class="yyl-banner">

	</section>

	

	<section class="yyl-exp  m-width" id="yyl-con">
		<div class="yyl-title" >
			<ul>
				<li><img src="../../images/themes/pho1.png" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho2.png" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho3.png" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho4.png" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho5.png" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho6.png" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho11.jpg" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho12.jpg" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho7.jpg" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho8.jpg" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho9.jpg" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho10.jpg" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho5.png" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho6.png" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho11.jpg" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho12.jpg" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho7.jpg" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho8.jpg" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho9.jpg" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho10.jpg" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
		</div>
		<div class="yyl-title" >
			<ul>
				<li><img src="../../images/themes/pho1.png" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho2.png" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho3.png" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho4.png" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho5.png" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho6.png" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho11.jpg" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho12.jpg" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho7.jpg" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho8.jpg" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho9.jpg" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho10.jpg" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho5.png" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho6.png" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho11.jpg" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho12.jpg" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho7.jpg" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho8.jpg" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho9.jpg" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho10.jpg" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
		</div>
		<div class="yyl-title" >
			<ul>
				<li><img src="../../images/themes/pho1.png" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho2.png" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho3.png" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho4.png" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho5.png" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho6.png" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho11.jpg" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho12.jpg" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho7.jpg" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho8.jpg" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho9.jpg" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho10.jpg" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho5.png" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho6.png" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho11.jpg" alt="专家姓名" >
				<p class="exp-name">徐某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>肿瘤科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho12.jpg" alt="专家姓名" >
				<p class="exp-name">张 某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>关节与骨病专科</em> 副主任医师</span>
				</li>
			</ul>
			<ul>
				<li><img src="../../images/themes/pho7.jpg" alt="专家姓名" >
				<p class="exp-name">张某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>儿科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho8.jpg" alt="专家姓名" >
				<p class="exp-name">王某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>呼吸内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho9.jpg" alt="专家姓名" >
				<p class="exp-name">李某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>心内科</em> 副主任医师</span>
				</li>
				<li><img src="../../images/themes/pho10.jpg" alt="专家姓名" >
				<p class="exp-name">赵某某</p>
				<span class="sh-hosp">上海东方医院</span><span><em>体检与健康管理医学中心</em> 副主任医师</span>
				</li>
			</ul>
		</div>

	</section>
	  <script type="text/javascript">
    $(function() {
      $('#yyl-con').slidesjs({
        width: 980,
        height: 1400,
        play: {
          active: false,
          auto: false,
          interval: 5000,
          swap:false,
          generateNextPrev:false,
          pauseOnHover: true
        },
		pagination: {
		  active: true,
		  effect: "slide"
		},
        effect: {
          slide: {speed: 2000}
        }
      });
    });
  </script>
</article>
<!-- content结束 -->

<footer class="clearfix">
  <section class="m-width">
	<div class="footer-links footer-center ">
		<ul class="footer-type">
			<h5>政治机构 |</h5>
			<h5>医疗机构 |</h5>
			<h5><br/></h5>
			<h5>技术支持 |</h5>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">鄂尔多斯卫生局</a></li>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">鄂尔多斯第三人民医院</a></li>
			<li><a href="" alt="">中国人民解放军海军总医院</a></li>
			<li><a href="" alt="">鄂尔多斯第三人民医院</a></li>
			<li><a href="" alt="">中国人民解放军海军总医院</a></li>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">全球影像网</a></li>
		</ul>

  			<p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
	</div>

  </section>
</footer>

</body>

</html>