<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <script src="../../js/jquery.sidebar.js"></script>
    <title>内蒙古影像会诊平台</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="nmg-header rh-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>

<div class="rh-main">
    <div class="dep-banner">
        <a href="javascript:;">
            <i></i>
        </a>
    </div>
    <div class="dep-content clearfix">
        <ul>
            <li><a href="javascript:;" class="dep-on">科室介绍</a></li>
            <li><a href="javascript:;">实验室介绍</a></li>
        </ul>
        <div class="rh-tab dep-artlice fl" >
            <p>
                风湿免疫科是一门新兴的学科，我国于1985年成立了中华风湿病学会。我院风湿免疫科始建于2006年10月，目前拥有床位89张，专科实验室一个，我科是内蒙古自治区各级医院风湿免疫专科拥有床位数最多，亦是一个集医疗、教学和科研于一体的风湿免疫性疾病防治研究机构。科室内共有医生17名，护士28名，检验师3名。其中主任医师3名，副主任医师3名，主治医师5名，住院医师6名。副主任护师1名，主管护师1名，护师10名，护士16名。建科至今全科同仁风雨同舟、共同努力，不断发展完善科室自身建设，增强国内及自治区各级医院交流合作，积极推动内蒙地区风湿病学的发展壮大。
            </p>
            <div style="text-align: center;margin:30px 0; ">
                <img src="../../images/themes/Introduce-photos.png" alt=""/>
                <p>风湿免疫科合影</p>
            </div>

            <div>
                <h4>
                    一、学科建设和人才梯队的培养</h4>
                <p>内蒙古医科大学附属医院风湿免疫科自成立之日起就非常重视学科建设和人才梯队的培养。同时在院领导大力支持下成立了风湿免疫科专科实验室。自中华风湿病学会内蒙古分会成立至今历任主任委员均由我科教授担任。我科李鸿斌主任现任中华医学会风湿病学学会委员、中国医师学会风湿免疫科医师分会委员、内蒙古医学会风湿病专科分会主任委员、中国医师学会风湿免疫科医师分会内蒙古自治区专家工作委员会主任委员、中国医师学会风湿免疫科医师分会自身免疫病实验诊断技术专家委员会第一届委员会常委。在李鸿斌主任带动下科室逐渐壮大，蓬勃发展。</p>
                <p>风湿免疫科现有医生17名，护士28名，检验师3名。其中主任医师3名，副主任医师3名，主治医师5名，住院医师6名。副主任护师1名，主管护师1名，护师10名，护士16名。临床医师均具有博士或硕士学位。风湿免疫科现有病房2层，床位89张。我科实验室是全区唯一的专科实验室之一，自身抗体检测是目前区内对风湿性疾病免疫学检查最全面的实验室。</p>
            </div>
            <div>
                <h4>二．医疗工作实力</h4>
                <p>风湿免疫科长期以来60%以上诊治病人来自除呼和浩特外其他市县，多为疑难重症患者。年门诊量约18000人次，开设了普通门诊、专家门诊、专病门诊，承担了大量繁重的医疗工作。</p>
            </div>
            <div>
                <h4>三．教学工作及风湿病学推广普及</h4>
                <p>风湿免疫科现有硕士研究生导师两人。共培养了硕士生20余名，接收来自全区各级风湿病科进修医师及规培医师数十名，并坚持每周组织形式多样的风湿病学讲座，为全区培养了大量风湿病学的专业人才，为风湿病学的推广普及做出了重要贡献。</p>
            </div>
            <div>
                <h4>四．科研工作及成果</h4>
                <p>
                    我科以风湿免疫病特别是疑难病的诊治和发病机制研究作为重点。已承担或参与完成了包括国家“十一●五”、“十二●五”、国家自然科学基金、教育部项目、内蒙古自治区自然科学基金等近40项国家和省级的科研课题
                </p>
            </div>

            <div class="footer-frame">
              <p><i></i><b></b><span style="float: left;">本科治疗疾病  </span><b></b><i></i></p>
                <div class="footer-frame-list">
                    <ul>
                        <li><i></i><a href="javascript:;">系统性红斑斑狼疮</a></li>
                        <li><i></i><a href="javascript:;">类风湿关节炎</a></li>
                        <li><i></i><a href="javascript:;">干燥综合征</a></li>
                        <li><i></i><a href="javascript:;">系统性血管炎</a></li>
                        <li><i></i><a href="javascript:;">痛风和高尿酸血症</a></li>
                    </ul>
                    <ul>
                        <li><i></i><a href="javascript:;">混合结缔组织病</a></li>
                        <li><i></i><a href="javascript:;">重叠综合征</a></li>
                        <li><i></i><a href="javascript:;">骨关节炎</a></li>
                        <li><i></i><a href="javascript:;">风湿性多肌痛</a></li>
                        <li><i></i><a href="javascript:;">多发性肌炎和皮肌炎</a></li>
                    </ul>
                    <ul>
                        <li><i></i><a href="javascript:;">强直性脊柱炎</a></li>
                        <li><i></i><a href="javascript:;">抗磷脂综合征</a></li>
                        <li><i></i><a href="javascript:;">成人斯蒂尔(Still's)病</a></li>
                        <li><i></i><a href="javascript:;">白塞病等多种风湿免疫病</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rh-tab lab-content fl" style="display: none;margin-bottom: 30px;">
            <p>我们拥有内蒙地区最先进的专科实验室，配备有免疫荧光镜、倒置荧光显微镜 、PCR扩增仪、酶标仪、高速离心机、低温冰箱、温育箱、转移脱色摇床、全自动酶免分析仪、二氧化碳培养箱、生物安全柜、全自动雅典娜多元微珠分析系统等价值近百万元的设备。可以开展多项免疫风湿疾病相关项目的检测，包括ANA、ds-DNA、ENA、ANCA、RF、抗CCP抗体、AKA、AFA等多种自身抗体</p>
            <ul class="lab-machine">
                <li>
                    <img src="../../images/themes/lab-machine1.png" alt=""/>
                    <p>BN2蛋白分析仪</p>
                </li>
                <li>
                    <img src="../../images/themes/lab-machine2.png" alt=""/>
                    <p>流式荧光技术平台</p>
                </li>
                <li>
                    <img src="../../images/themes/lab-machine3.png" alt=""/>
                    <p>显微镜</p>
                </li>
                <li>
                    <img src="../../images/themes/lab-machine4.png" alt=""/>
                    <p>离心机</p>
                </li>
                <li>
                    <img src="../../images/themes/lab-machine5.png" alt=""/>
                    <p>二氧化碳培养箱</p>
                </li>
            </ul>
            <div class="lab-pathologys fl">
                <ul>
                    <li style="padding: 0 20px;"><a href="javascript:;">类风湿因子（RF）</a></li>
                    <li style="padding: 0 30px;"><a href="javascript:;">抗核抗体（ANA）</a></li>
                    <li ><a href="javascript:;">抗双链DNA（ds-DNA）抗体</a></li>
                    <li style="padding: 0 30px;"><a href="javascript:;">波形蛋白MCV </a></li>
                    <li><a href="javascript:;">抗中性粒细胞胞浆抗体(ANCA)</a></li>
                    <li><a href="javascript:;">可提取性核抗原抗体（抗ENA抗体）</a></li>
                    <li><a href="javascript:;"> 抗环瓜氨酸肽（CCP）抗体 </a></li>
                    <li><a href="javascript:;">抗β2糖蛋白1抗体</a></li>
                    <li><a href="javascript:;">抗核小体抗体</a></li>
                    <li style="padding: 0 10px;"><a href="javascript:;">磷脂酶A2受体抗体（PLA2R）</a></li>
                    <li><a href="javascript:;">抗角蛋白抗体</a></li>
                    <li><a href="javascript:;">自身免疫性恶性贫血、慢性萎缩性胃炎</a></li>
                    <li><a href="javascript:;">抗IgG4抗体</a></li>
                    <li><a href="javascript:;">抗C1q抗体</a></li>
                    <li><a href="javascript:;">炎症性肠病筛查 </a></li>
                    <li><a href="javascript:;">自免肝全项</a></li>
                    <li style="padding: 0 20px;"><a href="javascript:;">肌炎谱 </a></li>
                    <li><a href="javascript:;">自身免疫性乳糜泻筛查（麸质敏感性肠病）</a></li>
                    <li style="padding: 0 13px;"><a href="javascript:;">神经抗原谱（副瘤性神经综合症）</a></li>
                    <li><a href="javascript:;">抗α胞衬蛋白抗体</a></li>
                    <li><a href="javascript:;">抗核周因子</a></li>
                    <li><a href="javascript:;">抗线粒体抗体分型</a></li>
                    <li><a href="javascript:;">抗磷脂抗体</a></li>
                    <li><a href="javascript:;">ANCA血管炎</a></li>
                </ul>
                <div class="fl" style="margin-bottom: 50px;">
                    <div class="lab-maincontent" >
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为靶抗原的自身抗体。此抗体包含在多种免疫球蛋白中，以真Fab段和邻近IgG分子Fc段结合，并包括IgG、IgA、IgM、IgD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的重要血清学标准之一，但并不是特异的，RF阳性亦可见于其他疾病。且当RF阴性时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意RF阴性时，不能排除RA的可能性，仍期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为靶抗白中，以真Fab段和邻近IgG分子Fc段结合，并包括IgG、IgA、IgM、IgD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的重要血清学标准之一，但并不是特异的，RF阳性亦可见于其他疾病。且当RF阴性时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包括IgG、IgA、IgM、IgD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于其他疾病。且当RF阴性时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包括IgG、IgA、IgM、I五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包括E五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于其他疾病。且当RF阴性时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包括IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子FcE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包gE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真FabD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻D、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包D、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合E五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包括IgG、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于其不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子FcIgD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于其他疾病。且当RF阴性时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段M、IgD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                    <div class="lab-maincontent" style="display: none;">
                        <p>类风湿因子（RF）是一种以变性IgG的Fc段为，以真Fab段和邻近IgG分子Fc段结合，并包括IgG、IgA、IgM、IgD、IgE五类，除IgM-RF外其他均自身结合形成二具体。现用乳胶凝集法与蛋白比浊法检测的均为IgM类。</p>
                        <p>临床意义：类风湿因子在RA中阳性率为50％-70％，是诊断RA的特异的，RF阳性亦可见于其他疾病。且当RF阴性时，不能排除RA的可能性，仍应遵循1987年RA分类诊断标准，并通过其他如抗CCP抗体、AKA、AFA等早期诊断检测项目协助诊断。</p>
                    </div>
                </div>
            </div>
            <div class="footer-frame">
                <p ><i style="width: 341px"></i><b></b><span style="float: left;width: 262px;">结核感染T细胞斑点试验TBSPOT</span><b></b><i style="width: 341px"></i></p>
                <div class="footer-frame-list">
                    <p class="fl" style="margin-bottom: 30px;">TB-SPOT是利用结核分枝杆菌RD1区编码的特异抗原检测分泌干扰素的淋巴细胞的数量，来判断结核分枝杆菌感染的一种方法。对结核分枝杆菌感染有相对较高的价值，但不能判断是潜伏感染还是患病。对于诊断不明确的患者，此项检验可作为参考。</p>
                    <div class="pathological-form">
                        <dl>
                            <dt>组合名称</dt>
                            <dd>名称</dd>
                            <dt>狼疮全项</dt>
                            <dd>抗核抗体ANA、抗双链DNA抗体Anti-dsDNA（IIF＋ELISA）、抗核提取物抗体Anti-ENA、抗β2糖蛋白1抗体、抗核小体抗体</dd>
                            <dt>类风湿全项</dt>
                            <dd>抗环胍氨酸肽Ⅱ代抗体Anti-CCPⅡ、抗突变型瓜氨酸MCV抗体、葡萄糖6磷酸异构酶抗体、抗核周因子APF、抗角蛋白抗体AKA、类风湿因子RF </dd>
                            <dt>自免肝全项</dt>
                            <dd>抗线粒体抗体（AMA-M2印迹法）；抗肝细胞抗体（Lc-1）；抗可溶性肝抗原/肝胰抗原抗体（SLA/LP）；抗肝肾微粒体抗体（LKM-1）；抗平滑肌抗体；抗胃壁细胞抗体；抗线粒体抗体（荧光法）；M2-3E抗体；GP210抗体；SP100抗体；PML抗体；RO52抗体；抗核抗体</dd>
                            <dt>ANCA全项</dt>
                            <dd>ANCA-IIF、MPO、PR3、GBM、内皮细胞</dd>
                            <dt>干燥全项</dt>
                            <dd>抗核抗体ANA、抗双链DNA抗体Anti-dsDNA（IIF＋ELISA）、抗核提取物抗体Anti-ENA、抗α胞衬蛋白抗体</dd>
                            <dt>磷脂三项 <br/>结核感染T细胞</dt>
                            <dd>ACL(IgG)、ACL(IgM)、ß2GPI</dd>
                            <dt>斑点试验</dt>
                            <dd>TB-SPOT</dd>
                            <dt>血管炎抗原谱</dt>
                            <dd>MPO、PR3、BPI、蛋白酶G、弹性蛋白酶、乳铁蛋白</dd>
                            <dt>膜性肾病筛查</dt>
                            <dd>磷脂酶A2受体抗体（PLA2R）荧光法+ELISA、抗C1q抗体</dd>
                            <dt>肌炎谱</dt>
                            <dd>
                                Mi-2、Ku、PM-ScL100、PM-ScL75、Jo-1、PL-7、PL-12、SRP、EJ、Ro-52</dd>
                            <dt>自身免疫性<br/>乳糜泻筛查</dt>
                            <dd>肌内膜、网硬蛋白、麦胶蛋白</dd>
                            <dt>炎症性肠病筛查</dt>
                            <dd>小肠杯状细胞、胰腺腺泡、酿酒酵母ASCA、pANCA</dd>
                            <dt>神经抗原谱</dt>
                            <dd>Amphiphysin、CV2.1、PNMA2、Ri、YO、HU</dd>
                            <dt>自身免疫性贫血</dt>
                            <dd>内因子、胃壁细胞</dd>
                            <dt>类风湿随诊</dt>
                            <dd>
                                类风湿因子、抗环瓜氨酸肽II代抗体、抗突变型瓜氨酸MCV抗体</dd>
                            <dt>抗线粒体抗体分型</dt>
                            <dd>线粒体分型 M2、线粒体分型 M4、线粒体分型 M9、AMA-M2(ELISA)</dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="clearfix">
        <section class="m-width">
            <div class="footer-links footer-center " style="height:150px;width:535px;">
                <ul class="footer-type">
                    <h5 style="margin-bottom: 5px;">医疗机构 |</h5>
                    <h5><br/></h5>
                    <h5>技术支持 |</h5>
                </ul>
                <ul class="footer-org" style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">成都市第五人民医院</a></li>
                </ul>
                <ul class="footer-org"  style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">全球影像网</a></li>
                </ul>

                <p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
            </div>

        </section>
    </footer>
</div>
<script>
    (function(){
        $(".lab-pathologys ul li").click(function(){
            $(this).siblings().removeClass("check-on").find("a").css("color","#000");
            $(this).addClass("check-on").find("a").css("color","#fff");
            $(".lab-maincontent").eq($(".lab-pathologys ul li").index(this)).show().siblings(".lab-maincontent").hide();
        });

        $(".dep-content ul li a").click(function(){
            $(this).parent().siblings().find("a").removeClass("dep-on");
            $(this).addClass("dep-on");
            $(".rh-tab").eq($(".dep-content ul li a").index(this)).show().siblings(".rh-tab").hide();

        })
    })()


</script>

</body>

</html>