<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <script src="../../js/jquery.sidebar.js"></script>
    <title>内蒙古影像会诊平台</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="nmg-header rh-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>

<div class="rh-main">
    <div class="exper-banner">
        <a href="javascript:;">
            <i>
                <img src="../../images/themes/doc-team1.png" alt=""/>
            </i>
            <i>
                <img src="../../images/themes/doc-team2.png" alt=""/>
            </i>
            <i>
                <img src="../../images/themes/doc-team3.png" alt=""/>
            </i>
            <i>
                <img src="../../images/themes/doc-team3.png" alt=""/>
            </i>
            <i>
                <img src="../../images/themes/doc-team4.png" alt=""/>
            </i>
            <i>
                <img src="../../images/themes/doc-team5.png" alt=""/>
            </i>
        </a>
        <div class="exper-banner-title">
            <p>风湿免疫科专家团队</p>
            <p>简介：管剑龙白塞病多学科攻关专家团队，由复旦大学附属华东医院免疫风湿科博士生导师管剑龙教授作为首席专家。团队成员由跨区域的风湿科、眼科、心外科、血管外科、中医科、影像科、皮肤科同行组成，共有10 位，通过跨区域、跨医院的在线协作机制。</p>
        </div>
    </div>

    <div class="rh-content clearfix">
        <p  class="expert-team" >团队风采 </p>
       <div class="rh-exper-content clearfix">
            <div class="rh-exper-block fl">
                <div class="exper-block-top fl">
                    <p class="exper-head fl">
                        <img src="../../images/themes/exper-head.png" alt=""/>
                        <img src="../../images/themes/exper-head-2.png" alt=""/>
                        <span>(特邀专家)</span>
                    </p>
                    <div class="rh-doc-introduced fl">
                        <p><span>李鸿斌 </span> <i>风湿免疫科</i></p>
                        <p><i>主任医师、教授（硕士研究生导师）</i></p>
                        <p><span>内蒙古医科大学附属医院 </span></p>
                        <div class="stars-icons">
                            <ul class="star-ul fl star-ul-2">
                                <li class=""><a class="one-star active-star" title="很差" href="javascript:;"></a></li>
                                <li class=""><a class="two-star active-star" title="差" href="javascript:;"></a></li>
                                <li class=""><a class="three-star active-star" title="还行" href="javascript:;"></a></li>
                                <li class=""><a class="four-star active-star" title="好" href="javascript:;"></a></li>
                                <li class=""><a class="five-star active-star" title="很好" href="javascript:;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rh-doc-btn fl">
                        <input type="button" class="btn-size4 blue-btn" value="留言咨询"/>
                        <input type="button" class="btn-size4 navy-btn" value="视频会诊"/>
                        <input type="button" class="btn-size4 green-btn" value="院内挂号"/>
                    </div>
                </div>
                <div class="exper-block-bottom fl">
                    <a class="exper-unfold"><i class="exp-on"></i>展开</a>
                    <div class="exper-article">
                        <div>
                            <p>【学会任职】</p>
                            <p>风湿病学博士（临床型） 九三学社</p>
                            <p>内蒙古医科大学附属医院风湿免疫科主任；第一临床学院诊断学教研室主任</p>
                            <p>中华风湿病学杂志通讯编委、J rheum杂志审稿人、国家自然科学基金评审人</p>
                            <p>中国医师学会风湿病学学常委</p>
                            <p>海峡两岸风湿病学学会常委</p>
                            <p>中国医师学会风湿免疫科医师分会自身免疫病实验诊断技术专家委员会常委</p>
                            <p>中国医师学会内科学教育委员会常委</p>
                            <p>内蒙古医学会风湿病学分会主任委员</p>
                            <p>内蒙古自治区医师学会风湿病学分会主任委员</p>
                        </div>

                        <div>
                            <p>【教育工作简历】</p>
                            <p>1996/07-1999/06 内蒙古医科大学临床医学系，硕士 </p>
                            <p>2003/07-2006/06 中国医学科学院北京协和医科大学北京协和医院风湿免疫科 博士（临床型）张奉春教授指导</p>
                            <p>2006/06-  内蒙古医科大学附属医院风湿免疫科主任,主任医师、教授,硕士研究生导师</p>
                            <p>1999/07-2003/06 内蒙古医科大学内科 住院医-主治医、讲师-副教授</p>
                        </div>
                        <div>
                            <p>【近5年科研经历】</p>
                            <p>作为项目主持人获得国家自然科学基金项目面上项目3项、内蒙古自然科学基金项目6项，内蒙古人才基金项目2项，教育部春晖计划1项，内蒙古高校重大项目2项，内蒙古博士启动基金项目1项。2014年获得十二五国家科技重大专项分课题1项</p>
                            <p>作为参加单位负责人参加十一五科技攻关计划2项，国家高技术研究发展计划（863计划）项目1项，卫生部公益性行业科研专项项目1项</p>
                            <p>近3年内在中华系列杂志发表文章12篇，SCI分值文章5篇，获得内蒙古医学会科学技术奖一等奖一项。</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="rh-exper-block fl">
                <div class="exper-block-top fl">
                    <p class="exper-head fl">
                        <img src="../../images/themes/exper-head.png" alt=""/>
                        <img src="../../images/themes/exper-head-2.png" alt=""/>
                    </p>
                    <div class="rh-doc-introduced fl">
                        <p><span>李鸿斌 </span> <i>风湿免疫科</i></p>
                        <p><i>主任医师、教授（硕士研究生导师）</i></p>
                        <p><span>内蒙古医科大学附属医院 </span></p>
                        <div class="stars-icons">
                            <ul class="star-ul fl star-ul-2">
                                <li class=""><a class="one-star active-star" title="很差" href="javascript:;"></a></li>
                                <li class=""><a class="two-star active-star" title="差" href="javascript:;"></a></li>
                                <li class=""><a class="three-star active-star" title="还行" href="javascript:;"></a></li>
                                <li class=""><a class="four-star active-star" title="好" href="javascript:;"></a></li>
                                <li class=""><a class="five-star active-star" title="很好" href="javascript:;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rh-doc-btn fl">
                        <input type="button" class="btn-size4 blue-btn" value="留言咨询"/>
                        <input type="button" class="btn-size4 navy-btn" value="视频会诊"/>
                        <input type="button" class="btn-size4 green-btn" value="院内挂号"/>
                    </div>
                </div>
                <div class="exper-block-bottom fl">
                    <a class="exper-unfold"><i class="exp-on"></i><span>展开</span></a>
                    <div class="exper-article">
                        <div>
                            <p>【学会任职】</p>
                            <p>风湿病学博士（临床型） 九三学社</p>
                            <p>内蒙古医科大学附属医院风湿免疫科主任；第一临床学院诊断学教研室主任</p>
                            <p>中华风湿病学杂志通讯编委、J rheum杂志审稿人、国家自然科学基金评审人</p>
                            <p>中国医师学会风湿病学学常委</p>
                            <p>海峡两岸风湿病学学会常委</p>
                            <p>中国医师学会风湿免疫科医师分会自身免疫病实验诊断技术专家委员会常委</p>
                            <p>中国医师学会内科学教育委员会常委</p>
                            <p>内蒙古医学会风湿病学分会主任委员</p>
                            <p>内蒙古自治区医师学会风湿病学分会主任委员</p>
                        </div>

                        <div>
                            <p>【教育工作简历】</p>
                            <p>1996/07-1999/06 内蒙古医科大学临床医学系，硕士 </p>
                            <p>2003/07-2006/06 中国医学科学院北京协和医科大学北京协和医院风湿免疫科 博士（临床型）张奉春教授指导</p>
                            <p>2006/06-  内蒙古医科大学附属医院风湿免疫科主任,主任医师、教授,硕士研究生导师</p>
                            <p>1999/07-2003/06 内蒙古医科大学内科 住院医-主治医、讲师-副教授</p>
                        </div>
                        <div>
                            <p>【近5年科研经历】</p>
                            <p>作为项目主持人获得国家自然科学基金项目面上项目3项、内蒙古自然科学基金项目6项，内蒙古人才基金项目2项，教育部春晖计划1项，内蒙古高校重大项目2项，内蒙古博士启动基金项目1项。2014年获得十二五国家科技重大专项分课题1项</p>
                            <p>作为参加单位负责人参加十一五科技攻关计划2项，国家高技术研究发展计划（863计划）项目1项，卫生部公益性行业科研专项项目1项</p>
                            <p>近3年内在中华系列杂志发表文章12篇，SCI分值文章5篇，获得内蒙古医学会科学技术奖一等奖一项。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rh-exper-block fl">
                <div class="exper-block-top fl">
                    <p class="exper-head fl">
                        <img src="../../images/themes/exper-head.png" alt=""/>
                        <img src="../../images/themes/exper-head-2.png" alt=""/>
                    </p>
                    <div class="rh-doc-introduced fl">
                        <p><span>李鸿斌 </span> <i>风湿免疫科</i></p>
                        <p><i>主任医师、教授（硕士研究生导师）</i></p>
                        <p><span>内蒙古医科大学附属医院 </span></p>
                        <div class="stars-icons">
                            <ul class="star-ul fl star-ul-2">
                                <li class=""><a class="one-star active-star" title="很差" href="javascript:;"></a></li>
                                <li class=""><a class="two-star active-star" title="差" href="javascript:;"></a></li>
                                <li class=""><a class="three-star active-star" title="还行" href="javascript:;"></a></li>
                                <li class=""><a class="four-star active-star" title="好" href="javascript:;"></a></li>
                                <li class=""><a class="five-star active-star" title="很好" href="javascript:;"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rh-doc-btn fl">
                        <input type="button" class="btn-size4 blue-btn" value="留言咨询"/>
                        <input type="button" class="btn-size4 navy-btn" value="视频会诊"/>
                        <input type="button" class="btn-size4 green-btn" value="院内挂号"/>
                    </div>
                </div>
                <div class="exper-block-bottom fl">
                    <a class="exper-unfold"><i class="exp-on"></i>展开</a>
                    <div class="exper-article">
                        <div>
                            <p>【学会任职】</p>
                            <p>风湿病学博士（临床型） 九三学社</p>
                            <p>内蒙古医科大学附属医院风湿免疫科主任；第一临床学院诊断学教研室主任</p>
                            <p>中华风湿病学杂志通讯编委、J rheum杂志审稿人、国家自然科学基金评审人</p>
                            <p>中国医师学会风湿病学学常委</p>
                            <p>海峡两岸风湿病学学会常委</p>
                            <p>中国医师学会风湿免疫科医师分会自身免疫病实验诊断技术专家委员会常委</p>
                            <p>中国医师学会内科学教育委员会常委</p>
                            <p>内蒙古医学会风湿病学分会主任委员</p>
                            <p>内蒙古自治区医师学会风湿病学分会主任委员</p>
                        </div>

                        <div>
                            <p>【教育工作简历】</p>
                            <p>1996/07-1999/06 内蒙古医科大学临床医学系，硕士 </p>
                            <p>2003/07-2006/06 中国医学科学院北京协和医科大学北京协和医院风湿免疫科 博士（临床型）张奉春教授指导</p>
                            <p>2006/06-  内蒙古医科大学附属医院风湿免疫科主任,主任医师、教授,硕士研究生导师</p>
                            <p>1999/07-2003/06 内蒙古医科大学内科 住院医-主治医、讲师-副教授</p>
                        </div>
                        <div>
                            <p>【近5年科研经历】</p>
                            <p>作为项目主持人获得国家自然科学基金项目面上项目3项、内蒙古自然科学基金项目6项，内蒙古人才基金项目2项，教育部春晖计划1项，内蒙古高校重大项目2项，内蒙古博士启动基金项目1项。2014年获得十二五国家科技重大专项分课题1项</p>
                            <p>作为参加单位负责人参加十一五科技攻关计划2项，国家高技术研究发展计划（863计划）项目1项，卫生部公益性行业科研专项项目1项</p>
                            <p>近3年内在中华系列杂志发表文章12篇，SCI分值文章5篇，获得内蒙古医学会科学技术奖一等奖一项。</p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <footer class="clearfix" style="display:inline-block;">
        <section class="m-width">
            <div class="footer-links footer-center " style="height:150px;width:535px;">
                <ul class="footer-type">
                    <h5 style="margin-bottom: 5px;">医疗机构 |</h5>
                    <h5><br/></h5>
                    <h5>技术支持 |</h5>
                </ul>
                <ul class="footer-org" style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">成都市第五人民医院</a></li>
                </ul>
                <ul class="footer-org"  style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">全球影像网</a></li>
                </ul>

                <p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
            </div>

        </section>
    </footer>
</div>
<script>
    (function(){
        $(".exper-unfold").click(function(){
            if($(this).find("i").hasClass("exp-on")){
                $(this).next().css("max-height","none");
                $(this).find("i").removeClass("exp-on").addClass("exp-close");
                $(this).find("span").html("收起");
            }else if($(this).find("i").hasClass("exp-close")){
                $(".exper-article").css("max-height","88px");
                $(this).find("i").removeClass("exp-close").addClass("exp-on");
                $(this).find("span").html("展开");
            }
        })
    })()
</script>
</body>

</html>