<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <script src="../../js/jquery.sidebar.js"></script>
    <title>内蒙古影像会诊平台</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="nmg-header rh-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>

<div class="rh-main">
    <div class="vid-mian">
        <p class="vid-nav"><span style="color: #2aacc6;">首页</span> <i>>>健康咨询</i></p>
        <div class="ha-content clearfix">
            <div class="ha-left-block fl">
                <p class="ha-left-nav fr"><span style="">专科讲座</span><span style="color:#333;border: none;">专题回答</span></p>
                <div class="ha-left-artcle fl">
                    <h2 class="ha-left-title-blue">类风湿关节炎治疗中的误区<span>2016-08-12  18:07</span></h2>
                    <p>误区之一：“西药副作用大，中药副作用小，中药比西药好。” 这种认识是错误的，其实还撒谎都看得开</p>
                </div>
                <div class="ha-left-artcle fl">
                    <h2 >强直性脊柱炎的功能锻炼<span>2016-08-12  18:07</span></h2>
                    <p>误区之一：“西药副作用大，中药副作用小，中药比西药好。” 这种认识是错误的，其实还撒谎都看得开</p>
                </div>
                <div class="ha-left-artcle fl">
                    <h2>强直性脊柱炎的功能锻炼<span>2016-08-12  18:07</span></h2>
                    <p>误区之一：“西药副作用大，中药副作用小，中药比西药好。” 这种认识是错误的，其实还撒谎都看得开</p>
                </div>
                <div class="ha-left-artcle fl">
                    <h2>强直性脊柱炎的功能锻炼<span>2016-08-12  18:07</span></h2>
                    <p>误区之一：“西药副作用大，中药副作用小，中药比西药好。” 这种认识是错误的，其实还撒谎都看得开</p>
                </div>
                <div class="ha-left-artcle fl">
                    <h2>强直性脊柱炎的功能锻炼<span>2016-08-12  18:07</span></h2>
                    <p>误区之一：“西药副作用大，中药副作用小，中药比西药好。” 这种认识是错误的，其实还撒谎都看得开</p>
                </div>
                <div class="ha-left-artcle fl" >
                    <h2>强直性脊柱炎的功能锻炼<span>2016-08-12  18:07</span></h2>
                    <p>误区之一：“西药副作用大，中药副作用小，中药比西药好。” 这种认识是错误的，其实还撒谎都看得开</p>
                </div>
                <div class="sdu-pages fl clearfix" style="width:100%;">
                    <div class="sdu-pages-right">
                        <span class="page-detail">共<em>4</em>页</span>
                        <span>跳至第<input type="text" id="paginationCPage" name="currentPage" value="1" class="page-to"/> 页</span>
                        <button type="submit"  class="page-go" onclick = "gotoPageByForm()">GO</button>
                    </div>
                    <div class="">
                        <a href='#' class="pageimg page-first unable" onclick="gotoPageP(1);">首页</a>
                        <a href='#' class="pageimg page-prev"  onclick="gotoPageP(0)"  >上一页</a>

                        <a href='#'class="page-num current">1</a>
                        <a href='#' class="page-num" onclick="gotoPageP(2)">2</a>
                        <a href='#' class="page-num" onclick="gotoPageP(3)">3</a>
                        <a href='#' class="page-num" onclick="gotoPageP(4)">4</a>

                        <a href="#" class="pageimg page-next"  onclick="gotoPageP(2)" > 下一页</a>
                        <a href="#" class="pageimg page-last" onclick="gotoPageP(4)">尾页</a>
                    </div>

                </div>

            </div>
            <div class="ha-right-block fl">
                <div class="ha-right-top">
                    <img src="../../images/themes/message-consulting.png" alt=""/>
                    <a href="javascript:;" class="ha-right-click">我要立即咨询医生</a>
                    <div class="ha-right-hr"></div>
                    <div class="ha-right-advertising">
                        <div class="ha-advertising">
                            <i></i>
                            <div>
                                <h2>省心</h2>
                                <p>网上问诊，省钱省心</p>
                            </div>
                        </div>
                        <div class="ha-advertising">
                            <i></i>
                            <div>
                                <h2>省心</h2>
                                <p>网上问诊，省钱省心</p>
                            </div>
                        </div>
                        <div class="ha-advertising">
                            <i></i>
                            <div>
                                <h2>省心</h2>
                                <p>网上问诊，省钱省心</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ha-right-bottom">
                    <img src="../../images/themes/Recommended-reading.png" alt=""/>
                    <div class="ha-right-hr"></div>
                    <div class="ha-right-article">
                        <ul><li><a href="javascript:;">类风湿关节炎治疗中的误区</a></li>
                        <li><a href="javascript:;">风湿病常见症状</a></li>
                        <li><a href="javascript:;">痛风患者的饮食</a></li>
                       <li><a href="javascript:;">强直性脊柱炎的功能锻炼</a></li>
                        <li><a href="javascript:;">强直性脊柱炎的功能锻炼</a></li></ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="clearfix">
        <section class="m-width">
            <div class="footer-links footer-center " style="height:150px;width:535px;">
                <ul class="footer-type">
                    <h5 style="margin-bottom: 5px;">医疗机构 |</h5>
                    <h5><br/></h5>
                    <h5>技术支持 |</h5>
                </ul>
                <ul class="footer-org" style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">成都市第五人民医院</a></li>
                </ul>
                <ul class="footer-org"  style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">全球影像网</a></li>
                </ul>

                <p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
            </div>

        </section>
    </footer>
</div>
</body>

</html>