<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <script src="../../js/jquery.sidebar.js"></script>
    <title>内蒙古影像会诊平台</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="nmg-header rh-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>

<div class="rh-main">
    <div class="vid-mian">
        <p class="vid-nav"><span style="color: #2aacc6;">首页</span> <i>>>健康资讯</i></p>
        <div class="rh-news-content">
            <div class="news-content-title">
                <p>类风湿关节炎（RA）</p>
                <p>2016-08-10  来源风湿垂直专科</p>
            </div>
            <p class="rh-new-share"><span>分享到:</span><i></i><i></i><i></i><i></i><i></i></p>

            <div class="new-articlecontent">
                <h3>什么是类风湿关节炎？</h3>
                <p>类风湿关节炎是一种以多个关节慢性、非化脓性炎症为主要表现的全身性疾病。常以小关节起病，多为对称性，先影响关节滑膜，随后侵蚀关节软骨和骨组织，导致关节结构的破坏、关节畸形、功能丧失，同时还可损害心、肺、肾、神经等内脏器官，导致多系统损害，血清内可查到自身抗体，因此认为本病是系统性自身免疫性疾病。类风湿关节炎的病因还未完全阐明，现认为本病和遗传因素、感染因素、性激素水平以及体内糖皮质激素的基础分泌量等多种因素有关。</p>
                <p>我国初步调查类风湿关节炎的患病率为0.3％，以中年女性多见，女性约为男性的3倍。类风湿关节炎和风湿性关节炎(风湿热)是两个完全不同的疾病，前者多发生于成年人，后者多发生于学龄儿童及青少年；前者病因尚不清楚，后者是链球菌感染后引起的。中医说的痹症和民间说的“风湿”，泛指很多有骨关节、肌肉症状的疾病，和类风湿关节炎也不同，类风湿关节炎只是其中的一种。</p>
                <div style="text-align: center;margin: 30px 0;">
                    <img src="../../images/themes/6.png" alt=""/>
                </div>


                <h3>患了类风湿关节炎能根治吗？</h3>
                <p>风湿关节炎患者多关节肿痛，病情迁延不愈，甚至出现关节畸形，给患者的生活和工作带来极大的痛苦。患者一旦知道自己患了RA，第一个反应就是恐惧，最大的愿望就是寻求一种根治的办法。</p>
                <p>做为医生我们何尝不希望有一种根治的方法，但我们必须告诉大家这个残酷的事实，只有小于10％的患者病情是一过性的，经过治疗病情可以完全缓解或长期缓解，而终止治疗。</p>
                <p>当大家知道这个事实后可能对治疗感觉到绝望，而去寻找偏方或根治的灵丹妙药，忠心劝告大家千万不要这样做，目前还没有找到对这种疾病的根治方法，目前人类对许多疾病都做不到根治，如糖尿病、高血压。那怎么办呢？与疾病共生存,一个非常理性的思维。现代医学对RA虽然不能根治，但只要进行规范化治疗，临床缓解是完全可以做到的。</p>
                <p>为什么不能根治呢？所谓根治，就是去除病因，治愈疾病，而RA 的病因尚不清楚，更谈不上去除了。目前的治疗都是维护免疫耐受，抑制自身抗体的产生及炎症，使病情控制，达到临床缓解。</p>
               <div style="text-align: center;margin: 30px 0;">
                   <img src="../../images/themes/7.png" alt=""/>
               </div>

                <h3>
                    什么叫临床缓解？
                </h3>
                <p>美国风湿病学会提出了RA临床缓解标准：（1）晨僵不超过15分钟；（2）无疲乏感；（3）无关节肿痛；（4）关节无压痛；（5）关节或软组织无肿胀；（6）血沉男性小于20毫米/小时，女性小于30毫米/小时。以上6项中符合5项以上者，并至少持续2个月者定为临床缓解。要达到临床缓解关键在于早期诊断，早期进行正确的治疗，并坚持长期治疗。</p>


                <div class="new-bottom-footer">
                    <a href="javascript:;">上一篇：<i>梅雨季节话风湿</i></a>
                    <a href="javascript:;">下一篇：<i>发烧、疲乏、嗓子疼就是感冒？</i></a>
                </div>
            </div>

        </div>

    </div>
    <footer class="clearfix">
        <section class="m-width">
            <div class="footer-links footer-center " style="height:150px;width:535px;">
                <ul class="footer-type">
                    <h5 style="margin-bottom: 5px;">医疗机构 |</h5>
                    <h5><br/></h5>
                    <h5>技术支持 |</h5>
                </ul>
                <ul class="footer-org" style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">成都市第五人民医院</a></li>
                </ul>
                <ul class="footer-org"  style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">全球影像网</a></li>
                </ul>

                <p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
            </div>

        </section>
    </footer>
</div>
</body>

</html>