<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <script src="../../js/jquery.sidebar.js"></script>
    <title>内蒙古影像会诊平台</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="nmg-header rh-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>

<div class="rh-main">
    <div class="vid-mian">
        <p class="vid-nav"><span style="color: #2aacc6;">首页</span> <i>>>视频科普</i></p>

        <div class="vid-time-contor">
            <span class="fl" style="color: #999999;margin-top: 5px;margin-right: 20px;">时长:</span>
            <ul style="margin-right: 4%;">
                <li style="width:66px;"><a href="javascript:;" class="vid-on" >全部</a></li>
                <li><a href="javascript:;">0-30分钟</a></li>
                <li><a href="javascript:;">30-60分钟</a></li>
                <li style="margin: 0;"><a href="javascript:;">60分钟以上</a></li>
            </ul>
            <span class="fl" style="color: #999999;margin-top: 5px;margin-right: 20px;">更新时间:</span>
            <ul>
                <li style="width:66px;"><a href="javascript:;" >全部</a></li>
                <li ><a href="javascript:;" class="vid-on">1天以内</a></li>
                <li><a href="javascript:;">1周以内</a></li>
                <li style="margin: 0;"><a href="javascript:;">1月以内</a></li>
            </ul>
        </div>

        <div class="vid-video">
            <ul>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-1.png" alt=""/>
                <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                <img src="../../images/themes/vs-2.png" alt=""/>
                <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                <img src="../../images/themes/vs-3.png" alt=""/>
                <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li style="margin: 0;">
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                <img src="../../images/themes/vs-4.png" alt=""/>
                <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
            </ul>

            <ul>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-1.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-2.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-3.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li style="margin: 0;">
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-4.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
            </ul>

            <ul>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-1.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-2.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li>
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-3.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
                <li style="margin: 0;">
                    <div class="vid-video-content">
                        <object type="application/x-shockwave-flash" data="" width="220" height="150"><param name="base" value="."><param name="wmode" value="Opaque"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="allowNetWorking" value="all"></object>
                    </div>
                    <img src="../../images/themes/vs-4.png" alt=""/>
                    <p>葛洪养生苑之风湿和类风湿类风湿视频</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="sdu-pages" style="">
        <div class="sdu-pages-right">
            <span class="page-detail">共<em>4</em>页</span>
            <span>跳至第<input type="text" id="paginationCPage" name="currentPage" value="1" class="page-to"/> 页</span>
            <button type="submit"  class="page-go" onclick = "gotoPageByForm()">GO</button>
        </div>
        <div class="">
            <a href='#' class="pageimg page-first unable" onclick="gotoPageP(1);">首页</a>
            <a href='#' class="pageimg page-prev"  onclick="gotoPageP(0)"  >上一页</a>

            <a href='#'class="page-num current">1</a>
            <a href='#' class="page-num" onclick="gotoPageP(2)">2</a>
            <a href='#' class="page-num" onclick="gotoPageP(3)">3</a>
            <a href='#' class="page-num" onclick="gotoPageP(4)">4</a>

            <a href="#" class="pageimg page-next"  onclick="gotoPageP(2)" > 下一页</a>
            <a href="#" class="pageimg page-last" onclick="gotoPageP(4)">尾页</a>
        </div>

    </div>
    <footer class="clearfix">
        <section class="m-width">
            <div class="footer-links footer-center " style="height:150px;width:535px;">
                <ul class="footer-type">
                    <h5 style="margin-bottom: 5px;">医疗机构 |</h5>
                    <h5><br/></h5>
                    <h5>技术支持 |</h5>
                </ul>
                <ul class="footer-org" style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">成都市第五人民医院</a></li>
                </ul>
                <ul class="footer-org"  style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">全球影像网</a></li>
                </ul>

                <p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
            </div>

        </section>
    </footer>
</div>
</body>

</html>