<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/themes.css?v=upd20160927" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.min.js"></script>
    <script src="../../js/jquery.sidebar.js"></script>
    <title>内蒙古影像会诊平台</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="rh-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>

<div class="rh-main">
    <div class="rh-banner">
        <img src="../../images/themes/rh-banner.png" alt=""/>
        <nav>
            <ul>
                <li><a href="#">网站首页</a></li>
                <li><a href="#">医院概况</a></li>
                <li><a href="#">科室介绍</a></li>
                <li><a href="#">专家导航</a></li>
                <li><a href="#">科普知识</a></li>
                <li><a href="#">使用指南</a></li>
                <li><a href="#">预约挂号</a></li>

            </ul>
        </nav>
    </div>
    <div class="rh-blocks clearfix">

        <div class="rh-flow">
            <ul>
                <li><a href="#">云中检验</a></li>
                <li><a href="#">云中诊室</a></li>
                <li><a href="#">云中教育</a></li>
            </ul>
        </div>
            <div class="rh-block-1">
                <div class="rh-registered fl">
                    <p>内蒙古医科大学附属医院</p>
                    <span>医院简介：内蒙古医科大学附属医院始建于1958年，是一所集医疗、教学、科研、预防保健为一体的现代化综合性三级甲等医院。医院目前开放床位1807张，年急诊量143万人次，出院人数7.9万人次，完成住院手术4.8万台例</span>
                </div>
                    <a href="javascript:;" class="registered-btn">
                        <img src="../../images/themes/registered-btn.png" alt=""/>
                    </a>
            </div>
        <div class="rh-block-2" >
            <div class="rh-article-ad fl">
                <ul>
                    <li><img src="../../images/themes/rh-article.png" alt="" /></li>
                </ul>
                <ul>
                    <li> <img src="../../images/themes/rh-article-3.png" alt="" /></li>
                </ul>
                <ul>
                    <li> <img src="../../images/themes/rh-article-4.png" alt=""/></li>
                </ul>
            </div>
            <img src="../../images/themes/rh-article-2.png" alt="" class="rh-article-2"/>
            <div class="rh-block-article fr">
                <p>
                    风湿免疫科是一门新兴的学科，我国于1985年成立了中华风湿病学会。我院风湿免疫科始建于2006年10月，目前拥有床位89张，专科实验室一个，我科是内蒙古自治区各级医院风湿免疫专科拥有床位数最多，亦是一个集医疗、教学和科研于一体的风湿免疫性疾病防..
                    <i style="color: #2aacc6;">详细>></i>
                </p>
            </div>
        </div>
        <div class="rh-block-3">
            <div class="video-science fl">
                <p class="vs-title">视频科普</p>
                <p class="vs-acticle">精选视频，全方位分享和解读风湿病相关资讯，让患者更清晰更直观认识风湿。</p>
                <p class="vs-acticle" style="height:auto;margin: 0;">查看更多>></p>
            </div>
            <div class="video-science-imgs fr">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="../../images/themes/vs-1.png" alt=""/>
                            <p>
                                <span style="color: #fff;font-size: 14px;">葛洪养生苑之风湿和类风湿类风湿视频</span>
                            </p>
                        </a>

                    </li>
                    <li>
                        <a href="javascript:;">
                        <img src="../../images/themes/vs-2.png" alt=""/>
                        <p>
                            <span style="color: #fff;font-size: 14px;">葛洪养生苑之风湿和类风湿类风湿视频</span>
                        </p>
                        </a>
                    </li>
                    <li style="margin-right: 0;">
                        <a href="javascript:;">
                            <img src="../../images/themes/vs-3.png" alt=""/>
                            <p>
                                <span style="color: #fff;font-size: 14px;">葛洪养生苑之风湿和类风湿类风湿视频</span>
                            </p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="../../images/themes/vs-4.png" alt=""/>
                            <p>
                                <span style="color: #fff;font-size: 14px;">葛洪养生苑之风湿和类风湿类风湿视频</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../../images/themes/vs-5.png" alt=""/>
                            <p>
                                <span style="color: #fff;font-size: 14px;">葛洪养生苑之风湿和类风湿类风湿视频</span>
                            </p>
                        </a>
                    </li>
                    <li style="margin-right: 0;">
                        <a href="javascript:;">
                            <img src="../../images/themes/vs-6.png" alt=""/>
                            <p>
                                <span style="color: #fff;font-size: 14px;">葛洪养生苑之风湿和类风湿类风湿视频</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p  class="expert-team fl" >专家团队 <span >专家团队是一个以国内知名专家为核心，跨地区、跨医院大专科／专病医生协作组织</span> <a href="#" class="fr">查看更多>></a></p>
        <div class="rh-block-4">
            <div class="th-doc-team">
              <div class="doc-team-1">
                    <i class="experts-vip"><span>特邀嘉宾</span></i>
                  <div class="doc-team-top">
                      <p class="exper-head">
                          <img src="../../images/themes/exper-head.png" alt=""/>
                          <img src="../../images/themes/exper-head-2.png" alt=""/>
                      </p>

                      <div class="rh-doc-introduced">
                          <p><span>其木格</span> <i>中医科</i></p>
                          <p><i>主任医师(专家)</i></p>
                          <p><span>内蒙古医科大学附属医院 </span></p>
                      </div>
                  </div>
                 <div class="doc-team-bottom">
                    <p><i>擅长：</i>心脑血管病如高脂血症、动脉硬化以及中风后遗症等的治疗，并对风湿免疫系统疾病的治疗有较丰富的经验。</p>
                 </div>
              </div>
              <div class="doc-team-1" style="margin: 0;">
                  <div class="doc-team-top">
                      <p class="exper-head">
                          <img src="../../images/themes/exper-head.png" alt=""/>
                          <img src="../../images/themes/exper-head-2.png" alt=""/>
                      </p>

                      <div class="rh-doc-introduced">
                          <p><span>白丽杰</span> <i>中医科</i></p>
                          <p><i>主任医师(专家)</i></p>
                          <p><span>内蒙古医科大学附属医院 </span></p>
                      </div>
                  </div>
                  <div class="doc-team-bottom">
                      <p><i>擅长：</i>类风湿关节炎，脊柱关节炎，系统性红斑狼疮，干燥综合征，系统性硬化，肌炎、皮肌炎，白塞病，骨关节炎等疾病。</p>
                  </div>
              </div>
                <div class="doc-team-1">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="rh-doc-introduced">
                            <p><span>其木格</span> <i>中医科</i></p>
                            <p><i>主任医师(专家)</i></p>
                            <p><span>内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>血液病、风湿免疫疾病的常见病多发病的诊治。</p>
                    </div>
                </div>
                <div class="doc-team-1" style="margin: 0;">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="rh-doc-introduced">
                            <p><span>其木格</span> <i>中医科</i></p>
                            <p><i>主任医师(专家)</i></p>
                            <p><span>内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>类风湿关节炎，脊柱关节炎，系统性红斑狼疮，干燥综合征，系统性硬化，肌炎、皮肌炎，白塞病，骨关节炎等疾病。</p>
                    </div>
                </div>
                <div class="doc-team-1">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="rh-doc-introduced">
                            <p><span>其木格</span> <i>中医科</i></p>
                            <p><i>主任医师(专家)</i></p>
                            <p><span>内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>擅长类风湿关节炎，脊柱关节炎，系统性红斑狼疮，干燥综合征，系统性硬化，肌炎、皮肌炎，白塞病，骨关节炎等的诊断和治疗。</p>
                    </div>
                </div>
                <div class="doc-team-1" style="margin: 0;">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="rh-doc-introduced">
                            <p><span>其木格</span> <i>中医科</i></p>
                            <p><i>主任医师(专家)</i></p>
                            <p><span>内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </div>
            </div>
        </div>
        <p  class="expert-team fl" >健康资讯 <i>专家讲座</i><i>专题问答</i> <a href="#" class="fr">查看更多>></a></p>
        <div class="rh-block-5">
            <div class="consulting-image">
                <img src="../../images/themes/consultingimage-1.png" alt="图片"/>
            </div>
            <div>
                <h2>陈适：ANCA相关性小血管炎的特征性概述</h2>
                <p>ANCA相关性小血管炎的临床表现有哪些？
                    如何鉴别诊断？主要的治ANCA相关性小血
                    管炎的临床表现有哪些？如何鉴别诊断？主
                    要的治如何鉴别诊断？..<i>详细>></i></p>
            </div>
            <div class="consulting-image-list">
                <ul>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                </ul>
            </div>
        </div>
        <p  class="expert-team fl" >疾病知识 <i>疾病介绍 </i><i>饮食保健</i> <a href="#" class="fr">查看更多>></a></p>
        <div class="rh-block-5">
            <div class="consulting-image">
                <img src="../../images/themes/consultingimage-2.png" alt="图片"/>
            </div>
            <div>
                <h2>陈适：ANCA相关性小血管炎的特征性概述</h2>
                <p>ANCA相关性小血管炎的临床表现有哪些？
                    如何鉴别诊断？主要的治ANCA相关性小血
                    管炎的临床表现有哪些？如何鉴别诊断？主
                    要的治如何鉴别诊断？..<i>详细>></i></p>
            </div>
            <div class="consulting-image-list">
                <ul>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                    <li><b></b><span>石红霞副主任医师：骨髓活检给风湿免疫</span> <i>2016-04-15</i></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="clearfix">
        <section class="m-width">
            <div class="footer-links footer-center " style="height:150px;width:535px;">
                <ul class="footer-type">
                    <h5 style="margin-bottom: 5px;">医疗机构 |</h5>
                    <h5><br/></h5>
                    <h5>技术支持 |</h5>
                </ul>
                <ul class="footer-org" style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">成都市第五人民医院</a></li>
                </ul>
                <ul class="footer-org"  style="min-height: 64px;width:400px;">
                    <li><a href="" alt="">全球影像网</a></li>
                </ul>

                <p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
            </div>

        </section>
    </footer>
</div>
<script>
    (function(){
        $('.rh-article-ad').slidesjs({
            width: 490,
            height:300,
            play: {
                effect: "left",
                active:false,
                interval: 5000,
                auto: true,
                restartDelay: 2500,
                pauseOnHover: true,
            },
            pagination: {
                active: true,
                effect: "left"
            },
            navigation: {
                active: true,
                effect: "left"
            },
            effect: {
                fade: {
                    speed: 2000
                }
            }
        });
    })();
</script>
<script>

</script>
</body>

</html>