<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20160307" rel="stylesheet" type="text/css" />
<title>健康四川影像云</title>
<script type="text/javascript"> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="sc-header">
	<div class="m-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
          <a href="#" class="logo"><span><img src="../../images/themes/logo_sc.png"></span></a>

 	</div>
</header>

<!-- content开始-->
<article>
	<section class="sc-banner"></section>

	<section class="sc-block">
		<div class="sc-hospital">
			<div class="sc-area">
				<ul class="clearfix">
				<li><a href=""><span class="sc-logo1"></span>四川大学华西临床医学院</a></li>
				<li><a href=""><span class="sc-logo2"></span>成都市第五人民医院</a></li>
				<li><a href=""><span class="sc-logo3"></span>大邑县人民医院</a></li>
				<li><a href=""><span class="sc-logo4"></span>都江堰红十字会医院</a></li>
				<li><a href=""><span class="sc-logo5"></span>大邑县第二人民医院</a></li>
				<li><a href=""><span class="sc-logo4"></span>汶川县人民医院</a></li>
				<li><a href=""><span class="sc-logo6"></span>阿坝藏族羌族自治州人民医院</a></li>
				</ul>
			</div>
		</div>



		<div class="sc-tit"></div>
		<div class="sc-hospital">
			<ul>
				<li><a href=""><span class="sc-logo1"></span>四川省人民医院</a></li>
				<li><a href=""><span class="sc-logo2"></span>德阳第一人民医院</a></li>
				<li><a href=""><span class="sc-logo3"></span>四川省妇幼保健院</a></li>
				<li><a href=""><span class="sc-logo4"></span>德阳妇幼保健院</a></li>
			</ul>
		</div>


	</section>
 

</article>
<!-- content结束 -->

<footer class="clearfix">
  <section class="m-width">
	<div class="footer-links footer-center ">
		<ul class="footer-type">
			<h5>医疗机构 |</h5>
			<h5><br/></h5>
			<h5>技术支持 |</h5>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">成都市第五人民医院</a></li>
			<li><a href="" alt="">大邑县人民医院</a></li>
			<li><a href="" alt="">都江堰红十字会医院</a></li>
			<li><a href="" alt="">汶川县人民医院</a></li>
			<li><a href="" alt="">大邑县第二人民医院</a></li>
			<li><a href="" alt="">阿坝藏族羌族自治州人民医院</a></li>
		</ul>
		<ul class="footer-org">
			<li><a href="" alt="">全球影像网</a></li>
		</ul>

  			<p>杭州联众医疗科技股份有限公司  Copyright @ Hangzhou Lianzhong Healthcare Technology Co. Ltd</p>
	</div>

  </section>
</footer>

</body>

</html>