<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/themes.css?v=upd20161017" rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<title>National Tuberculosis Hospital Alliance</title>
<script type="text/javascript"> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<header class="tuber-header">
	<div class="m12-width">
	      <div class="login-ent">
             <a href="#" ><span>登 陆</span></a>
             <a href="#" class="current"><span>注 册</span></a>
           </div>
    

 	</div>
</header>

<article style="margin-top:0;">
	<section class="tuber-banner">
		<div class="m12-width" style="height:100%;">
			<div class="tuber-banner-pic"></div>
		  <h1>National Tuberculosis Hospital Alliance<br>
	 			Alliance For The Diagnosis And Treatment Of Tuberculosis In Beijing</h1>
		  <h2>全国结核病医院联盟<br />北京结核病诊疗技术创新联盟</h2>

	  <div class="tuber-pic"></div>
		 </div>
	</section>
	

		<div class="tuber-hos m12-width">
			<ul>
			<li><a href="#"class="qglm"></a></li>
			<li><a href="#"class="bjxk"></a></li>
			<li><a href="#"class="xzsy"></a></li>
			</ul>
		</div>
		
	<div class="tuber-footer m12-width">
		<p style="width:370px;">本项目由 <a href="http://www.eimageglobal.com/home.htm" title="全球影像网"></a> 提供技术支持</p>
		<p style="width:530px;">Copyright @ Hangzhou Lianzhong Medical Science Co., Ltd.</p>
	</div>
</article>


</body>

</html>