<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/layout.css?v=upd20160927" rel="stylesheet" type="text/css" />
    <link href="../../css/themes.css?v=upd20160927" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css"/>
    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <title>专家介绍</title>
    <script type="text/javascript">
        (function() {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<header class="rh-header ultrasonic-header">
    <div class="m-width">
        <div class="login-ent">
            <a href="#" ><span>登 陆</span></a>
            <a href="#" ><span>注 册</span></a>
        </div>
        <a href="#" class="logo"></a>
    </div>
</header>
<div class="rh-main expert-introduction">
   <div class="bread-expert">
       <a href="#">首页&gt;&gt;</a>
       <span>专家介绍</span>
   </div>
    <div class="expert-content">
        <p class="all-expert">共<b class="color-orange">38</b>位专家</p>
        <ul class="expert-list clearfix">
            <li>
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li class="center-li">
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li >
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li class="center-li">
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li class="center-li">
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="doc-team-1" href="#">
                    <div class="doc-team-top">
                        <p class="exper-head">
                            <img src="../../images/themes/exper-head.png" alt=""/>
                            <img src="../../images/themes/exper-head-2.png" alt=""/>
                        </p>

                        <div class="ult-doc-introduced">
                            <p><span class="doctor-name">其木格</span> <i>中医科</i></p>
                            <p><i>主任医师</i></p>
                            <p><span class="expert-hospital">内蒙古医科大学附属医院 </span></p>
                        </div>
                    </div>
                    <div class="doc-team-bottom">
                        <p><i>擅长：</i>主要擅长风湿免疫性疾病，如系统性红斑狼疮、类风湿性关节炎、骨关节炎、痛风、强直性脊柱炎、肌炎等疾病的诊断及治疗。</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pages consultation-pages">
            <a href='#' class="pageimg page-first" onclick="gotoPageP(1);">首页</a>
            <a href='#' class="pageimg page-prev" onclick="gotoPageP(0)">上一页</a>
            <a href='#' class="page-num current">1</a>
            <a href="#" class="pageimg page-next" onclick="gotoPageP(2)"> 下一页</a>
            <a href="#" class="pageimg page-last" onclick="gotoPageP(1)">尾页</a>
        </div>
    </div>
</div>
</body>

</html>