<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全球影像用户界面</title>
<link  href="../../css/layout.css?v=upd20160406"rel="stylesheet"/>
<link href="../../css/main.css?v=upd20160406" rel="stylesheet"/>
<link rel="icon" href="../../images/favicon.ico">
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/layer/layer.min.js" type="text/javascript"></script>
<script src="../../js/searchbar.js" type="text/javascript"></script>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<div class="bodymain">
   <header>
      <div class="user">
       <div class="user-top">
            <div class="user-tr">
             <span class="user-link">欢迎您，<strong>用户名</strong> | <a>帮助</a> | <a>退出</a></span>
             <a href="#"><img src="../../images/user.jpg" title="个人账户" /></a>
              <div class="user-search">
                   <div class="select-sxtit"><span class="select-mgsw" >联系人</span><span class="select-mgbt" ></span></div>
                     <ul class="select-mgul">
                     <li><a href="#">联系人</a></li>
                     <li><a href="#">影像</a></li>
                     </ul>
                   <div class="select-in">
                    <input type="text" class="frsearch" id="frsearch" value="请输入患者名字搜索" />
                   </div>
                   <div class="search-btn"></div>
              </div>
            </div>
            <div class="user-tl">
            <span id="adduser"><a>加友提示(0)</a></span><span id="mail"><a>消息提示(0)</a></span>
            </div>
          </div>
       </div>
    </header>
    <nav>
        <div class="nav">
           <div class="log"><a href="../../main.html"><img src="../../images/log.png"></a></div>    
          <ul class="nav-li">
          <li><a href="#"><span class="nav-icon1 nav-first"></span>桌面</a></li>
          <li><a href="#"><span class="nav-icon2"></span>联系人</a></li>
          <li><a href="#"><span class="nav-icon3"></span>影像</a></li>
          <li><a href="#"><span class="nav-icon4"></span>消息</a></li>
          </ul>
        </div>
    </nav>


<div class="main-box" style="position: relative">
    <aside class=" mm-menu"  >
        <div class="column-wide-block for-cwb" >
            <dl class="mm-menu--items">
                <dt>影像<p>images</p></dt>
                <dd class="column-icon column-img"></dd>
            </dl>
            <div class="column-detail">
                <ul style="margin-top:14px;">
                    <li><a href="#">· 个人影像</a></li>
                    <li class="last"><a href="#">· 共享影像</a></li>
                    <li><a href="#">· 获取影像</a></li>
                    <li class="last"><a href="#">· 本院影像</a></li>
                    <li><a href="#">· 分享历史</a></li>
                    <li class="last"><a href="#">· 上传记录</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>会诊间<p>consultation</p></dt>
                <dd class="column-icon column-cons"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 创建影像会诊</a></li>
                    <li class="last"><a href="#">· 影像会诊记录</a></li>
                    <li><a href="#">· 创建视频会诊</a></li>
                    <li class="last"><a href="#">· 视频会诊记录</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>空中诊室<p>air room</p></dt>
                <dd class="column-icon column-air"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 留言咨询</a></li>
                    <li class="last"><a href="#">· 视频诊室</a></li>
                    <li><a href="#">· 诊间预约</a></li>
                    <li class="last"><a href="#">· 医院挂号</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>双向转诊<p>referral</p></dt>
                <dd class="column-icon column-ref"></dd>
            </dl>
            <div class="column-detail">
                <ul class="">
                    <li><a href="#">· 待办列表</a></li>
                    <li class="last"><a href="#">· 转入记录</a></li>
                    <li><a href="#">· 转出记录</a></li>
                    <li class="last"><a href="#">· 患者跟踪</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block">
            <div class="column-narrow-block">
                <dl  class="clearfix">
                    <dt>影像报告<p>report</p></dt>
                    <dd class="column-icon column-rep"></dd>
                </dl>
                <div class="column-detail narrow-left">
                    <ul style="margin-top:14px;">
                        <li><a href="#">· 报告列表</a></li>
                        <li><a href="#">· 报告书写</a></li>
                        <li><a href="#">· 影像匹配</a></li>
                    </ul>
                </div>
            </div>
            <div class="column-narrow-block">
                <dl  class="clearfix" style="border:0;">
                    <dt>病历查询<p>medical record</p></dt>
                    <dd class="column-icon column-med"></dd>
                </dl>
                <div class="column-detail narrow-right">
                    <ul>
                        <li><a href="#">· 按患者查询</a></li>
                        <li><a href="#">· 按类型查询</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column-wide-block">
            <div class="column-narrow-block">
                <dl class="clearfix">
                    <dt>联系人<p>contacts</p></dt>
                    <dd class="column-icon column-cont"></dd>
                </dl>
                <div class="column-detail narrow-left">
                    <ul>
                        <li><a href="#">· 我的联系人</a></li>
                        <li><a href="#">· 关注我的患者</a></li>
                    </ul>
                </div>
            </div>
            <div class="column-narrow-block">
                <dl  class="clearfix" style="border:0;">
                    <dt>设置管理<p>settings</p></dt>
                    <dd class="column-icon column-set"></dd>
                </dl>
                <div class="column-detail  narrow-right">
                    <ul class="column-spe-ul" style="margin-top:14px;">
                        <li><a href="#">· 个人信息</a></li>
                        <li><a href="#">· 排班设置</a></li>
                        <li><a href="#">· 价格设置</a></li>
                        <li><a href="#">· 报告模板</a></li>
                        <li><a href="#">· 短信设置</a></li>
                        <li><a href="#">· 修改密码</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>

    <script src="../../js/jquery.sidebar.js"></script>

     <span class="mm-menu-toggle"></span>

 <section class="user-right wrapper">

     <div class="breadcrumbs"><span class="bread-fir">咨询预约 &gt;&gt;&gt;</span>&nbsp;<span class="bread-fir">留言咨询管理 &gt;&gt;&gt;</span>&nbsp;<span class="bread-sec">咨询详情</span></div>

    <div class="air-detail" style="padding-bottom:30px;">

      <div class="air-pa-info">
        <span>主题：<b>xdwfsdfsdfgsda</b></span>
        <span>会诊号：<b>201605301695660021</b></span>
        <span>创建时间：<b>2016-05-03 16:16:34</b></span>
        <span>状态：<b>已结束</b></span>
        <br>
        <span>开会时间：<b>已结束</b></span>
        <br>
        <span>发起机构：<b>xxxxxxx某医院</b></span>
        <span>接受机构：<b>云影像机构</b></span>
        <br>
        <span>与会专家：<b>张某某</b>  <b>王某某</b>  <b>李某某</b> </span>
        <p class="emr-links"><a href="#">点击查看本次会诊患者详情</a></p>
        
      </div>
      <div class="air-doc-res clearfix" style="padding-bottom:60px;">

        <dl>
          <dt>诊断结果：</dt>
          <dd>
              <p>BulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBula</p>
              <p>BulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBula</p>
              <p>BulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBula</p>
              <p>BulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBulaBula</p>
          </dd>
        </dl>
      </div>
<!--     <p class="air-d-input"><input type="button" name="" class="lakeblue-btn" value="再次咨询该医生"><input type="button" name="" class="lakeblue-btn"  value="放弃咨询"></p> -->
    </div>
 </section>
</div>
<footer class="clearfix">
  <div class="footer footer1000">
   <div class="footer-w">
      <ul class="footer-links">
      <li><a href="">腾讯微博</a><i></i></li>
      <li><a href="">新浪微博</a><i>/</i></li>
      <li><a href="">友情链接</a><i>/</i></li>
      <li><a href="">企业邮箱</a><i>/</i></li>
      <li><a href="">法律声明</a><i>/</i></li>
      <li><a href="">联系我们</a><i>/</i></li>
      </ul>
      <ul class="footer-info">
       <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp;   浙ICP备11059294号-3 </p>
       <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
       <br>
       <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
      </ul>
   </div>
</div>
</footer>

<script type="text/javascript">
$(function(){
  $('.ckyy').click(function(){
    $(this).parents('tbody').find('.pa-hide').slideDown();
  })
   $('.sq').click(function(){
     $(this).parents('.pa-hide').slideUp();
   })

})

$(function() {
  $('#id').on('click', function(){
    layer.msg('test');
});
  var i = $.layer({
    type : 1,
    title : false,
    fix : false,
    offset:['50px' , ''],
    area : ['515px','615px'],
    page : {dom : '#tong'}
});
</script>

</body>
</html>
