<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/layout.css?v=upd20160614" rel="stylesheet" type="text/css" />
<link href="../../css/main.css?v=upd20160715" rel="stylesheet" type="text/css" />
<link href="../../css/style.css?v=upd20160715" rel="stylesheet" type="text/css" />
<link href="../../css/boxy/css/boxy.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../css/style.css"/>
<link rel="icon" href="../../images/favicon.ico">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script src="../../js/jquery.slides.min.js"></script>
<script src="../../js/searchbar.js"></script>
<script src="../../js/jquery.boxy.js"></script>
<title>全球影像用户界面用户注册</title>
  <script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<style type="text/css" media="screen">

</style>
</head>
<body>
<header class="main-header">  
    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>
  <div class="width980">
    <div class="logo-black"><a href="#"></a></div>
    <div class="hearder-search">
      <div class="search-select">
        <p class="search-default"><i></i><span class="select-span">找医生</span></p>
        <ul class="select-more">
          <li><a href="#">找医生</a></li>
          <li><a href="#">找医院</a></li>
          <li><a href="#">查疾病</a></li>
        </ul>
      </div>
      <input type="text" class="no-border search-input " value="" /><label class="gjc">请输入关键词</label>
      <input type="button" class="no-border search-whitebtn" value="搜 索" />
    </div>
  </div>
</header>

<nav class="main-nav">
  <div class="width980">
  <div class="nav-left">
  <div class="nav-app">
      <a href="#"><div class="nav-pic"></div>
      <span>下载应用</span></a>
  </div>
    <ul  style="display:none;">
      <li><a href="">找医院</a></li>
      <li><a href="">找专家</a></li>
      <li><a href="">按科室查询</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">诊间预约</a></li>
      <li><a href="">空中诊室</a></li>
      <li><a href="">留言咨询</a></li>
    </ul>
  </div>
  </div>
</nav>
<section class="air-ask">
 <div class="ask-title">
   <h1>留言咨询</h1>
   <div class="air-breadcrumb">
   <a href="">首页</a> >
   <a href="">上海市东方医院</a> >
   <a href="">重症医学科</a> >
   <a href="">马少林</a> >
   <h5>留言咨询</h5></div>
 </div>
<div class="ask-fillin" >
  <h2><a href="" class="current"> 1. 填写主诉 </a>
 <a href=""> 2. 选择影像  </a>
 <a href="" class="last"> 3. 选择检查报告</a></h2>

 <div class=" fill-in fillin-1" >
     <div class="form-other" id="cstt-chose-form-other">
         <span>选择患者 :</span>
         <ul>
             <li>
                 <b><input type="radio" value="" name="" class="radio" id="chose1" ><input type="image"  class="radio-normal" src="http://www.xcwljy.cn/images/pixel.gif"> <span></span></b>
                 <label for="chose1"><span>患者1</span></label>

             </li>
             <li>
                 <b><input type="radio" value="" name="" class="radio" id="chose2" ><input type="image" class="radio-normal" src="http://www.xcwljy.cn/images/pixel.gif"> <span></span></b>
                 <label for="chose2"><span>患者2</span></label>
             </li>
             <li>
                 <b><input type="radio" value="" name="" class="radio" id="chose2" ><input type="image" class="radio-normal" src="http://www.xcwljy.cn/images/pixel.gif"> <span></span></b>
                 <label for="chose2"><span>患者3</span></label>
             </li>
             <li>
                 <b><input type="radio" value="" name="" class="radio" id="chose2" ><input type="image" class="radio-normal" src="http://www.xcwljy.cn/images/pixel.gif"> <span></span></b>
                 <label for="chose2"><span>患者4</span></label>
             </li>
             <li>
                 <b><input type="radio" value="" name="" class="radio" id="chose2" ><input type="image" class="radio-normal" src="http://www.xcwljy.cn/images/pixel.gif"> <span></span></b>
                 <label for="chose2"><span>患者5</span></label>
             </li>
         </ul>
         <a class="ask-fill-addbtn" href="#air-add-patient">添加患者</a>
     </div>
  	<dl>
     <dt>病情描述：</dt>
     <dd><textarea name="illness" id="" class="text-con" cols="30" rows="10">请详细描述您的症状、治疗过程及您想获得的帮助</textarea></dd>
  	</dl>
  <input type="button" value="下一步" class="navy-btn ask-sub fl"/>
  </div>
<div class="fill-in fillin-2 "  style="display:none;">

 <h3>影像资料清晰度将直接影响专家诊断，建议您将重要的影像资料从医院获取原始文件存入云盘</h3>
  	<dl>
     <dt>原始影像：</dt>
     <dd>
      <div class="air-yx">
        <div class="air-yx-list">
          <span>2014-12-23 11:30:34</span>
          <span>WANG FANG</span>
          <span>阜阳第九人民医院</span>
          <a href=""></a>
        </div>
        <div class="air-yx-list">
          <span>2014-12-23 11:30:34</span>
          <span>WANG FANG</span>
          <span>阜阳第九人民医院</span>
          <a href=""></a>
        </div>
          <div class="air-yx-list">
          <span>2014-12-23 11:30:34</span>
          <span>WANG FANG</span>
          <span>阜阳第九人民医院</span>
          <a href=""></a>
        </div>
       <p class="air-yx-btn"><a class="ask-blue-btn ask-upload" href="#upload-imgs">点击上传</a><a class="ask-blue-btn ask-chooseimg" href="#ask-chooseimg">从云影像获取推送</a></p>
      </div>
    </dd>
  </dl>
  <dl>
    <dt>影像附件：</dt>
     <dd>
     <div class="air-fj" >
     <div class="air-img">
      <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /><span><a>删除</a></span></p>
      <input type="text" value="血常规"/>
      <input type="text" value="2013-02-12"/>
     </div>
     <div class="air-img">
      <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /><span><a>删除</a></span></p>
      <input type="text" value="血常规"/>
      <input type="text" value="2013-02-12"/>
     </div>
     <div class="air-img-up"><a  class="ask-blue-btn ask-choosefjlx" href="#ask-choosefjlx">点击上传</a><a  class="ask-blue-btn ask-choosefj" href="#ask-choosefj">从附件列表选择</a></div>
     </div>
     <p class="air-yx-btn" style="display:none;"><a class="ask-blue-btn ask-upload" href="#upload-imgs">点击上传</a><a class="ask-blue-btn ask-chooseimg" href="#ask-chooseimg">从云影像获取推送</a></p>
    </dd>
  </dl>
      <input type="button" value="下一步" class="navy-btn ask-sub"/>
</div>
 <div  class=" fill-in fillin-3"  style="display:none;">

 <h3>请以图片格式上传您过去的病例报告附件，并保证图片上的文字清晰可辨</h3>
  	<dl> 	  
     <dt>报告附件：</dt>
     <dd>
     <div class="air-fj" style="display:none;">
     <div class="air-img">
      <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /><span><a>删除</a></span></p>
     	<input type="text" value="血常规"/>
     	<input type="text" value="2013-02-12"/>
     </div>
     <div class="air-img">
      <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /><span><a>删除</a></span></p>
     	<input type="text" value="血常规"/>
     	<input type="text" value="2013-02-12"/>
     </div>
     <div class="air-img-up"><a class="ask-blue-btn ask-choosefjlx" href="#ask-choosefjlx">点击上传</a><a class="ask-blue-btn ask-choosefj" href="#ask-choosefj">从云盘获取</a></div>
    </dd>
<p class="air-yx-btn" ><a class="ask-blue-btn ask-choosefjlx" href="#ask-choosefjlx">点击上传</a><a class="ask-blue-btn ask-choosefj" href="#ask-choosefj">从云盘获取</a></p>
   </dl>

      <input type="button" value="确定提交" class="navy-btn ask-sub" onclick="location.href='airinfosure.html'"/>
 </div>
 </div>
 <div class="ask-other">
   <div class="ask-docinfo">
     <img src="../images/user.jpg" alt="" />
     <p class="ask-docname">马少林</p>
     <p class="ask-docjob">副主任医生，副教授</p>
     <span>上海东方医院</span>
     <span>重症医学科</span>
     <input type="button" name="" value="诊间预约" class="lakeblue-btn"/>
     <input type="button" name="" value="关注医生" class="orange-btn"/>
  </div>
     <div class="ask-kstj">
       <h4>科室其他医生推荐</h4>
       <a href="">更多>></a>
       <ul>
         <li>
           <p><em>王学斌</em><span>副主任医生，副教授</span></p>
           <p>擅长：心肺复苏、各种类型的休克、急、慢性呼吸功能衰竭</p>
         </li>
         <li>
           <p><em>王学斌</em><span>副主任医生，副教授</span></p>
           <p>擅长：心肺复苏、各种类型的休克、急、慢性呼吸功能衰竭</p>
         </li>
         <li>
           <p><em>王学斌</em> <span>副主任医生，副教授</span></p>
           <p>擅长：心肺复苏、各种类型的休克、急、慢性呼吸功能衰竭</p>
         </li>
       </ul>
     </div>

 </div>
</section>


  <footer class="clearfix">
      <div class="footer footer980">
      <ul class="footer-dimcode">
        <li><img src="../images/2code.png" alt="" title="扫描下载app" ></li>
        <li style="color:#ff9000;">扫描下载安卓版APP (不支持微信)</li>
      </ul>
          <ul class="footer-info">
           <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
           <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
           <br>
      <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
           <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
          </ul>
    </div>
  </footer>


<!-- boxy -->
<div id="air-add-patient" style="display:none">
        <div class="sendbox">
            <div class="air-add-patient">
              <ul>
                <li><label for="">姓名：</label><input type="text" name="pa-name"/></li>
                <li><label for="">身份证号：</label><input type="text"  name="pa-idnum"/></li>
                <li><label for="">患者手机：</label><input type="text"  name="pa-tel"/></li>
                 <li><label for="">验证手机：</label><input type="text"  name="pa-ver" class="pa-ver"/><input type="button"  name="testtel" value="发送验证码" class="verified-btn" /></li>
              </ul>

            </div>

           <span><input id="submitBtn" type="button" value="确定添加" class="grey-but" onclick="Boxy.get(this).hide();" /> <input id="submitBtn" type="button" value="取消" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        </div>
</div>
<div id="upload-imgs" style="display:none">
        <div class="sendbox">
          <p class="upload-tips">上传影像需支付15元/次存储维护费，我们会为您永久保存影像文件以供后期查阅。是否进入支付页面？

          <em>*收费基于专业的影响存储功能会消耗大量存储资源</em></p>
       
        <p class="upload-agree"><input type="checkbox" class="" />我同意<a href="">《影像上传保管协议》</a></p>
           <span><input id="submitBtn" type="button" value="确定" class="grey-but" onclick="Boxy.get(this).hide();" /> <input id="submitBtn" type="button" value="取消" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        </div>
</div>

<div id="ask-chooseimg" style="display:none;">
  <div class="sendbox">
    <div class="ask-cho-con">
      <table width="100%" border="0" cellspacing="0" class="table-con">
        <tr class="table-tit">
        <td width="5%"></td>
        <td class="table-text" width="15%">检查编号</td>
        <td class="table-text" width="30%">检查时间</td>
        <td class="table-text" width="15%">患者姓名</td>
        <td class="table-text" width="25%">来源</td>
        <td class="table-text" width="10%">操作</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="pop-cb" /></td>
          <td class="table-text">ES37737</td>
          <td class="table-text">2015-01-08 10:31:49</td>
          <td class="table-text">李小明</td>
          <td class="table-text">影像中心</td>
          <td class="table-text">
            <a href="http://119.37.196.179:8080/image/aycanSeries.htm?remoteStudyId=1337&hosId=02100012" target="-blank">查看</a>
          </td>
        </tr>  
        <tr>
          <td><input type="checkbox" name="pop-cb" /></td>
          <td class="table-text">ES37737</td>
          <td class="table-text">2015-01-08 10:31:49</td>
          <td class="table-text">李小明</td>
          <td class="table-text">影像中心</td>
          <td class="table-text">
            <a href="http://119.37.196.179:8080/image/aycanSeries.htm?remoteStudyId=1337&hosId=02100012" target="-blank">查看</a>
          </td>
        </tr>  
        <tr>
          <td><input type="checkbox" name="pop-cb" /></td>
          <td class="table-text">ES37737</td>
          <td class="table-text">2015-01-08 10:31:49</td>
          <td class="table-text">李小明</td>
          <td class="table-text">影像中心</td>
          <td class="table-text">
            <a href="http://119.37.196.179:8080/image/aycanSeries.htm?remoteStudyId=1337&hosId=02100012" target="-blank">查看</a>
          </td>
        </tr>  
        <tr>
          <td><input type="checkbox" name="pop-cb" /></td>
          <td class="table-text">ES37737</td>
          <td class="table-text">2015-01-08 10:31:49</td>
          <td class="table-text">李小明</td>
          <td class="table-text">影像中心</td>
          <td class="table-text">
            <a href="http://119.37.196.179:8080/image/aycanSeries.htm?remoteStudyId=1337&hosId=02100012" target="-blank">查看</a>
          </td>
        </tr>  
        <tr>
          <td><input type="checkbox" name="pop-cb" /></td>
          <td class="table-text">ES37737</td>
          <td class="table-text">2015-01-08 10:31:49</td>
          <td class="table-text">李小明</td>
          <td class="table-text">影像中心</td>
          <td class="table-text">
            <a href="http://119.37.196.179:8080/image/aycanSeries.htm?remoteStudyId=1337&hosId=02100012" target="-blank">查看</a>
          </td>
        </tr> 
        </table>
     </div> 
          <div class="pop-pages">
          <a href="#" class="page-first" onclick="gotoPageP(1);"> << </a>
          <a href="#" class="page-first" onclick="gotoPageP(0);"> < </a>
            <a href="#" class="page-num current" onclick="">1</a>
            <a href="#" class="page-num" onclick="">2</a>
            <a href="#" class="page-num" onclick="">3</a>
            <a href="#" class="page-num" onclick="">4</a>
            <a href="#" class="page-num" onclick="">5</a>
            <input type="hidden" value="$!queryString" name="queryString" id="queryString"/>
            <a href="#" class="pageimg page-next" onclick="gotoPageP(2)"> > </a>
           <a href="#" class="pageimg page-last" onclick="gotoPageP(10)"> >> </a>
            </a>
          </div>
           <span><input id="submitBtn" type="button" value="确定" class="grey-but" onclick="Boxy.get(this).hide();" /> <input id="submitBtn" type="button" value="取消" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        </div>
</div>
<div id="ask-choosefjlx" style="display:none">
        <div class="sendbox">
        <div class="fjlx">
        <label for="fjlx">附件类型：</label>
         <select name="fjlx">
           <option value="">血常规</option>
           <option value="">B超</option>
           <option value="">尿常规</option>
           <option value="">核磁共振影像</option>
         </select>
        </div>
        <div class="fjlx">
        <label for="fjlx">选择日期：</label>
        <input type="text" /><img onclick="WdatePicker({el:'studyDateStart'})" style="cursor:pointer" src="/js/DateTimePicker/skin/datePicker.gif">
        </div>
        <div class="fjlx">
        <label for=""></label>
        <p class="fj-name">23423423042.jpg<a href="#"></a></p>
        <p class="fj-name">23423434rwrqwrqwr42.jpg<a href="#"></a></p>
        <p class="fj-name">234234230werwrewqr42.jpg<a href="#"></a></p>
        <p class="fj-name">2342342304dffrwerwrwerwrwrwqrewqrsdf2.jpg<a href="#"></a></p>
        <input type="button" value="选择文件" class="lakeblue-btn"/>
        </div>
           <span><input id="submitBtn" type="button" value="确定提交" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
        </div>
</div>
<div id="ask-choosefj" style="display:none;">
  <div class="sendbox">
    <div class="ask-cho-con">
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
      <div class="air-fj-pop air-img">
        <p class="air-img-border"><img src="../../images/rc-3.jpg" alt="" /></p>
        <p>血常规</p>
        <p>2015-03-05</p>
       </div>
    </div>
         <div class="pop-pages">
          <a href="#" class="page-first" onclick="gotoPageP(1);"> << </a>
          <a href="#" class="page-first" onclick="gotoPageP(0);"> < </a>
            <a href="#" class="page-num current" onclick="">1</a>
            <a href="#" class="page-num" onclick="">2</a>
            <a href="#" class="page-num" onclick="">3</a>
            <a href="#" class="page-num" onclick="">4</a>
            <a href="#" class="page-num" onclick="">5</a>
            <input type="hidden" value="$!queryString" name="queryString" id="queryString"/>
            <a href="#" class="pageimg page-next" onclick="gotoPageP(2)"> > </a>
           <a href="#" class="pageimg page-last" onclick="gotoPageP(10)"> >> </a>
            </a>
          </div>
           <span><input id="submitBtn" type="button" value="确定" class="grey-but" onclick="Boxy.get(this).hide();" /> <input id="submitBtn" type="button" value="取消" class="grey-but" onclick="Boxy.get(this).hide();" /></span>
  </div>
</div>
<script>
$(function(){
    $(".ask-fill-addbtn").boxy({title: "添加患者",modal:true});
    $(".ask-upload").boxy({title: "提示",modal:true});
    $(".ask-chooseimg").boxy({title: "选择已有影像",modal:true});
    $(".ask-choosefj").boxy({title: "选择已有附件（患者名）",modal:true});
    $(".ask-choosefjlx").boxy({title: "附件上传",modal:true});
    $(".air-fj-pop").click(function(){
    if($(this).hasClass('air-checked')){
    $(this).removeClass('air-checked').children('i').remove();
    }
    else{
     $(this).append('<i></i>').addClass('air-checked');
    }
    })
  $(".text-con").click(function (){
  $(this).val('').css('color','black'); 
  }) 
  })
</script>

<script>
$(function(){
$('.ask-sub').click( function(){
  $(this).parent('.fill-in').hide().next().show();
  $('a.current').removeClass("current").next().addClass("current");
   }) 
})
$('.form-other li b').click(function(){
    $(this).find('.radio').attr("checked",true).next('input').addClass('radio-checked');
    $(this).parent().siblings().find('.radio').attr("checked",false).next('input').removeClass('radio-checked').addClass('radio-normal');
});

</script>
</body>
</html>
