<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>全球影像用户界面</title>
    <link href="../../css/layout.css?v=upd20160927" rel="stylesheet" type="text/css"/>
    <link href="../../css/consultation.css?v=upd20160927" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../../images/favicon.ico">
    <script>
        (function () {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i = e.length;
            while (i--) {
                document.createElement(e[i])
            }
        })()
    </script>
</head>
<body>
<div class="bodymain">
    <header>
        <div class="head-part-2">
            <div class="warp clearfixed">
                <div class="head-left fl">
                    <a href="#" class="head-logo"><img src="../../images/log.png" alt=""/></a>
                    <span class="font-ychz"></span>
                </div>
                <div class="head-right fr">
                    <div class="user-head">
                        <img src="../../images/user.jpg" alt=""/>
                    </div>
                    <div class="user-info">
                        <p><b>欢迎您，</b>
                        <span>我的个天用户名你取这么长名字干嘛</span>
                        <a href="#" class="message"><i></i> <em>99+</em></a>
                        </p>

                        <p>
                            <a href="javascript:;">返回首页</a>
                            <a href="javascript:;">帮助</a>
                            <a href="javascript:;">退出</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="warp clearfixed" style="position: relative">
        <div class="warp">
            <div class="air-detail">
                <div class="cstt-breadcrumbs">
                    <span class="bread-fir">首页&nbsp;&gt;&gt;&nbsp;</span>&nbsp;
                    <span class="bread-fir">远程会诊记录 &nbsp;&gt;&gt;&nbsp;</span>&nbsp;
                    <span class="bread-sec">详情</span>
                </div>
                <div class="consultation-title">
                    <span class="consultation-num">会诊号：<b>23233143241241515135214</b></span>
                    <span>状态：<b class="status-finish">进行中</b><b class="status-processing">待审核</b><b
                            class="status-close">已完成</b></span>
                    <span class="fr">创建时间：<b class="create-time">2016-09-09 18:22</b></span>
                </div>

                <div class="air-pa-info">
                    <h4 class="consultation-theme">主题：<b>就啊啊啥地方</b></h4>
                    <div class="air-pa-info-top">
                        <p><span>会诊要求：</span><b></b></p>
                        <p><span>开会时间：</span><b>2016-09-09</b></p>
                        <p><span>发起专家：</span><b>江波</b></p>
                        <p><span>与会专家：</span><b>江波、江波、江波、江波</b></p>
                    </div>
                    <div class="air-pa-info-head">
                        <span>患者姓名：</span><b>张海洋</b>
                        <span>年龄：</span><b>45</b>
                        <span>性别：</span><b>男</b><br/>
                        <!--<span>预约时间：<b class="list-orange">2015-09-14 17:29:42</b></span>-->
                        <!--<span>预约专家：<b class="list-navy">专家团助手</b></span>-->
                        <!--<span>预约科室：<b class="list-navy">肺与乳腺垂直专科</b></span>-->
                        <!--<span>医院：<b>上海复旦大学附属第一医院</b></span>-->

                        <span>病情描述：</span>
                        <div class="air-pa-info-bq">
                            <p>我亲戚的两只眼睛在2001年做了青光眼手术,其中一只效果不错,其中一只没有什么效果,之后视力又变模糊,在医生的建议下再做了一次的白内障手术,但是手术后的效果不明显,还是
                                想原来一样一只好一只模糊,那一只模糊的可以说是没有效果..现在视力的情况就是非常模糊.询问了医生,医生说那只做了没有效果的眼睛得做手术打开眼底</p>
                            <p>来看看有没有恢复的可能.现在也不好说.</p>
                            <p>我想请问大家如果做手术打开眼底检查后,能恢复的几率大概有多少?还有如果选择放弃这只模糊的眼睛.不去手术,日后对那只好的眼睛会有影响吗?如果有影响,能有
                                什么解决,还有治疗的方法?需要怎么治疗.</p>
                            <p>急...!</p>
                            <p>先谢谢了.</p>
                        </div>

                        </div>

                    <div class="clearfix"></div>
                    <dl class="air-d-fj clearfix">
                        <dt style="margin-top:10px;margin-right:30px;" class="fl">影像资料：</dt>
                        <dd class="fl">
                            <div>
                                <span>检查日期：<b>2014-11-12 16:34:09</b></span>
                                <span>患者姓名：<b>张海洋</b></span>
                                <span>类型：<b>CT</b></span>
                                <span>来源：<b>云影像中心</b></span>
                                <span><a href="#">查看影像</a><a href="#">查看报告</a></span>
                            </div>
                            <div>
                                <span>检查日期：<b>2014-11-12 16:34:09</b></span>
                                <span>患者姓名：<b>张海洋</b></span>
                                <span>类型：<b>CT</b></span>
                                <span>来源：<b>云影像中心</b></span>
                                <span><a href="#">查看影像</a><a href="#">查看报告</a></span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="clearfix" style="border:none; width:100%;">
                        <span class="fl">附&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件：</span>
                        <ul class="cstt-dis-tag fl">
                            <li class="current">生化检验</li>
                            <li>影像检查</li>
                            <li>病历文书</li>
                        </ul>
                        <dd>
                            <div class="cstt-dis-tag-block">
                                <div class="cstt-dis-tag-block1" style="display:inline-block;">
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/img-right.png"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>

                                </div>
                                <div class="cstt-dis-tag-block1" style="display:none;">
                                    <span class="cstt-no-fj">暂无本类型附件</span>
                                </div>
                                <div class="cstt-dis-tag-block1" style="display:none;">
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>
                                    <div class="air-img">
                                        <p class="air-img-border"><img src="../../images/pic1.jpg"
                                                                       alt=""/><span><a>删除</a></span></p>
                                        <input type="text" value="文件名" class="form-input inactive"
                                               onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'"
                                               onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                                    </div>


                                </div>
                            </div>
                        </dd>
                    </dl>

                    <div class="air-zdyj clearfixed">
                    <span class="fl">诊断报告：</span>
                        <div class="air-img">
                            <p class="air-img-border"><img src="../../images/img-right.png" alt=""/><span><!-- <a>删除</a></span> --></p>
                            <input type="text" value="文件名" class="form-input inactive"  onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                        </div>
                    <div class="clearfixed"></div>
                        <span class="fl">诊断意见：</span>
                        <div class="air-zdyj-right fl">
                            <ul class="zdyj-list">
                                <li>
                                    <a class="print" href="javascript:;">打印预览</a>
                                    <!--<a class="jyjh" href="javascript:;">建议加号</a>-->
                                    <div class="zdyj-list-top">
                                        <span>江波</span>
                                        <em>2016-09-09 18:33</em>
                                        <span class="color-ff8f2c">建议加号，时间：2016-09-31 星期六 上午</span>
                                    </div>
                                    <div class="zdyj-list-bottom">
                                        <p>根据B超结果，初步考虑你的肝脏是病变是肝脏囊肿，不需要治疗，胆囊病变是肿瘤，建议手术切除。</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="zdyj-list-top">
                                        <span>林峰</span>
                                        <em>2016-09-09 18:33</em>
                                    </div>
                                    <div class="zdyj-list-bottom">
                                        <p>根据B超结果，初步考虑你的肝脏是病变是肝脏囊肿，不需要治疗，胆囊病变是肿瘤，建议手术切除。</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <p class="air-d-input">
                    <!--<input type="button" name="" class="navy-btn" value="审核 / 加入会诊">-->
                    <!--<input type="button" name="" class="navy-btn" value="拒绝会诊邀请">-->
                    <a class="into-consultation-room" href="javascript:;">进入会诊间</a>
                    <a class="go-back" href="javascript:;">返回上级</a>
                    <a class="go-back" style="display:none;" href="javascript:;">隐藏按钮</a>
                </p>
            </div>
        </div>
    </div>
    <div id="goTop"></div>

    <script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../../js/layer/layer.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('.ckyy').click(function () {
                $(this).parents('tbody').find('.pa-hide').slideDown();
            })
            $('.sq').click(function () {
                $(this).parents('.pa-hide').slideUp();
            })


            $(function () {
                $('#id').on('click', function () {
                    layer.msg('test');
                })
                var i = $.layer({
                    type: 1,
                    title: false,
                    fix: false,
                    offset: ['50px', ''],
                    area: ['515px', '615px'],
                    page: {dom: '#tong'}
                })

                $('.mm-menu').height($('.main-box').height());

                $(".cstt-dis-tag li").click(
                        function () {
                            $(this).addClass("current").siblings().removeClass("current");
                            $(".cstt-dis-tag-block1").eq($(".cstt-dis-tag li").index(this)).css("display", "inline-block").siblings(".cstt-dis-tag-block1").css("display", "none");

                            var h = $(".cstt-dis-tag-block1").eq($(".cstt-dis-tag li").index(this)).height();
                            var H = h + 53;
//                            $(".cstt-dis-tag").css("height", H)
                            console.log($(".cstt-dis-tag").height());

                        });
            })
            $(window).scroll(function () {
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                if(scrollTop > windowHeight*0.7){
                    $("#goTop").show();
                }else{
                    $("#goTop").hide();
                }
            });
            $("#goTop").click(function(){
                var speed=200;//滑动的速度
                $('body,html').animate({ scrollTop: 0 }, speed);
                return false;
            });
        })
    </script>


    <script>
        $(function(){
        $(".message").click(function(event) {
             $(this).children().hide('slow');
            $(this).delay(2000).animate({width:"0",padding:"0"},100);
        });

        })

    </script>
</div>
</body>
</html>
