<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全球影像用户界面</title>
<link href="../../css/layout.css?v=upd20160418" rel="stylesheet" type="text/css" />
<link href="../../css/payment.css?v=upd20160712" rel="stylesheet" type="text/css" />
<link href="../../css/style.css?v=upd20160405" rel="stylesheet" type="text/css" />
<link href="../../js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../../images/favicon.ico">
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/layer/layer.js" type="text/javascript"></script>
<!-- respond.js for IE less than 9 -->
 <!--[if lt IE 9]>
<script src="../../js/respond.js" type="text/javascript"></script>
<![endif]-->
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<div class="bodymain">
   <header>
      <div class="user">
       <div class="user-top">
            <div class="user-tr">
             <span class="user-link">欢迎您，<strong>用户名</strong> | <a>帮助</a> | <a>退出</a></span>
             <a href="#"><img src="../../images/user.jpg" title="个人账户" /></a>
              <div class="user-search">
                   <div class="select-sxtit"><span class="select-mgsw" >联系人</span><span class="select-mgbt" ></span></div>
                     <ul class="select-mgul">
                     <li><a href="#">联系人</a></li>
                     <li><a href="#">影像</a></li>
                     </ul>
                   <div class="select-in">
                    <input type="text" class="frsearch" id="frsearch" value="请输入患者名字搜索" />
                   </div>
                   <div class="search-btn"></div>
              </div>
            </div>
            <div class="user-tl">
            <span id="adduser"><a>加友提示(0)</a></span><span id="mail"><a>消息提示(0)</a></span>
            </div>
          </div>
       </div>
    </header>
    <nav>
        <div class="nav">
           <div class="log"><a href="../../main.html"><img src="../../images/log.png"></a></div>    
          <ul class="nav-li">
          <li><a href="#"><span class="nav-icon1"></span>桌面</a></li>
          <li><a href="#"><span class="nav-icon4"></span>消息</a></li>
          <li><a href="#"><span class="nav-icon5"></span>我的主页</a></li>
          </ul>
        </div>
    </nav>


<div class="main-box" >
    <aside class="left-column mm-menu">
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>影像<p>images</p></dt>
                <dd class="column-icon column-img"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 本地影像</a></li>
                    <li class="last"><a href="#">· 本院影像</a></li>
                    <li><a href="#">· 分享历史</a></li>
                    <li class="last"><a href="#">· 推送记录</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>会诊间<p>consultation</p></dt>
                <dd class="column-icon column-cons"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 创建影像会诊</a></li>
                    <li class="last"><a href="#">· 影像会诊记录</a></li>
                    <li><a href="#">· 创建视频会诊</a></li>
                    <li class="last"><a href="#">· 视频会诊记录</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>报告岗位<p>post setting</p></dt>
                <dd class="column-icon column-job"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 报告岗位管理</a></li>
                    <li class="last"><a href="#">· 权限组管理</a></li>
                    <li><a href="#">· 账号管理</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>设置管理<p>settings</p></dt>
                <dd class="column-icon column-set"></dd>
            </dl>
            <div class="column-detail">
                <ul class="column-spe-ul" style="margin-top:14px;">
                    <li><a href="#">· 合作医院管理</a></li>
                    <li class="last"><a href="#">· 修改密码</a></li>
                    <li><a href="#">· 业务授权管理</a></li>
                    <li class="last"><a href="#">· 信息设置</a></li>
                    <li><a href="#">· 历史影像回溯</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <script src="../../js/jquery.sidebar.js"></script>



 <section class="user-right wrapper">

     <div class="breadcrumbs"><span class="bread-fir"><a href="">账户 &gt;&gt;&gt; </a></span></span><span class="bread-sec">提现</span></div>
    

    <div class="withdraw-cash">
        <div class="cash-info">
        <i></i>
            <p>1. 周一到周五提现受理时间为09:00-17:00,周六周日顺延至下周一受理；提现到账时间1-3个工作日内。</p>
            <p>2. 提现金额100起提，日累计最高100000元。提现手续费以提现金额2%收取。</p>
        </div>
        
        <div class="cash-acc-info">
            <h3>账户基本信息</h3>
            <ul class="clearfix">
                <li><label>真实姓名：</label><em>**学</em></li>
                <li><label>手机：</label><em>15*****1505</em></li>
                <li><label>账户余额：</label><em>331.00 元</em></li>
                <li><label>提现中金额：</label><em>200.00 元</em></li>
            </ul>
        </div>
        <div class="cash-acc-bank clearfix">
            <h3>请选择提现账户</h3>
            <ul class="used-online clearfix">
                 <h4>线上账户</h4>
                 <li>
                 <label>支付宝账户：</label><input type="text"  value="已绑定支付宝的手机或邮箱" class="form-input inactive alipay-account" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                 <br /> <br />
                 <label>账户姓名：</label><input type="text"  value="支付宝账户对应姓名" class="form-input inactive alipay-account" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/>
                 <a href="javascript:;" class="view-cbank">选择银行账户</a>
                 </li>
            </ul>
            



            <ul class="used-bank clearfix">
              <h4>银行账户 <a href="javascript:;" class="view-online">选择线上账户</a></h4>
             
                <li class="cbank-acc">
                <h5><span class="gsyh">中国工商银行</span> <a href="javascript:;">删除</a></h5>
                <p><span>姓名：</span><em>**学</em></p>
                <p><span>卡号：</span><em>**************4552</em></p>
                <p><span>支行信息：</span><em>中国工商银行杭州平安路支行路支行</em></p>
                </li>
<!--                 <li class="cbank-acc">
                <h5><span class="zsyh">中国招商银行</span> <a href="javascript:;">删除</a></h5>
                <p><span>姓名：</span><em>**学</em></p>
                <p><span>卡号：</span><em>**************4552</em></p>
                <p><span>支行信息：</span><em>中国工商银行杭州平安路支行路支行</em></p>
                </li>
                <li class="cbank-acc">
                <h5><span>中国招商银行</span>  <a href="javascript:;">删除</a></h5>
                <p><span>姓名：</span><em>**学</em></p>
                <p><span>卡号：</span><em>**************7831</em></p>
                <p><span>支行信息：</span><em>中国建设银行萧山总支行</em></p>
                </li> -->
                <li class="addnewbank"><a href="add bank account.html"><i></i><p>新增银行账户</p></a></li>
            </ul>

            <div class="cash-num"><span>请输入提现金额：</span><input type="text" value="" class="form-input inactive" onfocus="this.style.borderColor='#2aacc6',this.style.boxShadow='0 0 3px #2aacc6',this.style.color='#000'" onblur="this.style.borderColor='#d7d7d7',this.style.boxShadow='none'"/></div>
            <input type="button" class="navy-btn withdraw-cash-btn" value="提交" />
        </div>
    </div>
        
 </section>
</div>

    <footer class="clearfix">
        <div class="footer footer980">
            <ul class="footer-info">
                <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
                <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
                <br>
                <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
                <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
            </ul>
        </div>
    </footer>


<script>
$(function(){


    $(".cbank-acc").click(function(){
        var hook = "<i class='hook'></i>";
        $(this).addClass("checked").append(hook).siblings().removeClass("checked");
        $(this).siblings().find("i").remove(".hook");
        $(".used-online").slideUp(300);
        $(".view-online").show();
    })
     $(".view-online").click(function(){
        $(".used-bank").slideUp("fast");
        $(".used-online").delay(500).show();
        $(".cbank-acc").removeClass("checked");
     })
     $(".view-cbank").click(function(){
        $(".used-online").slideUp("fast");
        $(".used-bank").delay(300).slideDown(300);
        $(".used-online li").removeClass("checked");
        $(".view-online").show();
     })
    $(".alipay-account").focus(function(){
        $(".used-bank").slideUp(300);
        $(this).parent().addClass("checked").append("<i class='hook'></i>");
        $(this).val("").css("color","#000");
        $(".view-cbank").show();
    })

})
</script>
</body>
</html>
