<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全球影像用户界面</title>
<link href="../../css/layout.css?v=upd20160405" rel="stylesheet" type="text/css" />
<link href="../../css/payment.css?v=upd20160405" rel="stylesheet" type="text/css" />
<link href="../../css/style.css?v=upd20160405" rel="stylesheet" type="text/css" />
<link rel="icon" href="../../images/favicon.ico">

<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../../js/jquery.select.js"></script>
<!-- respond.js for IE less than 9 -->
 <!--[if lt IE 9]>
<script src="../../js/respond.js" type="text/javascript"></script>
<![endif]-->
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>
<div class="bodymain">
   <header>
      <div class="user">
       <div class="user-top">
            <div class="user-tr">
             <span class="user-link">欢迎您，<strong>用户名</strong> | <a>帮助</a> | <a>退出</a></span>
             <a href="#"><img src="../../images/user.jpg" title="个人账户" /></a>
              <div class="user-search">
                   <div class="select-sxtit"><span class="select-mgsw" >联系人</span><span class="select-mgbt" ></span></div>
                     <ul class="select-mgul">
                     <li><a href="#">联系人</a></li>
                     <li><a href="#">影像</a></li>
                     </ul>
                   <div class="select-in">
                    <input type="text" class="frsearch" id="frsearch" value="请输入患者名字搜索" />
                   </div>
                   <div class="search-btn"></div>
              </div>
            </div>
            <div class="user-tl">
            <span id="adduser"><a>加友提示(0)</a></span><span id="mail"><a>消息提示(0)</a></span>
            </div>
          </div>
       </div>
    </header>
    <nav>
        <div class="nav">
           <div class="log"><a href="../../main.html"><img src="../../images/log.png"></a></div>    
          <ul class="nav-li">
          <li><a href="#"><span class="nav-icon1 nav-first"></span>桌面</a></li>
          <li><a href="#"><span class="nav-icon2"></span>联系人</a></li>        
          <li><a href="#"><span class="nav-icon3"></span>影像</a></li> 
          <li><a href="#"><span class="nav-icon4"></span>消息</a></li> 
          </ul>
        </div>
    </nav>


<div class="main-box">
    <aside class="left-column mm-menu">
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>影像<p>images</p></dt>
                <dd class="column-icon column-img"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 本地影像</a></li>
                    <li class="last"><a href="#">· 本院影像</a></li>
                    <li><a href="#">· 分享历史</a></li>
                    <li class="last"><a href="#">· 推送记录</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>会诊间<p>consultation</p></dt>
                <dd class="column-icon column-cons"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 创建影像会诊</a></li>
                    <li class="last"><a href="#">· 影像会诊记录</a></li>
                    <li><a href="#">· 创建视频会诊</a></li>
                    <li class="last"><a href="#">· 视频会诊记录</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>报告岗位<p>post setting</p></dt>
                <dd class="column-icon column-job"></dd>
            </dl>
            <div class="column-detail">
                <ul>
                    <li><a href="#">· 报告岗位管理</a></li>
                    <li class="last"><a href="#">· 权限组管理</a></li>
                    <li><a href="#">· 账号管理</a></li>
                </ul>
            </div>
        </div>
        <div class="column-wide-block for-cwb">
            <dl>
                <dt>设置管理<p>settings</p></dt>
                <dd class="column-icon column-set"></dd>
            </dl>
            <div class="column-detail">
                <ul class="column-spe-ul" style="margin-top:14px;">
                    <li><a href="#">· 合作医院管理</a></li>
                    <li class="last"><a href="#">· 修改密码</a></li>
                    <li><a href="#">· 业务授权管理</a></li>
                    <li class="last"><a href="#">· 信息设置</a></li>
                    <li><a href="#">· 历史影像回溯</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <script src="../../js/jquery.sidebar.js"></script>
     <span class="mm-menu-toggle"></span>

 <section class="user-right wrapper">
    
    <div class="pay-select" style="padding:20px; background: #fff;">
          <h1>支付中心 <i>|</i> <em>影像报告</em></h1>
            <div class="pay-det">
              <h2>支付金额：<em>20.00</em> 元</h2>
              <p>提示：请在<strong>30分钟</strong>内支付完毕，逾期将自动取消</p>
            </div>
            <ul>
              <li><label>流水号：</label><span>2333302221254</span></li>
              <li><label>支付项目：</label><span>影像报告</span></li>
              <li>
                  <div class="user-select">
                      <p >当前账户余额 ：</p>
                      <div>
                          <span class="user-select-span grey-select">请选择</span>
                          <i></i>
                      </div>
                      <ul class="user-select-ul" style="">
                          <li><a href="javascript:;">线上支付</a></li>
                          <li><a href="javascript:;">线下支付</a></li>

                      </ul>
                  </div>

              </li>
              <li>
              <label>当前账户余额：</label><span><em>333.00</em> 元</span><i></i> <a href="#">充值 ></a></p></li>
              <li></li>
            </ul>
            <input type="button" class="blue-btn big-btn" value="确认支付" />
    </div>
 </section>
</div>

    <footer class="clearfix">
        <div class="footer footer980">
            <ul class="footer-info">
                <p>客服电话：400-0571-574   &nbsp; &nbsp; &nbsp;联系地址：杭州市上城区庆春路153号瑞丰大厦10楼    &nbsp; &nbsp; &nbsp; ICP证  浙B-20140372 浙ICP备11059294号-3 </p>
                <p>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </p>
                <br>
                <p style="font-size:11px;color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</p>
                <p style="font-size:11px;color:#b3b3b3;">请使用IE8浏览器，在至少1024*768屏幕分辨率下浏览本网站，若想获得最佳浏览体验，建议使用IE10或火狐、chrome等浏览器</p>
            </ul>
        </div>
    </footer>

    <script>
        (function(){
            $.divselect(".user-select",".user-select-ul",".user-select-span");

        })()
    </script>
</body>
</html>
