<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link href="../css/main.css?v=upd20160406" rel="stylesheet" type="text/css" />
<link rel="icon" href="../images/favicon.ico">
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<title>404 Error</title>
<script> 
   (function() {
     if (! 
     /*@cc-on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
</head>
<body>

    <div class="top-bg clearfix">
     <div class="width980">
      <div class="top-message"><a href=""><i></i><span>您有<em>32</em>条短消息</span></a></div>
      <div class="top-center">
        <ul>
          <li><a href="">你好，患者1</a></li>
          <li><a href="">帮助中心</a></li>
          <li><a href="" class="last">退出</a></li>
        </ul>
      </div>
     </div>
    </div>


<!-- <div class="main-box">
 <section class="error-main clearfix">
 <div class="error">
  <img src="../images/404.png" /> 
  <p>错误信息：<strong>连接失败</strong></p>
  <input type="button" class="navy-btn" value="返回首页" />
  </div>
 </section> 
 </div>
 -->

<!-- =============页面错误=========== -->
   <div class="no-page">
    <img src="../images/404.jpg" alt="">
    <div class="no-page-text">
        <p>您可以尝试以下操作：</p>
        <p>·&nbsp;&nbsp;稍后<a href="" class="orange">点击刷新</a></p>
        <p>·&nbsp;&nbsp;检查您的互联网状况</p>
        <p>·&nbsp;&nbsp;<a href="" class="green">返回首页</a></p>
    </div>
</div>


<!-- =============表格加载失败=========== -->
    <div style="display:block;">

        <div class="no-data">
        <img src="../images/failed.png" alt="">  
        <input type="button" value="重新加载"  class="reload">
        </div>
    </div>

</body>
</html>
