<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="../css/layout.css?v=upd20160406" rel="stylesheet" type="text/css" />
	<link href="../css/home.css?v=upd20160406" rel="stylesheet" type="text/css" />
	<link rel="icon" href="../images/favicon.ico">
	<link rel="stylesheet" href="../css/style.css"/>
	<script src="../js/jquery-1.9.1.min.js"></script>
	<script src="../js/jquery.slides.min.js"></script>
	<script src="../js/searchbar.js"></script>
	<script src="../js/jquery.marquee.js"></script>
	<script src="../js/jquery.sidebar.js"></script>
	<title>全球影像-首页</title>

	<script>
		(function() {
			if (!
						/*@cc_on!@*/
							0) return;
			var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
			var i= e.length;
			while (i--){
				document.createElement(e[i])
			}
		})()
	</script>

	<style>
		html * {  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  }
		*, *:after, *:before {-webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  }
		body, html { height: 100%;}
	</style>

</head>
<body>

<header class="main-header">
	<div class="width1000">
		<div class="logo-black"><a href="#"></a></div>
		<div class="header-search2">
			<ul>
				<li ><a href="#" class="header-magnifying-glass" ></a></li>
			</ul>
			<div class="search-box-show show">
				<input class="search-box"  />
				<span class="search-dc">找医生</span>
				<ul class="select-more" >
					<li style="float: none"><a href="#">找医生</a></li>
					<li style="float: none"><a href="#">找医院</a></li>
				</ul>
			</div>
		</div>

		<div class="header-hide" >
			<ul>
				<li style="position: relative"><a href="#">专题</a>
					<ul class="hidden-menu show" id="hidden-menu">
						<li></li>
						<li><a href="#">视频会诊</a></li>
						<li><a href="#">空中会诊</a></li>
					</ul>
				</li>
				<li><a href="#">APP</a></li>
				<li><a href="#">帮助</a></li>
<!-- 				<li class="hide"><a href="#">登录</a></li>
				<li class="hide"><a href="#">注册</a></li> -->

				<li style="width:100px;text-align: center ;font-size: 1em;margin-right: 0;" ><a href="#">欢迎，江波1234</a></li>
				<li style="width:24px; font-size: 1em;margin-right: 0;"  ><a href="#">退出</a></li>
				<li style=" width:auto;margin-right:0;"><i class="header-line"></i></li>
				<li style="width:41px; font-size: 1em ;margin-right: 0;" class="show">
					<a href="#">
						<i class="welcome-img"></i>
						<span>52</span>
					</a>
				</li>
			</ul>
		</div>
		<div >

		</div>
	<div class="clearfix"></div>

	<div class="hm-news " id="hm-news">
		<ul>
			<li><i></i>今晚8:00~12:00间网站将进行升级，请相关人员做好准备</li>
		</ul>
	</div>

	</div>


</header>

<main class="cd-main-content"  >
	<div class="cd-fixed-bg cd-bg-1" style="z-index: 100">
		<div class="hm-banner" style="width: 1000px;margin: 0 auto;">
			<ul>
				<div class="section-bg">
					<div class="section-imgs">
						<i class="imgs imgs-1"></i>
						<i class="imgs imgs-2"></i>
						<i class="imgs imgs-3"></i>
						<i class="imgs imgs-4"></i>
						<i class="imgs imgs-5"></i>
						<i class="imgs imgs-6"></i>
						<i class="imgs imgs-7"></i>

						<img src="../images/imgs/pills.png" alt=""  class="pills" />
						<img src="../images/imgs/The-bone.png" alt=""  class="the-bone" />
						<img src="../images/imgs/management.png" alt="" class="management" />
						<img src="../images/imgs/cases.png" alt="" class="cases" />
						<img src="../images/imgs/plus-sign.png" class="plus-sign" alt="" />
						<!--<img src="../imgs/x-photo.png" alt="" style="position:absolute;top:172px;left:390px;"/>-->
						<img src="../images/imgs/water.png"  class="water" alt="" />
						<img src="../images/../images/imgs/Ecg-computer.png"  class="ecg-computer" alt="" />

					</div>
					<div>
						<img src="../images/imgs/imac.png" alt="" style="position:absolute;top:0px;right:-169px;"/>
						<div class="section-slogan1">
							<h1>云影像</h1>
							<p>依托大影像数据 ( 包括放射、核磁超声等各种医学影像数据 ) 的采集、 云储存、 云计算、云共享等实现影像数据共享互通及集成管理， 为动态影像查询及专业化处理提供专业基础</p>
						</div>
					</div>
				</div>
			</ul>
			<ul>
				<div class="section-bg" >
					<div class="section-imgs" style="">
						<img src="../images/imgs/sky's-office.png" alt="" style="position: absolute;top:-9px;left:49px;"/>
					</div>
					<div class="section-slogan">
						<i class="sky"></i>
						<p>空中诊室作为支持医生移动办公的工具，医生可以设置多种服务形式（预约挂号、视频咨询、文字咨询等），从而更好地服务患者。</p>
					</div>
				</div>
			</ul>
		</div>
		<script>
			function animate(){
				$(".pills").animate({opacity:'0'},0).animate({opacity:'1'},6000).addClass("shake1");
				$(".the-bone").animate({opacity:'0'},0).animate({opacity:'1'},2000).addClass("shake2");
//               $(".management").animate({opacity:'0'},0).animate({opacity:'1'},3600).addClass("shake");
				$(".cases").animate({opacity:'0'},0).animate({opacity:'1'},10000).addClass("shake3");
				$(".plus-sign").animate({opacity:'0'},0).animate({opacity:'1'},8000).addClass("shake5");
				$(".water").animate({opacity:'0'},0).animate({opacity:'1'},12000).addClass("shake6");
				$(".ecg-computer").animate({opacity:'0'},0).animate({opacity:'1'},4000).addClass("shake7");
			};
			animate();
		</script>
	</div> <!-- cd-fixed-bg -->

	<div class="cd-scrolling-bg cd-color-2"style="z-index: 100">
		<div class="cd-container">
			<span class="header-bottom2"></span>
			<!--云医疗-->
			<div class="section-medical clearfix">

				<div class="medical-header">
					<p><i class="medical-icon"></i><span>云 医 疗</span></p>
				</div>

				<div class="medical-image" >
					<ul >
						<li class="medical-cheack">
							<a href="#"><i class="medical-imgs medical-disk-image"></i></a>

							<div class="medical-disk-image-block ">
								<div class="img-25-write">
									<h1>影像云盘</h1>
									<p>影像云盘基于“全球影像”的支持，为医生与患者提供DICOM原始影像信息和健康信息的存储，并提供隐私保护，实现多终端的信息调阅。</p>
								</div>
								<img  class="imgs-25" src="../images/imgs/imgs-25.png" alt="" />
							</div>

						</li>
						<li >
							<a href="#" ><i class="medical-imgs medical-doctor"></i></a>
							<div class="medical-disk-image-block">
								<div class="img-25-write">
									<h1>会诊间</h1>
									<p>会诊间作为“全球影像”的创新应用，为满足不同医生之间的沟通交流，可以进行实时视频会诊、学术讨论，可拓展成影像远程示教、协同操作的工作平台。</p>

								</div>
								<img class="imgs-25" src="../images/imgs/homemedical.png" alt=""  />
							</div>
						</li>
						<li >
							<a href="#" >

								<i class="medical-imgs medical-case"></i>
							</a>
							<div class="medical-disk-image-block">
								<div class="img-25-write">

									<h1>移动工作站</h1>
									<p>移动工作站，医生可以通过“全球影像”在移动工作站上进行影像报告的书写与审核，这让移动办公变成了现实。</p>
								</div>
								<img class="imgs-25" src="../images/imgs/homemedical1.png" alt=""  />
							</div>
						</li>
						<li >
							<a href="#" >
								<i class="medical-imgs medical-imac">

								</i>
							</a>
							<div class="medical-disk-image-block">
								<div class="img-25-write">
									<h1>空中诊室</h1>
									<p>空中诊室作为支持医生移动办公的工具，医生可以设置多种服务形式（预约挂号、视频咨询、文字咨询等），从而更好地服务患者。</p>


								</div>
								<img class="imgs-25" src="../images/imgs/homemedical2.png" alt="" />
							</div>

						</li>
						<li >
							<a href="#" ><i class="medical-imgs medical-two-way"></i></a>
							<div class="medical-disk-image-block show">
								<div class="img-25-write">
									<h1>双向转诊</h1>
									<p>双向转诊为区域内的不同级别医疗机构的信息流转提供了技术支持，可以实现区域院际的患者上线转诊，同时能够存储转诊业务数据。</p>
								</div>
								<img class="imgs-25" src="../images/imgs/homemedical3.png" alt=""/>
							</div>
						</li>
					</ul>

				</div>
			</div>
		</div> <!-- cd-container -->
	</div> <!-- cd-scrolling-bg -->

	<div class="cd-fixed-bg cd-bg-2" style="height: 700px;z-index: 9999">

		<!--医生介绍-->
		<div class="cd-container">
			<div class="doctor-introduced" style="padding-top: 100px;z-index: 9999">
				<div class="medical-header">
					<p style="margin-bottom: 60px;"><i class="introduced-icon"></i><span style="color: #788F9E;padding-bottom: 40px">专 家 团 队</span></p>
					<p style="font-size: 1.2em;width:290px;padding-right: 20px;"><span class="domestic">国内专家</span><span>|</span><span class="foreign">国外专家</span></p>
				</div>
				<div class="introduced">
					<div class="hm-doctor1" style="width: 750px;margin: 0 auto;">
						<ul>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0px;left:0px;"/>
								<a href="dochome.html" class="doc-av">
									<div class="doc-name" style="text-overflow: ellipsis;">李珍珍真真 </div><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position:absolute;top:139px;left:0px;
		"/>
								<a href="dochome.html" class="doc-av position-1">
									<p class="doc-name"><span>李珍珍</span> </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:423px;"/>
								<a href="dochome.html" class="doc-av position-2">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:423px;"/>
								<a href="dochome.html" class="doc-av position-3">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:0;"/>
								<a href="dochome.html" class="doc-av">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:0;"/>
								<a href="dochome.html" class="doc-av position-1">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:423px;"/>
								<a href="dochome.html" class="doc-av position-2">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:423px;"/>
								<a href="dochome.html" class="doc-av position-3">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:0;"/>
								<a href="dochome.html" class="doc-av">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:0;"/>
								<a href="dochome.html" class="doc-av position-1">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:423px;"/>
								<a href="dochome.html" class="doc-av position-2">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:423px;"/>
								<a href="dochome.html" class="doc-av position-3">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:0;"/>
								<a href="dochome.html" class="doc-av">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:0;"/>
								<a href="dochome.html" class="doc-av position-1">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:423px;"/>
								<a href="dochome.html" class="doc-av position-2">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:423px;"/>
								<a href="dochome.html" class="doc-av position-3">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:0;"/>
								<a href="dochome.html" class="doc-av">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:0;"/>
								<a href="dochome.html" class="doc-av position-1">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:423px;"/>
								<a href="dochome.html" class="doc-av position-2">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:423px;"/>
								<a href="dochome.html" class="doc-av position-3">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:0;"/>
								<a href="dochome.html" class="doc-av">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:0;"/>
								<a href="dochome.html" class="doc-av position-1">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:0;left:423px;"/>
								<a href="dochome.html" class="doc-av position-2">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>

							<li>
								<img src="http://www.eimageglobal.com/pImage/doctor/2368.jpg" alt="李珍珍" style="position: absolute;top:139px;left:423px;"/>
								<a href="dochome.html" class="doc-av position-3">
									<p class="doc-name">李珍珍 </p><p class="doc-zc">主任医师</p>
									<p class="doc-hp">内蒙古医科大学附属医院</p> <p class="doc-ks">内分泌科 </p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="the-divider"></div>
		</div>
		<!--热门医院-->
	</div> <!-- cd-fixed-bg -->
	<div class="cd-fixed-bg cd-bg-2" id="sec4">

		<!--热门医院-->
		<div class="hot-hospital ">
			<div class="the-hospital">
				<div class="medical-header" style="padding-top:0 ">
					<p style="margin-bottom: 60px;"><i class="hot-hospital-icon"></i><span style="color: #C6C3BD;padding-bottom: 30px">热 门 医 院</span></p>
				</div>

				<div class="hm-hos-area">
					<a href="#" class="hm-area">上海</a>
					<a href="#" class="hm-area">浙江</a>
					<a href="#" class="hm-area">内蒙古</a>
					<a href="#" class="hm-area">其他地区</a>
				</div>

				<div class="hm-hos">
					<ul class="hm-hp clearfix">
						<li class="hos1">
							<a href="#">
								<img src="../images/z1.jpg" alt="" />
								<p>上海交大附属第九人民医院</p>
							</a>
						</li>
						<li class="hos2">
							<a href="#">
								<img src="../images/z2.jpg" alt="" />
								<p>上海新华医院</p>
							</a>
						</li>
						<li class="hos3">
							<a href="#">
								<img src="../images/z3.jpg" alt="" />
								<p>上海仁济医院</p>
							</a>
						</li>
						<li class="hos4">
							<a href="#">
								<img src="../images/z2.jpg" alt="" />
								<p>上海公共临床卫生中心</p>
							</a>
						</li>
						<li class="hos4">
							<a href="#">
								<img src="../images/z2.jpg" alt="" />
								<p>上海公共临床卫生中心</p>
							</a>
						</li>
						<li class="hos4">
							<a href="#">
								<img src="../images/z2.jpg" alt="" />
								<p>上海公共临床卫生中心</p>
							</a>
						</li>
						<li class="more">
							<a href="#">更多 >></a>
						</li>
					</ul>
					<ul class="area-other" style="display:none;">
						<li><a href="#">复旦大学附属华山医院</a></li>
						<li><a href="#">复旦大学附属肿瘤医院</a></li>
						<li><a href="#">复旦大学附属中山医院</a></li>
						<li><a href="#">复旦大学附属耳眼鼻喉专科医院</a></li>
						<li><a href="#">复旦大学附属妇产科医院（黄埔）</a></li>
						<li><a href="#">上海中医药大学附属岳阳中西医医院</a></li>
					</ul>

				</div>
			</div>
		</div>

	</div> <!-- cd-fixed-bg -->


	<div class="cd-scrolling-bg cd-color-3">
		<div class="cd-container">
			<!--!--&lt;!&ndash;垂直专科&ndash;&gt;&ndash;&gt;-->
			<div class="vertical-specialized clearfix">

				<div class="vertical-specialized-subject"  style="background-position: 100% 0px;">
					<div class="vertical-header">
						<p style="margin-bottom: 60px;text-align: center;"><i class="vertical-icon"></i><span class="vertical-write">垂 直 专 科</span></p>
					</div>
					<div class="vertical-imgs">
						<div class="the-heart" onmousemove="running1()" onmouseout="out()" >
							<img src="../images/imgs/The-heart.png" alt="心脏" />
							<div class="movement show" ></div>
							<p class="vertical-name">心血管科</p>
						</div>
						<div class="lymph-node" onmousemove="running2()" onmouseout="out()">
							<img src="../images/imgs/Lymph-node.png" alt="淋巴结"/>
							<div class="movement show"></div>
							<p class="vertical-name">靶向肿瘤科</p>
						</div>
						<div class="ultrasonic" onmousemove="running3()" onmouseout="out()">
							<img src="../images/imgs/ultrasonic.png" alt="超声医学科"/>
							<div class="movement show"></div>
							<p class="vertical-name">超声医学科</p>
						</div>
						<div class="the-brain" onmousemove="running4()" onmouseout="out()">
							<img src="../images/imgs/The-brain.png" alt="大脑"/>
							<div class="movement show"></div>
							<p class="vertical-name">颅脑与神经外科</p>
						</div>
						<div class="oa" onmousemove="running5()" onmouseout="out()">
							<img src="../images/imgs/Oa.png" alt="风湿免疫节"/>
							<div class="movement show"></div>
							<p class="vertical-name">风湿免疫科</p>
						</div>
						<div class="radiation" onmousemove="running6()" onmouseout="out()">
							<img src="../images/imgs/radiation.png" alt="放射"/>
							<div class="movement show"></div>
							<p class="vertical-name">放射与介入科</p>
						</div>
						<div class="the-emergency" onmousemove="running7()" onmouseout="out()">
							<img src="../images/imgs/The-emergency.png" alt="急诊"/>
							<div class="movement show"></div>
							<p class="vertical-name">急诊远程干预</p>
						</div>
						<div class="lung" onmousemove="running8()" onmouseout="out()">
							<img src="../images/imgs/lung.png" alt="肺"/>
							<div class="movement show"></div>
							<p class="vertical-name">肺与乳腺科</p>
						</div>
					</div>
				</div>
			</div>
			<script>
				function running1(){
					$(".the-heart").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});

				}
				function running2(){
					$(".lymph-node").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});

				}
				function running3(){

					$(".ultrasonic").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});

				}
				function running4(){
					$(".the-brain").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});

				}
				function running5(){
					$(".oa").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});
				}
				function running6(){
					$(".radiation").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});
				}
				function running7(){
					$(".the-emergency").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});
				}
				function running8(){
					$(".lung").each(function () {
						var that = $(this);
						that.find(".movement").removeClass("show")
					});
				}
				function out(){

					$(".the-heart").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});

					$(".lymph-node").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});
					$(".lung").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});

					$(".the-brain").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});

					$(".oa").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});

					$(".radiation").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});

					$(".the-emergency").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});
					$(".ultrasonic").each(function () {
						var that = $(this);
						that.find(".movement").addClass("show")
					});
				}
			</script>
		</div> <!-- cd-container -->
	</div> <!-- cd-scrolling-bg -->

	<div class="cd-fixed-bg cd-bg-3">
		<!--地域应用-->
		<div class="hm-sec5 regional-application " id="sec5">

			<div class="regional hm-project" style="padding-bottom: 150px;">

				<div class="regional-header">
					<p style="margin-bottom: 60px;text-align: center;"><i class="regional-icon"></i><span class="regional-write" style="display: inline-block">区 域 应 用</span></p>
				</div>

				<div class="hm-pro-map" >
					<ul>
                                <li class="map-nmg"><a href="themes/nmg.html"></a><span>内蒙古云影像平台</span></li>
                                <li class="map-ks"><a href="themes/ksyc.html"></a><span>援建喀什远程移动影像系统</span></li>
                                <li class="map-xn"><a href="themes/jkxn.html"></a><span>健康西宁</span></li>
                                <li class="map-xz"><a href="themes/txxz.html"></a><span>同心西藏云影像远程系统</span></li>
                                <li class="map-sc"><a href="themes/sichuan.html"></a><span>健康四川影像云平台</span></li>
                                <li class="map-gz"><a href="themes/ysgz.html"></a><span>云上贵州·影像云</span></li>
                                <li class="map-lz"><a href="themes/gxlz.html"></a><span>柳州市分级诊疗签约平台</span></li>
                                <li class="map-jx"><a href="#"></a><span>江西云影像平台</span></li>
                                <li class="map-pt"><a href="themes/fjpt.html"></a><span>莆田市影像医生签约基层服务平台</span></li>
                                <li class="map-hb"><a href="#"></a><span>湖北云影像平台</span></li>
                                <li class="map-sh"><a href="#"></a><span>上海主任专家分诊咨询</span></li>
                                <li class="map-ah"><a href="#"></a><span>合肥市互联网医院</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div> <!-- cd-fixed-bg -->


	<footer class="clearfix" style="z-index: 999;">
		<div class="footer footer980">
			<ul class="footer-text fl">
				<li style="color:#7d7d7d;">本网站为医疗机构、医生提供专业诊断交流平台，相关行业法律法规由医疗机构、医生自行参考<br/>为注册用户提供咨询平台，咨询所得意见仅供参考，本网站不承担由此引起的任何法律责任。</li>
				<li class="padding"></li>
				<li>客服电话：<h2>400-0571-574</h2>  &nbsp; &nbsp; &nbsp;ICP证  浙B-20140372 浙ICP备11059294号-3&nbsp; &nbsp;<a target="-blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010202000272" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../images/beian.png" style="float:left;">浙公网安备 33010202000272号<p></p></a> </li>
				<li>联系地址：杭州市上城区中河中路258号瑞丰国际商务大厦9D、10E、15F    &nbsp; &nbsp; &nbsp; </li>
				<li>杭州联众医疗科技股份有限公司   &nbsp; &nbsp; &nbsp;  Copyright @ Hangzhou Lianzhong Medical Technology Co., Ltd. </li>
				<li style="margin-bottom:20px;color:#aaa;">为了本站的正常浏览，建议您使用IE 9及以上的IE浏览器或chrome、firefox等浏览器</li>
			</ul>
			<ul class="footer-img">
				<li>专家版<img src="../images/2code.jpg"></li>
				<li>大众版<img src="../images/2code.jpg"></li>
			</ul>
		</div>
	</footer>

</main> <!-- cd-main-content -->


<script src="../js/jquery.home.js"></script>
<script>
	$(function(){
		$('.hm-banner').slidesjs({
			width: 980,
			height:450,
			play: {
				effect: "fade",
				active:false,
				interval: 5000,
				auto: true,
				restartDelay: 2500,
				pauseOnHover: true
			},
			pagination: {
				active: true,
				effect: "fade"
			},
			navigation: {
				active: true,
				effect: "fade"
			},
			effect: {
				fade: {
					speed: 2000
				}
			}
		});

		$('.hm-doctor1').slidesjs({
			width: 930,
			height:420,
			auto:true,
			play: {
				effect: "slide",
				active:false,
				interval: 5000,
				auto: true,
				restartDelay: 2500,
				pauseOnHover: true
			},
			pagination: {
				active: false,
				effect: "slide"
			},
			navigation: {
				active: true,
				effect: "slide"
			},
			effect: {
				fade: {
					speed: 2000
				}
			}
		});
});

</script>
<script>


    $("#hm-news").marquee({  
        direction:"left",  
        speed:30  
    });
</script>
</body>
</html>